<!doctype html>
<html lang="vi">
<head>
    <title>Giỏ hàng</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
    <%- include layouts/head %>
    
</head>

<body id="cart" class="lang-en country-us currency-eur layout-full-width page-cart tax-display-disabled cart-empty">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
            <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="index.html">
                                <span itemprop="name">Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <section id="main">
                            <div class="cart-grid row">
                                <!-- Left Block: cart product informations & shpping -->
                                <div class="cart-grid-body col-xs-12 col-lg-8">
                                    <!-- cart products detailed -->
                                    <div class="card cart-container">
                                        <div class="card-block">
                                            <h1 class="h1">Giỏ hàng của bạn</h1>
                                        </div>
                                        <hr class="separator">
                                        <div class="cart-overview js-cart" >
                                            
                                        </div>
                                    </div>
                                    <a class="label" href="/">
                                        <i class="material-icons">chevron_left</i>Tiếp tục mua sắm
                                    </a>
                                    <!-- shipping informations -->
                                </div>
                                <!-- Right Block: cart subtotal & cart total -->
                                <div class="cart-grid-right col-xs-12 col-lg-4">
                                    <div class="card cart-summary">
                                        <div class="cart-detailed-totals">
                                            <div class="card-block">
                                                <div class="cart-summary-line" id="cart-subtotal-products">
                                                    <span class="label js-subtotal" data-total-quantity="0">
                                                        0 sản phẩm
                                                    </span>
                                                    <span class="value" data-raw-price="0">0 VNĐ</span>
                                                </div>
                                                <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                    <span class="label">
                                                        Phí vận chuyển
                                                    </span>
                                                    <span class="value">0 VNĐ</span>
                                                    <div><small class="value"></small></div>
                                                </div>
                                            </div>
                                            <hr class="separator">
                                            <div class="card-block">
                                                <div class="voucher-input">
                                                    <div class="voucher-input-inner" style="display: table;
                                                    width: 100%;
                                                    margin-bottom: 4px;">
                                                        <div class="voucher-input-col" style="display: table-cell;
                                                        vertical-align: middle">
                                                            <span class="next-input next-input-single next-input-medium clear voucher-input-control" style="display: inline-table;
                                                            border-collapse: separate;
                                                            overflow: visible;
                                                            border: 1px solid #eff0f5;
                                                            border-spacing: 0;
                                                            background-color: #fff;
                                                            transition: all .3s ease-out;">
                                                                <input type="text" id="voucher-input" placeholder="Nhập mã giảm giá" value="" height="100%" style="height: 38px;
                                                                
                                                                margin: 0;
                                                                font-size: 14px;
                                                                width: 100%;
                                                                border: none;
                                                                outline: none;
                                                                padding: 0;
                                                                font-weight: 400;
                                                                vertical-align: baseline;
                                                                background-color: transparent;">
                                                            </span>
                                                        </div>
                                                    <div class="voucher-input-col">
                                                        <button type="button" class="btn btn-primary">Áp dụng</button>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <hr class="separator">
                                            <div class="card-block">
                                                <div class="cart-summary-line cart-total">
                                                    <span class="label">Tổng đơn hàng</span>
                                                    <span class="value" data-total-raw-price="0">0 VNĐ</span>
                                                </div>  
                                            </div>
                                            <hr class="separator">
                                        </div>
                                        <div class="checkout text-sm-center card-block">
                                            <button type="button" class="btn btn-primary">Tiến hành thanh toán</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>    
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
<script type="text/javascript">

    getProductsCartCheckOut();

    $('.checkout button').click((e) => {
        if (!localStorage.cart) { return } 

        try {
            var cart = JSON.parse(localStorage.cart);
            if (!cart || !cart.products) {  return }
            if (cart.products.length == 0) { return }
            window.location.href = '/order/check-out'
        } catch (error) {
            return
        }        
    });

    $('.cart-overview').delegate('a.remove-from-cart', 'click', (e) => {
        var id = $(e.currentTarget).attr('data-id-product'),
        color = $(e.currentTarget).attr('data-color-product'),
        price = $(e.currentTarget).attr('data-raw-price'),
        quantity = $(e.currentTarget.parentElement.parentElement.parentElement).find(`input#${id}`).val();

        //remove it in localStorage
        if (removeFromCart(id, color)) {

            var cartSummary = $('.cart-summary');

            var totalItems = $(cartSummary).find('div#cart-subtotal-products span.js-subtotal').attr('data-total-quantity');
            var totalSubPrices = $(cartSummary).find('div#cart-subtotal-products span.value').attr('data-raw-price');
            var totalPrices = $(cartSummary).find('div.cart-total span.value').attr('data-total-raw-price');

            //adjust in summary cart
            $(cartSummary).find('div#cart-subtotal-products span.js-subtotal').attr('data-total-quantity', totalItems - 1);
            $(cartSummary).find('div#cart-subtotal-products span.js-subtotal').text(totalItems - 1 + " sản phẩm");
            $(cartSummary).find('div#cart-subtotal-products span.value').text(numberWithCommas(totalSubPrices - (quantity * price)) + " VNĐ")
            $(cartSummary).find('div#cart-subtotal-products span.value').attr('data-raw-price', totalSubPrices - (quantity * price))
            $(cartSummary).find('div.cart-total span.value').attr('data-total-raw-price', totalSubPrices - (quantity * price));
            $(cartSummary).find('div.cart-total span.value').text(numberWithCommas(totalSubPrices - (quantity * price)) + " VNĐ")

            //adjust in header
            fetchCartPreview();

            $('.cart-overview').find(`li[data-id-product=${id}]`).remove();
        } 
    });

</script>
</html>