<!doctype html>
<html lang="vi">

<head>
    <title>Thanh toán</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <%- include layouts/head %>

</head>

<body id="checkout" class="lang-en country-us currency-usd layout-full-width page-order tax-display-disabled">
    <header id="header">
        <div class="header-banner">
        </div>
        <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
                <%- include layouts/header-bottom %>
    </header>
    <div class="headerSpace unvisible" style="height: 226px;"></div>
    <aside id="notifications">
        <div class="container">
        </div>
    </aside>
    <section id="wrapper">
        <div class="container">
            <section id="content">
                <div class="row">
                    <div class="col-md-8">

                        <% if (data.user && data.token) { %>
                            <% var fullName = data.user.fullName.firstName + " " + data.user.fullName.lastName %>
                            <section id="checkout-personal-information-step" class="checkout-step -reachable -complete">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">1</span>
                                    Thông tin cá nhân
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <p class="identity">
                                        Đã đăng nhập với tài khoản
                                        <a href="/my-account">
                                            <%- fullName %>
                                        </a>.
                                    </p>
                                    <p>
                                        Không phải là bạn
                                        <a href="javascript: logout()">Đăng xuất</a>
                                    </p>
                                    <p>
                                        <small>Nếu bạn đăng xuất ngay lúc này, giỏ hàng của bạn sẽ bị xoá.</small>
                                    </p>
                                </div>
                            </section>
                            <section id="checkout-addresses-step" class="checkout-step -current -reachable js-current-step">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">2</span>
                                    Địa chỉ nhận hàng
                                    <span class="step-edit text-muted">
                                    <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <div class="js-address-form">
                                        <form>
                                            <p>
                                                Địa chỉ đã chọn sẽ được sử dụng làm địa chỉ cá nhân (cho hóa đơn) và địa chỉ giao hàng của bạn.
                                            </p>
                                            <div id="delivery-address">
                                                <div class="js-address-form">
                                                    <section class="form-fields">
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Họ
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="firstname" type="text" value="<%- data.user.fullName.firstName %>" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tên
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="lastname" type="text" value="<%- data.user.fullName.lastName %>" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Địa chỉ nhận hàng
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="address1" type="text" value="" maxlength="128" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tỉnh/ Thành Phố
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_state" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Huyện/ Thị xã
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_district" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Mã bưu điện
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="postcode" type="text" value="" maxlength="12" required="" pattern="[0-9]{6}" >
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label">
                                                                Số điện thoại
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="phone" type="text" value="<%- data.user.phone %>" maxlength="32" required="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-md-offset-3">
                                                                <input name="use_same_address" type="checkbox" value="1" checked="">
                                                                <label>Use this address for invoice too</label>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <footer class="form-footer clearfix">
                                                        <button type="submit" class="continue btn btn-primary float-xs-right" name="confirm-addresses" value="1">
                                                            Tiếp tục
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        <% } else { %>
                            <section id="checkout-personal-information-step" class="checkout-step -reachable -current js-current-step">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">1</span>
                                    Thông tin cá nhân
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <ul class="nav nav-inline my-2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#checkout-guest-form" role="tab" aria-controls="checkout-guest-form" aria-selected="true">
                                                Đăng kí ngay
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <span href="nav-separator"> | </span>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " data-link-action="show-login-form" data-toggle="tab" href="#checkout-login-form" role="tab" aria-controls="checkout-login-form">
                                                Đăng nhập
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="checkout-guest-form" role="tabpanel">
                                            <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/order" id="customer-form" class="js-customer-form" method="post">
                                                <section>
                                                    <input type="hidden" name="id_customer" value="">
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Giới tính
                                                        </label>
                                                        <div class="col-md-6 form-control-valign">
                                                            <label class="radio-inline">
                                                                <span class="custom-radio">
                                                                    <input name="id_gender" type="radio" value="1">
                                                                    <span></span>
                                                                </span>
                                                                Nam
                                                            </label>
                                                            <label class="radio-inline">
                                                                <span class="custom-radio">
                                                                    <input name="id_gender" type="radio" value="2">
                                                                    <span></span>
                                                                </span>
                                                                Nữ
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Họ
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="firstname" type="text" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Tên
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="lastname" type="text" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Email
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="email" type="email" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Mật khẩu
                                                        </label>
                                                        <div class="col-md-6">
                                                            <div class="input-group js-parent-focus">
                                                                <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Ngày sinh
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="birthday" type="text" value="" placeholder="MM/DD/YYYY">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                            Optional
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                        </label>
                                                        <div class="col-md-6">
                                                            <span class="custom-checkbox">
                                                                <input id="register-newsletter" name="newsletter" type="checkbox" value="1">
                                                                <span>
                                                                    <i class="material-icons checkbox-checked"></i>
                                                                </span>
                                                                <label for="register-newsletter">Đăng ký nhận tin mới qua email
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </section>
                                                <footer class="form-footer clearfix">
                                                    <input type="hidden" name="submitCreate" value="1">
                                                    <button class="continue btn btn-primary float-xs-right" name="continue" data-link-action="register-new-customer" type="submit"
                                                        value="1">
                                                        Tiếp tục
                                                    </button>
                                                </footer>
                                            </form>
                                        </div>
                                        <div class="tab-pane " id="checkout-login-form" role="tabpanel" aria-hidden="true">
                                            <form id="login-form" action="http://demo.posthemes.com/pos_fastbuy/layout2/en/order" method="post">
                                                <section>
                                                    <input type="hidden" name="back" value="">
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Email
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="email" type="email" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Mật khẩu
                                                        </label>
                                                        <div class="col-md-6">
                                                            <div class="input-group js-parent-focus">
                                                                <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="forgot-password">
                                                        <a href="/password-recovery" rel="nofollow">
                                                            Quên mật khẩu?
                                                        </a>
                                                    </div>
                                                </section>
                                                <footer class="form-footer text-sm-center clearfix">
                                                    <input type="hidden" name="submitLogin" value="1">
                                                    <button class="continue btn btn-primary float-xs-right" name="continue" data-link-action="sign-in" type="submit" value="1">
                                                        Tiếp tục
                                                    </button>
                                                </footer>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="checkout-addresses-step" class="checkout-step -unreachable">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">2</span>
                                    Addresses
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <div class="js-address-form">
                                        <form>
                                            <p>
                                                Địa chỉ đã chọn sẽ được sử dụng làm địa chỉ cá nhân (cho hóa đơn) và địa chỉ giao hàng của bạn.
                                            </p>
                                            <div id="delivery-address">
                                                <div class="js-address-form">
                                                    <section class="form-fields">
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Họ
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="firstname" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tên
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="lastname" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Địa chỉ nhận hàng
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="address1" type="text" value="" maxlength="128" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tỉnh/ Thành Phố
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_state" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Huyện/ Thị xã
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_district" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Mã bưu điện
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="postcode" type="text" value="" maxlength="12" required="" pattern="^\\d{6}$">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label">
                                                                Số điện thoại
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="phone" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="saveAddress" value="delivery">
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-md-offset-3">
                                                                <input name="use_same_address" type="checkbox" value="1" checked="">
                                                                <label>Use this address for invoice too</label>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <footer class="form-footer clearfix">
                                                        <input type="hidden" name="submitAddress" value="1">
                                                        <button type="submit" class="continue btn btn-primary float-xs-right" name="confirm-addresses" value="1">
                                                            Tiếp tục
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        <% } %>

                    <section id="checkout-delivery-step" class="checkout-step -unreachable">
                        <h1 class="step-title h3">
                            <span class="step-number">3</span>
                            Phương thức vận chuyển
                        </h1>
                        <div class="content">
                            <div id="hook-display-before-carrier">
                            </div>
                        <div class="delivery-options-list">
                            <form class="clearfix" id="js-delivery">
                                <div class="form-fields">
                                    <div class="delivery-options">
                                        <div class="row delivery-option">
                                            <div class="col-sm-1">
                                                <span class="custom-radio float-xs-left">
                                                <input type="radio" name="delivery_option[27]" id="delivery_option_2" value="2," checked="">
                                                <span></span>
                                                </span>
                                            </div>
                                            <label for="delivery_option_2" class="col-sm-11 delivery-option-2">
                                                <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                        <img src="http://yankeecrosleyparts.com/wp-content/uploads/2017/08/3937634_23308449eb9f40539a4f9e4a07d78ca1_logo.png" alt="My carrier">
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <span class="h6 carrier-name">Viettel Post</span>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <span class="carrier-delay">Chuyển hàng từ 3 -7 ngày!</span>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <span class="carrier-price">miễn phí.</span>
                                                </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="row carrier-extra-content">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="order-options">
                                        <div id="delivery">
                                            <label for="delivery_message">Nếu muốn thêm ghi chú về đơn đặt hàng của bạn, vui lòng ghi vào trường bên dưới.</label>
                                            <textarea rows="2" cols="120" id="delivery_message" name="delivery_message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="continue btn btn-primary float-xs-right" name="confirmDeliveryOption" value="1">
                                    Tiếp tục
                                </button>
                            </form>
                        </div>
                        <div id="hook-display-after-carrier">
                        </div>
                        <div id="extra_carrier"></div>
                        </div>
                    </section>

                    <section id="checkout-payment-step" class="checkout-step -unreachable">
                        <h1 class="step-title h3">
                            <i class="material-icons done"></i>
                            <span class="step-number">4</span>
                            Phương thức thanh toán
                            <span class="step-edit text-muted"><i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                        </h1>
                        <div class="content">
                            <div class="payment-options ">
                                <!-- <p class="alert alert-danger">Unfortunately, there is no payment method available.</p> -->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <!--promotion method, cod, zalopay, momo-->
                                        <div class="form-group row row-style-3  method_payment_cod">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                <span class="custom-radio float-xs-left">
                                                    <input type="radio" id="payment-method-cod" name="payment-method-option" value="1" checked="">
                                                    <span></span>
                                                </span>
                                            </div>
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pad-right-10">
                                                <label for="payment-method-cod" class="control-label is-large">
                                                    Thanh toán tiền mặt khi nhận hàng </label>
                                            </div>
                                        </div>
                                        <div class="form-group row row-style-3 js-payment-sub js-cybersource-group" style="display: none;">
                                            <div class="col-lg-11 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                                                <div class="panel panel-default payment-sub is-small">
                                                    <div class="panel-body">
                                                        <div class="cybersource-form" id="paymentDetailsSection">
                                                            <div id="frm-cybersource-token" class="div-cybersource-method">
                                                            </div>
                                                            <div id="frm-cybersource-card" class="div-cybersource-method">
                                                                <div class="form-group is-modified">
                                                                    <label for="new-card" class="icheck-wrap">
                                                                        <div class="iradio_square-blue checked" style="position: relative;">
                                                                            <input class="icheck js-icheck-2 input-cybersouce-method" value="" type="radio" name="payment_token" id="new-card" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                                                            <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                                                        </div>
                                                                    </label>
                                                                    <label class="is-style-2" for="new-card">Nhập số thẻ mới</label>
                                                                    <label class="new-group card-credit-list" for="new-card">
                                                                        <span class="card-credit card-visa is-active"></span><span class="card-credit card-mastercard is-active"></span><span class="card-credit card-jcb is-active"></span>
                                                                    </label>
                                                                    <div class="new-group-sub" style="display:block">
                                                                        <div class="form-group" id="div-card-num">
                                                                            <label for="card_number">Số thẻ:</label>
                                                                            <input type="text" class="form-control" id="card_number" name="card_number" placeholder="VD: 4123 4567 8901 2345" value="">
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                        <div class="form-group" id="select-card-type">
                                                                            <label class="select-card-type-title">Loại thẻ</label>
                                                                            <label for="select-card-type-radio-1" class="icheck-wrap select-card-type-item is-visa">
                                                                                <div class="iradio_square-blue" style="position: relative;">
                                                                                    <input class="icheck" id="select-card-type-radio-1" type="radio" name="input-card-type" value="visa" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                                                                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                                                                </div>
                                                                                <span>Visa</span>
                                                                            </label>
                                                                            <label for="select-card-type-radio-2" class="icheck-wrap select-card-type-item is-master">
                                                                                <div class="iradio_square-blue" style="position: relative;">
                                                                                    <input class="icheck" id="select-card-type-radio-2" type="radio" name="input-card-type" value="mastercard" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                                                                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                                                                </div>
                                                                                <span>Master</span>
                                                                            </label>
                                                                            <label for="select-card-type-radio-3" class="icheck-wrap select-card-type-item is-jcb">
                                                                                <div class="iradio_square-blue" style="position: relative;">
                                                                                    <input class="icheck" id="select-card-type-radio-3" type="radio" name="input-card-type" value="jcb" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                                                                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                                                                </div>
                                                                                <span>JCB</span>
                                                                            </label>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="bill_to_name">Tên in trên thẻ:</label>
                                                                            <input type="text" class="form-control" id="bill_to_name" name="bill_to_name" placeholder="vd: Nguyen Van A" value="">
                                                                        </div>
                                                                        <div class="form-group" id="select-card-date">
                                                                            <label for="">Ngày hết hạn:</label>
                                                                            <div class="end-date-cvc">
                                                                                <input type="text" id="card_expiry" class="form-control is-small-2 expiry-date-input-fake" value="" placeholder="MM/YY" autocomplete="off">
                                                                                <input type="hidden" name="card_expiry_date" value="">
                                                                            </div>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="">Mã bảo mật:</label>
                                                                            <div class="end-date-cvc">
                                                                                <input type="text" class="form-control is-small-2" id="card_cvn" name="card_cvn" placeholder="VD: 123" value="" autocomplete="off">
                                                                                <i class="cvc-hint-icon"></i>
                                                                            </div>
                                                                            <span class="help-block"></span>
                                                                        </div>
                                                                        <div class="form-group has-margin">
                                                                            <label for="card_save" class="icheck-wrap is-style-3">
                                                                                <div class="icheckbox_square-blue checked" style="position: relative;">
                                                                                    <input name="" type="checkbox" id="card_save" class="icheck" value="1" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                                                                    <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                                                                </div>
                                                                            </label>
                                                                            <label for="card_save" class="is-style-3">Lưu và bảo mật thẻ cho lần thanh toán sau</label>
                                                                            <label style="margin-top: 5px" class="is-style-3"><i>Tiki không trực tiếp lưu thẻ của bạn. Để đảm bảo an toàn, thông tin thẻ của bạn chỉ được lưu bởi CyberSource, công ty quản lý thanh toán lớn nhất thế giới (thuộc tổ chức VISA)</i></label>
                                                                        </div>
                                                                        <div class="credit-card-guide-wrap hidden-xs hidden-sm">
                                                                            <span class="credit-card-guide"></span>
                                                                            <p class="note">Vui lòng chú ý kiểm tra tin nhắn nếu có yêu cầu.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="bin_code" value="">
                                                                <input type="hidden" name="signed_field_names" value="access_key,profile_id,transaction_uuid,signed_field_names,unsigned_field_names,signed_date_time,locale,transaction_type,reference_number,amount,currency,bill_to_forename,bill_to_surname,bill_to_email,bill_to_address_line1,bill_to_address_city,bill_to_address_country,customer_ip_address,payment_method,device_fingerprint_id">
                                                                <input type="hidden" name="bill_to_forename" value="fgfdgdfgdf">
                                                                <input type="hidden" name="bill_to_surname" value="dfgdfg">
                                                                <input type="hidden" name="bill_to_email" value="tuanbinhminh1@gmail.com">
                                                                <input type="hidden" name="bill_to_address_line1" value="123213123123">
                                                                <input type="hidden" name="bill_to_address_line2" value="Phuong Cua Nam. Quan Hoan Kiem">
                                                                <input type="hidden" name="bill_to_address_city" value="Ha Noi">
                                                                <input type="hidden" name="bill_to_address_country" value="VN">
                                                                <input type="hidden" name="unsigned_field_names" value="card_number,card_expiry_date,card_type,card_cvn">
                                                                <input type="hidden" name="payment_method" value="card">
                                                                <input type="hidden" name="card_type" value="002">
                                                                <input type="hidden" name="transaction_type" value="sale">
                                                                <input type="hidden" name="bill_to_phone" value="213123123123">
                                                            </div>
                                                            <span style="color: #b7071e;display: block;font-size: 11px;margin-left: 5px;margin-top: 12px;max-width: none;width: auto;" class="help-block is-modified" id="valid-failed"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--promotion method, cod, zalopay, momo-->
                                        <div class="form-group row row-style-3  ">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                    <span class="custom-radio float-xs-left">
                                                            <input type="radio" id="pay-method-vnpay" name="payment-method-option" value="2">
                                                            <span></span>
                                                            </span>
                                            </div>
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pad-right-10">
                                                <label for="pay-method-vnpay" class="control-label is-large">
                                                    Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán) </label>
                                            </div>
                                        </div>
                                        <!--123pay method-->
                                        <div class="form-group row row-style-3 js-payment-sub" style="display: none;">
                                            <div class="col-lg-11 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                                                <div class="panel panel-default payment-sub is-small js-atm-list">
                                                    <div class="panel-body">
                                                        <input type="hidden" name="atm-id" value="13">
                                                        <ul class="bank">
                                                            <li><a title="Vietcombank" alt="Vietcombank" href="javascript:void(0)" class="li-bank" data-atm-id="1"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PVCB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Sacombank" alt="Sacombank" href="javascript:void(0)" class="li-bank" data-atm-id="2"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PSCB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="ACB" alt="ACB" href="javascript:void(0)" class="li-bank" data-atm-id="3"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PACB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Vietinbank" alt="Vietinbank" href="javascript:void(0)" class="li-bank" data-atm-id="4"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PVTB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="DongA Bank" alt="DongA Bank" href="javascript:void(0)" class="li-bank" data-atm-id="5"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PDAB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="VIB" alt="VIB" href="javascript:void(0)" class="li-bank" data-atm-id="6"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PVIB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="TPBank" alt="TPBank" href="javascript:void(0)" class="li-bank" data-atm-id="8"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PTPB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="VPBank" alt="VPBank" href="javascript:void(0)" class="li-bank" data-atm-id="9"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PVPB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Techcombank" alt="Techcombank" href="javascript:void(0)" class="li-bank" data-atm-id="10"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PTCB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Eximbank" alt="Eximbank" href="javascript:void(0)" class="li-bank" data-atm-id="11"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PEIB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li class=""><a title="Maritime Bank" alt="Maritime Bank" href="javascript:void(0)" class="li-bank" data-atm-id="12"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PMRTB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li class="active"><a title="Agribank" alt="Agribank" href="javascript:void(0)" class="li-bank" data-atm-id="13"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PAGB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Quân Đội (MBBank)" alt="Quân Đội (MBBank)" href="javascript:void(0)" class="li-bank" data-atm-id="14"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PMB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="SHB" alt="SHB" href="javascript:void(0)" class="li-bank" data-atm-id="15"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PSHB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="SeABank" alt="SeABank" href="javascript:void(0)" class="li-bank" data-atm-id="16"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PSEAB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="HDBank" alt="HDBank" href="javascript:void(0)" class="li-bank" data-atm-id="17"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PHDB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Việt Á" alt="Việt Á" href="javascript:void(0)" class="li-bank" data-atm-id="18"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PVAB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="OceanBank" alt="OceanBank" href="javascript:void(0)" class="li-bank" data-atm-id="19"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123POCEB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="OCB" alt="OCB" href="javascript:void(0)" class="li-bank" data-atm-id="20"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123POCB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Bac A Bank" alt="Bac A Bank" href="javascript:void(0)" class="li-bank" data-atm-id="21"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PBAB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Nam A Bank" alt="Nam A Bank" href="javascript:void(0)" class="li-bank" data-atm-id="22"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PNAB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="NCB" alt="NCB" href="javascript:void(0)" class="li-bank" data-atm-id="23"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PNVB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="BaoVietBank" alt="BaoVietBank" href="javascript:void(0)" class="li-bank" data-atm-id="24"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PBVB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="LienVietPostBank" alt="LienVietPostBank" href="javascript:void(0)" class="li-bank" data-atm-id="25"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PLPB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="GPBank" alt="GPBank" href="javascript:void(0)" class="li-bank" data-atm-id="26"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PGPB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="Saigonbank" alt="Saigonbank" href="javascript:void(0)" class="li-bank" data-atm-id="27"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PSGB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="ABBANK" alt="ABBANK" href="javascript:void(0)" class="li-bank" data-atm-id="28"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PABB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                            <li><a title="PG Bank" alt="PG Bank" href="javascript:void(0)" class="li-bank" data-atm-id="31"><img src="https://vcdn.tikicdn.com/assets/img/123pay/123PPGB.jpg?v=1" height="74" width="120" alt=""></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="ps-hidden-by-js" style="display: none;">
                                By confirming the order, you certify that you have read and agree with all of the conditions below:
                            </p>
                            <form id="conditions-to-approve" method="GET">
                                <ul>
                                    <li>
                                        <div class="float-xs-left">
                                            <span class="custom-checkbox">
                                    <input id="conditions_to_approve[terms-and-conditions]" name="conditions_to_approve[terms-and-conditions]" required="" type="checkbox" value="1" class="ps-shown-by-js">
                                    <span><i class="material-icons checkbox-checked"></i></span>
                                            </span>
                                        </div>
                                        <div class="condition-label">
                                            <label class="js-terms" for="conditions_to_approve[terms-and-conditions]">
                                                Tôi đồng ý với các điều khoản dịch vụ và sẽ tuân thủ chúng một cách vô điều kiện.
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <div id="payment-confirmation">
                                <div class="ps-shown-by-js">
                                    <button type="submit" disabled="" class="btn btn-primary center-block">
                                        TIẾN HÀNH ĐẶT HÀNG
                                    </button>
                                </div>
                                <div class="ps-hidden-by-js" style="display: none;">
                                </div>
                            </div>
                            <div class="modal fade" id="modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <div class="js-modal-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                    <div class="col-md-4">
                        <section id="js-checkout-summary" class="card js-cart">
                            <div class="card-block">
                                <div class="cart-summary-products">
                                    <p class="total-items-cart">1 sản phẩm</p>
                                    <p>
                                        <a href="#" data-toggle="collapse" data-target="#cart-summary-product-list">
                                            Xem chi tiết sản phẩm
                                        </a>
                                    </p>
                                    <div class="collapse" id="cart-summary-product-list" style="margin-bottom: 10px;">
                                        <ul class="media-list">

                                            <!-- ITEMS -->


                                        </ul>
                                    </div>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-products">
                                    <span class="label">Tổng tiền</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-shipping">
                                    <span class="label">Phí vận chuyển</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-shipping">
                                    <span class="label">Giảm giá</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="card-block cart-summary-totals">
                                <div class="cart-summary-line">
                                    <span class="label sub">Tổng hoá đơn</span>
                                    <span class="value sub">0 VNĐ</span>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="pos_logo product_block_container">
                <div class="row pos_content">
                    <div class="logo-slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1622px;">
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/1.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/2.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/3.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/4.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/5.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/6.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/7.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev disabled">prev</div>
                            <div class="owl-next">next</div>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include layouts/footer %>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        <div class="back-top">
            <a href="#" class="back-top-button"></a>
        </div>
</body>

<script type="text/javascript">

    (function () {
        //html element
        var summaryBlock = $('#js-checkout-summary');
        var itemsCartBlock = $(summaryBlock).find('div#cart-summary-product-list ul.media-list');

        $(itemsCartBlock).find('li').remove();

        if (!localStorage.cart) { location.href = "/cart"; return } 

        try {
            var cart = JSON.parse(localStorage.cart);
            if (!cart || !cart.products) { location.href = "/cart"; return }
            if (cart.products.length == 0) { location.href = "/cart"; return }
        } catch (error) {
            location.href = "/cart"; return
        }

        //get products in cart
        getProductsCart(null, (data) => {
            if (data.products.length != 0) {
                var items = "";
                var totalSubPrice = 0;
                data.products.forEach(product => {
                    totalSubPrice += product.detail.price * product.quantity;
                    items += `
                        <li class="media" style="margin-bottom: 5px;">
                            <div class="media-left">
                                <a href="/${product.alias}-${product._id};"
                                    title="${product.name}">
                                    <img class="media-object" src="${product.images[0].url}"
                                        alt="${product.images[0].alt}">
                                </a>
                            </div>
                            <div class="media-body">
                                <span class="product-name">${product.name}</span>
                                <span class="product-quantity">x${product.quantity}</span>
                                <span class="product-price float-xs-right">${numberWithCommas(product.quantity * product.detail.price) + " VNĐ"}</span>
                            </div>
                        </li>
                    `
                });

                $(itemsCartBlock).append(items);

                $(summaryBlock).find('#cart-subtotal-products span.value').text(numberWithCommas(totalSubPrice) + " VNĐ");
                $(summaryBlock).find('div.cart-summary-products p.total-items-cart').text(data.products.length + " sản phẩm")
                $(summaryBlock).find('div.cart-summary-totals').find('span.value').text(numberWithCommas(totalSubPrice) + " VNĐ")
            } else {
                location.href = "/cart"
            }
        });
    })();

    jQuery(document).ready(($) => {
        $.get('https://raw.githubusercontent.com/linhmtran168/vietnam-gis-crawler/master/data.json', (data) => {
            var optionSelectState = $('#checkout-addresses-step').find('select[name="id_state"]');
            var optionSelectDistrict = $('#checkout-addresses-step').find('select[name="id_district"]');
            var raw = JSON.parse(data);          

            var options = "";
            for (const key in raw) {
                options+= `<option value="${key}">${raw[key].name}</option>` 
            }

            var optionsDictricts = "";
            for (const key in raw['1'].districts) {
                optionsDictricts+= `<option value="${key}">${raw['1'].districts[key]}</option>`
            }

            $(optionSelectState).append(options);
            $(optionSelectDistrict).append(optionsDictricts);

            $('#checkout-addresses-step').find('select[name="id_state"]').change((e) => {
                var value = $(e.currentTarget).find('option:selected').val();
                for (const key in raw) {
                    if (key == value) {
                        var optionsNewDictricts = '';
                        for (const key_district in raw[`${key}`].districts) {
                            optionsNewDictricts+= `<option value="${key_district}">${raw[`${key}`].districts[key_district]}</option>`
                        }
                        $(optionSelectDistrict).find('option').remove();
                        $(optionSelectDistrict).append(optionsNewDictricts);
                         return
                    }
                } 
            });
        });

        $('.js-address-form form').submit((e) => {
            e.preventDefault();
            $('#checkout-addresses-step').removeClass('-current js-current-step')
            $('#checkout-addresses-step').addClass('-complete');

            $('#checkout-delivery-step').removeClass('-unreachable');
            $('#checkout-delivery-step').addClass('-reachable -current js-current-step')
        })

        $('.delivery-options-list form').submit((e) => {
            e.preventDefault();
            $('#checkout-delivery-step').removeClass('-current js-current-step')
            $('#checkout-delivery-step').addClass('-complete');

            if($('#checkout-delivery-step').find('h1.step-title i.material-icons').length == 0) {
                $('#checkout-delivery-step').find('h1.step-title span.step-number').before('<i class="material-icons done"></i>')
            }

            if($('#checkout-delivery-step').find('h1.step-title span.step-edit').length == 0) {
                $('#checkout-delivery-step').find('h1.step-title span.step-number').after('<span class="step-edit text-muted"><i class="material-icons edit">mode_edit</i> chỉnh sửa</span>')
            }    

            $('#checkout-payment-step').removeClass('-unreachable');
            $('#checkout-payment-step').addClass('-reachable -current js-current-step');            
        })
    });

</script>

</html>