<!doctype html>
<html lang="vi">

<head>
    <title>Thanh toán</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <%- include layouts/head %>

</head>

<body id="checkout" class="lang-en country-us currency-usd layout-full-width page-order tax-display-disabled">
    <header id="header">
        <div class="header-banner">
        </div>
        <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
                <%- include layouts/header-bottom %>
    </header>
    <div class="headerSpace unvisible" style="height: 226px;"></div>
    <aside id="notifications">
        <div class="container">
        </div>
    </aside>
    <section id="wrapper">
        <div class="container">
            <section id="content">
                <div class="row">
                    <div class="col-md-8">

                        <% if (data.user && data.token) { %>
                            <% var fullName = data.user.fullName.firstName + " " + data.user.fullName.lastName %>
                            <section id="checkout-personal-information-step" class="checkout-step -reachable -complete">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">1</span>
                                    Thông tin cá nhân
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <p class="identity">
                                        Đã đăng nhập với tài khoản
                                        <a href="/my-account">
                                            <%- fullName %>
                                        </a>.
                                    </p>
                                    <p>
                                        Không phải là bạn
                                        <a href="javascript: logout()">Đăng xuất</a>
                                    </p>
                                    <p>
                                        <small>Nếu bạn đăng xuất ngay lúc này, giỏ hàng của bạn sẽ bị xoá.</small>
                                    </p>
                                </div>
                            </section>
                            <section id="checkout-addresses-step" class="checkout-step -current -reachable js-current-step">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">2</span>
                                    Địa chỉ nhận hàng
                                    <span class="step-edit text-muted">
                                    <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <div class="js-address-form">
                                        <form>
                                            <p>
                                                Địa chỉ đã chọn sẽ được sử dụng làm địa chỉ cá nhân (cho hóa đơn) và địa chỉ giao hàng của bạn.
                                            </p>
                                            <div id="delivery-address">
                                                <div class="js-address-form">
                                                    <section class="form-fields">
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Họ
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="firstname" type="text" value="<%- data.user.fullName.firstName %>" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tên
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="lastname" type="text" value="<%- data.user.fullName.lastName %>" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Địa chỉ nhận hàng
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="address1" type="text" value="" maxlength="128" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tỉnh/ Thành Phố
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_state" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Huyện/ Thị xã
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_district" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Mã bưu điện
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="postcode" type="text" value="" maxlength="12" required="" pattern="[0-9]{6}" >
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label">
                                                                Số điện thoại
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="phone" type="text" value="<%- data.user.phone %>" maxlength="32" required="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-md-offset-3">
                                                                <input name="use_same_address" type="checkbox" value="1" checked="">
                                                                <label>Use this address for invoice too</label>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <footer class="form-footer clearfix">
                                                        <button type="submit" class="continue btn btn-primary float-xs-right" name="confirm-addresses" value="1">
                                                            Tiếp tục
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        <% } else { %>
                            <section id="checkout-personal-information-step" class="checkout-step -reachable -current js-current-step">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">1</span>
                                    Thông tin cá nhân
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <ul class="nav nav-inline my-2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#checkout-guest-form" role="tab" aria-controls="checkout-guest-form" aria-selected="true">
                                                Đăng kí ngay
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <span href="nav-separator"> | </span>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " data-link-action="show-login-form" data-toggle="tab" href="#checkout-login-form" role="tab" aria-controls="checkout-login-form">
                                                Đăng nhập
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="checkout-guest-form" role="tabpanel">
                                            <form class="js-customer-form">
                                                <section>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Giới tính
                                                        </label>
                                                        <div class="col-md-6 form-control-valign">
                                                            <label class="radio-inline">
                                                                <span class="custom-radio">
                                                                    <input name="id_gender" type="radio" value="1">
                                                                    <span></span>
                                                                </span>
                                                                Nam
                                                            </label>
                                                            <label class="radio-inline">
                                                                <span class="custom-radio">
                                                                    <input name="id_gender" type="radio" value="2">
                                                                    <span></span>
                                                                </span>
                                                                Nữ
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Họ
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="firstname" type="text" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Tên
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="lastname" type="text" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Email
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="email" type="email" value="" required="">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Mật khẩu
                                                        </label>
                                                        <div class="col-md-6">
                                                            <div class="input-group js-parent-focus">
                                                                <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                            Ngày sinh
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="birthday" type="text" value="" placeholder="MM/DD/YYYY">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                            Optional
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label">
                                                        </label>
                                                        <div class="col-md-6">
                                                            <span class="custom-checkbox">
                                                                <input id="register-newsletter" name="option" type="checkbox" value="1">
                                                                <span>
                                                                    <i class="material-icons checkbox-checked"></i>
                                                                </span>
                                                                <label for="register-newsletter">Đăng ký nhận tin mới qua email
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </section>
                                                <footer class="form-footer clearfix">
                                                    <input type="hidden" name="submitCreate" value="1">
                                                    <button class="continue btn btn-primary float-xs-right" name="continue" type="submit"
                                                        value="1">
                                                        Tiếp tục
                                                    </button>
                                                </footer>
                                            </form>
                                        </div>
                                        <div class="tab-pane " id="checkout-login-form" role="tabpanel" aria-hidden="true">
                                            <form id="login-form">
                                                <section>
                                                    <input type="hidden" name="back" value="">
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Email
                                                        </label>
                                                        <div class="col-md-6">
                                                            <input class="form-control" name="email" type="email" value="" required="" id="email">
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row ">
                                                        <label class="col-md-3 form-control-label required">
                                                            Mật khẩu
                                                        </label>
                                                        <div class="col-md-6">
                                                            <div class="input-group js-parent-focus">
                                                                <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required="" id="password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 form-control-comment">
                                                        </div>
                                                    </div>
                                                    <div class="forgot-password">
                                                        <a href="/password-recovery" rel="nofollow">
                                                            Quên mật khẩu?
                                                        </a>
                                                    </div>
                                                </section>
                                                <footer class="form-footer text-sm-center clearfix">
                                                    <input type="hidden" name="submitLogin" value="1">
                                                    <button class="continue btn btn-primary float-xs-right" name="continue" data-link-action="sign-in" type="submit" value="1">
                                                        Tiếp tục
                                                    </button>
                                                </footer>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section id="checkout-addresses-step" class="checkout-step -unreachable">
                                <h1 class="step-title h3">
                                    <i class="material-icons done"></i>
                                    <span class="step-number">2</span>
                                    Addresses
                                    <span class="step-edit text-muted">
                                        <i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                                </h1>
                                <div class="content">
                                    <div class="js-address-form">
                                        <form>
                                            <p>
                                                Địa chỉ đã chọn sẽ được sử dụng làm địa chỉ cá nhân (cho hóa đơn) và địa chỉ giao hàng của bạn.
                                            </p>
                                            <div id="delivery-address">
                                                <div class="js-address-form">
                                                    <section class="form-fields">
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Họ
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="firstname" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tên
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="lastname" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Địa chỉ nhận hàng
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="address1" type="text" value="" maxlength="128" required="">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Tỉnh/ Thành Phố
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_state" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Huyện/ Thị xã
                                                            </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control form-control-select" name="id_district" required="">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label required">
                                                                Mã bưu điện
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="postcode" type="text" value="" maxlength="12" required="" pattern="^\\d{6}$">
                                                            </div>
                                                            <div class="col-md-3 form-control-comment">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row ">
                                                            <label class="col-md-3 form-control-label">
                                                                Số điện thoại
                                                            </label>
                                                            <div class="col-md-6">
                                                                <input class="form-control" name="phone" type="text" value="" maxlength="32" required="">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="saveAddress" value="delivery">
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-md-offset-3">
                                                                <input name="use_same_address" type="checkbox" value="1" checked="">
                                                                <label>Use this address for invoice too</label>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <footer class="form-footer clearfix">
                                                        <input type="hidden" name="submitAddress" value="1">
                                                        <button type="submit" class="continue btn btn-primary float-xs-right" name="confirm-addresses" value="1">
                                                            Tiếp tục
                                                        </button>
                                                    </footer>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        <% } %>

                    <section id="checkout-delivery-step" class="checkout-step -unreachable">
                        <h1 class="step-title h3">
                            <span class="step-number">3</span>
                            Phương thức vận chuyển
                        </h1>
                        <div class="content">
                            <div id="hook-display-before-carrier">
                            </div>
                        <div class="delivery-options-list">
                            <form class="clearfix" id="js-delivery">
                                <div class="form-fields">
                                    <div class="delivery-options">
                                        <div class="row delivery-option">
                                            <div class="col-sm-1">
                                                <span class="custom-radio float-xs-left">
                                                <input type="radio" name="delivery_option[27]" id="delivery_option_2" value="2," checked="">
                                                <span></span>
                                                </span>
                                            </div>
                                            <label for="delivery_option_2" class="col-sm-11 delivery-option-2">
                                                <div class="row">
                                                <div class="col-sm-5 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                        <img src="http://yankeecrosleyparts.com/wp-content/uploads/2017/08/3937634_23308449eb9f40539a4f9e4a07d78ca1_logo.png" alt="My carrier">
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <span class="h6 carrier-name">Viettel Post</span>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-sm-4 col-xs-12">
                                                    <span class="carrier-delay">Chuyển hàng từ 3 -7 ngày!</span>
                                                </div>
                                                <div class="col-sm-3 col-xs-12">
                                                    <span class="carrier-price">miễn phí.</span>
                                                </div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="row carrier-extra-content">
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="order-options">
                                        <div id="delivery">
                                            <label for="delivery_message">Nếu muốn thêm ghi chú về đơn đặt hàng của bạn, vui lòng ghi vào trường bên dưới.</label>
                                            <textarea rows="2" cols="120" id="delivery_message" name="delivery_message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="continue btn btn-primary float-xs-right" name="confirmDeliveryOption" value="1">
                                    Tiếp tục
                                </button>
                            </form>
                        </div>
                        <div id="hook-display-after-carrier">
                        </div>
                        <div id="extra_carrier"></div>
                        </div>
                    </section>

                    <section id="checkout-payment-step" class="checkout-step -unreachable">
                        <h1 class="step-title h3">
                            <i class="material-icons done"></i>
                            <span class="step-number">4</span>
                            Phương thức thanh toán
                            <span class="step-edit text-muted"><i class="material-icons edit">mode_edit</i> chỉnh sửa</span>
                        </h1>
                        <div class="content">
                            <div class="payment-options ">
                                <!-- <p class="alert alert-danger">Unfortunately, there is no payment method available.</p> -->
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <!--promotion method, cod, zalopay, momo-->
                                        <div class="form-group row row-style-3  method_payment_cod">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                <span class="custom-radio float-xs-left">
                                                    <input type="radio" id="payment-method-cod" name="payment-method-option" value="1" checked="">
                                                    <span></span>
                                                </span>
                                            </div>
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pad-right-10">
                                                <label for="payment-method-cod" class="control-label is-large">
                                                    Thanh toán tiền mặt khi nhận hàng </label>
                                            </div>
                                        </div>
                                        <!--promotion method, cod, zalopay, momo-->
                                        <!-- <div class="form-group row row-style-3  ">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                    <span class="custom-radio float-xs-left">
                                                            <input type="radio" id="pay-method-vnpay" name="payment-method-option" value="2">
                                                            <span></span>
                                                            </span>
                                            </div>
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pad-right-10">
                                                <label for="pay-method-vnpay" class="control-label is-large">
                                                    Thẻ ATM nội địa/Internet Banking (Miễn phí thanh toán) </label>
                                            </div>
                                        </div> -->
                                        <!--123pay method-->
                                        <div class="form-group row row-style-3 js-payment-sub" style="display: block;">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="ps-hidden-by-js" style="display: none;">
                                By confirming the order, you certify that you have read and agree with all of the conditions below:
                            </p>
                            <form id="conditions-to-approve" style="margin-bottom: 5px;">
                                <ul>
                                    <li>
                                        <div class="float-xs-left">
                                            <span class="custom-checkbox">
                                                <input id="approve_conditions" required="" type="checkbox" value="1" class="ps-shown-by-js">
                                                <span><i class="material-icons checkbox-checked"></i></span>
                                            </span>
                                        </div>
                                        <div class="condition-label">
                                            <label class="js-terms" for="approve_conditions">
                                                Tôi đồng ý với các điều khoản dịch vụ và sẽ tuân thủ chúng một cách vô điều kiện.
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                            <div id="payment-confirmation-block">
                                <div class="ps-shown-by-js">
                                    <button type="submit" class="btn btn-primary center-block disabled">
                                        TIẾN HÀNH ĐẶT HÀNG
                                    </button>
                                </div>
                                <div class="ps-hidden-by-js" style="display: none;">
                                </div>
                            </div>
                            <div class="modal fade" id="modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <div class="js-modal-content"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                    <div class="col-md-4">
                        <section id="js-checkout-summary" class="card js-cart">
                            <div class="card-block">
                                <div class="cart-summary-products">
                                    <p class="total-items-cart">1 sản phẩm</p>
                                    <p>
                                        <a href="#" data-toggle="collapse" data-target="#cart-summary-product-list">
                                            Xem chi tiết sản phẩm
                                        </a>
                                    </p>
                                    <div class="collapse" id="cart-summary-product-list" style="margin-bottom: 10px;">
                                        <ul class="media-list">

                                            <!-- ITEMS -->


                                        </ul>
                                    </div>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-products">
                                    <span class="label">Tổng tiền</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-shipping">
                                    <span class="label">Phí vận chuyển</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                                <div class="cart-summary-line cart-summary-subtotals" id="cart-subtotal-shipping">
                                    <span class="label">Giảm giá</span>
                                    <span class="value">0 VNĐ</span>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="card-block cart-summary-totals">
                                <div class="cart-summary-line">
                                    <span class="label sub">Tổng hoá đơn</span>
                                    <span class="value sub">0 VNĐ</span>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <div class="pos_logo product_block_container">
                <div class="row pos_content">
                    <div class="logo-slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 1622px;">
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/1.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/2.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/3.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/4.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/5.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/6.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 231.6px;">
                                    <div>
                                        <div class="item-banklogo">
                                            <a href="http://posthemes.com/">
                                                <img class="replace-2x img-responsive" src="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/7.jpg" alt="Logo">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav">
                            <div class="owl-prev disabled">prev</div>
                            <div class="owl-next">next</div>
                        </div>
                        <div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include layouts/footer %>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        <div class="back-top">
            <a href="#" class="back-top-button"></a>
        </div>
</body>

<script type="text/javascript">

    (function () {
        //html element
        var summaryBlock = $('#js-checkout-summary');
        var itemsCartBlock = $(summaryBlock).find('div#cart-summary-product-list ul.media-list');

        $(itemsCartBlock).find('li').remove();

        if (!localStorage.cart) { location.href = "/cart"; return } 

        try {
            var cart = JSON.parse(localStorage.cart);
            if (!cart || !cart.products) { location.href = "/cart"; return }
            if (cart.products.length == 0) { location.href = "/cart"; return }
        } catch (error) {
            location.href = "/cart"; return
        }

        //get products in cart
        getProductsCart((data) => {
            if (data.products.length != 0) {
                var items = "";
                var totalSubPrice = 0;
                data.products.forEach(product => {
                    totalSubPrice += product.detail.price * product.quantity;
                    items += `
                        <li class="media" style="margin-bottom: 5px;">
                            <div class="media-left">
                                <a href="/${product.alias}-${product._id};"
                                    title="${product.name}">
                                    <img class="media-object" src="${product.images[0].url}"
                                        alt="${product.images[0].alt}">
                                </a>
                            </div>
                            <div class="media-body">
                                <span class="product-name">${product.name}</span>
                                <span class="product-quantity">x${product.quantity}</span>
                                <span class="product-price float-xs-right">${numberWithCommas(product.quantity * product.detail.price) + " VNĐ"}</span>
                            </div>
                        </li>
                    `
                });

                $(itemsCartBlock).append(items);

                $(summaryBlock).find('#cart-subtotal-products span.value').text(numberWithCommas(totalSubPrice) + " VNĐ");
                $(summaryBlock).find('div.cart-summary-products p.total-items-cart').text(data.products.length + " sản phẩm")
                $(summaryBlock).find('div.cart-summary-totals').find('span.value').text(numberWithCommas(totalSubPrice) + " VNĐ")
            } else {
                location.href = "/cart"
            }
        });
    })();

    jQuery(document).ready(($) => {
        $.get('https://raw.githubusercontent.com/linhmtran168/vietnam-gis-crawler/master/data.json', (data) => {
            var optionSelectState = $('#checkout-addresses-step').find('select[name="id_state"]');
            var optionSelectDistrict = $('#checkout-addresses-step').find('select[name="id_district"]');
            var raw = JSON.parse(data);          

            var options = "";
            for (const key in raw) {
                options+= `<option value="${key}">${raw[key].name}</option>` 
            }

            var optionsDictricts = "";
            for (const key in raw['1'].districts) {
                optionsDictricts+= `<option value="${key}">${raw['1'].districts[key]}</option>`
            }

            $(optionSelectState).append(options);
            $(optionSelectDistrict).append(optionsDictricts);

            $('#checkout-addresses-step').find('select[name="id_state"]').change((e) => {
                var value = $(e.currentTarget).find('option:selected').val();
                for (const key in raw) {
                    if (key == value) {
                        var optionsNewDictricts = '';
                        for (const key_district in raw[`${key}`].districts) {
                            optionsNewDictricts+= `<option value="${key_district}">${raw[`${key}`].districts[key_district]}</option>`
                        }
                        $(optionSelectDistrict).find('option').remove();
                        $(optionSelectDistrict).append(optionsNewDictricts);
                         return
                    }
                } 
            });
        });

        $('.js-address-form form').submit((e) => {
            e.preventDefault();
            $('#checkout-addresses-step').removeClass('-current js-current-step')
            $('#checkout-addresses-step').addClass('-complete');

            $('#checkout-delivery-step').removeClass('-unreachable');
            $('#checkout-delivery-step').addClass('-reachable -current js-current-step')
        });

        $('.delivery-options-list form').submit((e) => {
            e.preventDefault();
            $('#checkout-delivery-step').removeClass('-current js-current-step')
            $('#checkout-delivery-step').addClass('-complete');

            if($('#checkout-delivery-step').find('h1.step-title i.material-icons').length == 0) {
                $('#checkout-delivery-step').find('h1.step-title span.step-number').before('<i class="material-icons done"></i>')
            }

            if($('#checkout-delivery-step').find('h1.step-title span.step-edit').length == 0) {
                $('#checkout-delivery-step').find('h1.step-title span.step-number').after('<span class="step-edit text-muted"><i class="material-icons edit">mode_edit</i> chỉnh sửa</span>')
            }    

            $('#checkout-payment-step').removeClass('-unreachable');
            $('#checkout-payment-step').addClass('-reachable -current js-current-step');            
        });

        //sign up
        $('.js-customer-form').submit((e) => {
            e.preventDefault();

            //validate parameters
            var firstName = $('input[name="firstname"]').val(),
                lastName = $('input[name="lastname"]').val(),
                email = $('input[name="email"]').val(),
                password = $('input[name="password"]').val(),
                birthday = $('input[name="birthday"]').val(),
                sex = $('input[name="id_gender"]:checked').val(),
                isRegistered_NewLetters = $('input[name="option"]:checked').val() == 1 ? true : false;
                
            if (!firstName) {
                showNotify("Vui lòng nhập họ của bạn.");
                return
            }

            if (!lastName) {
                showNotify("Vui lòng nhập tên của bạn.");
                return
            }

            if (!email) {
                showNotify("Vui lòng nhập Email của bạn.");
                return
            }

            if (!password) {
                showNotify("Vui lòng nhập mật khẩu.");
                return
            }

            if (!sex) {
                showNotify("Vui lòng chọn giới tính.");
                return
            }

            //
            var user = {
                fullName: {
                    firstName: firstName,
                    lastName: lastName
                },
                email: email,
                password: password,
                birthday: birthday,
                sex: sex,
                isRegistered_NewLetters: isRegistered_NewLetters
            }

            $.post(
                '/sign-up',
                user,
                (data) => {                                           
                    if (data.error) {
                        showNotify(data.error || "Đã xảy ra lỗi không xác định, vui lòng thử lại sau.");
                    } else {
                        location.reload();
                    } 
                }
            );

        });

        //sign in
        $('#login-form').submit((e) => {
            e.preventDefault();

            //validate parameters
            var email = $("#email").val(),
                password = $("#password").val();

            if (!email) {
                showNotify('Vui lòng nhập Email');
                return
            }

            if (!password) {
                showNotify('Vui lòng nhập mật khẩu');
                return
            }

            var user = {
                email: email,
                password: password
            }

            $.post(
                '/sign-in',
                user,
                (data) => {
                    if (data.user) {
                        // $('#checkout-personal-information-step').removeClass('-current js-current-step')
                        // $('#checkout-personal-information-step').addClass('-complete');

                        // if($('#checkout-personal-information-step').find('h1.step-title i.material-icons').length == 0) {
                        //     $('#checkout-personal-information-step').find('h1.step-title span.step-number').before('<i class="material-icons done"></i>')
                        // }

                        // if($('#checkout-personal-information-step').find('h1.step-title span.step-edit').length == 0) {
                        //     $('#checkout-personal-information-step').find('h1.step-title span.step-number').after('<span class="step-edit text-muted"><i class="material-icons edit">mode_edit</i> chỉnh sửa</span>')
                        // }  

                        // $('#checkout-addresses-step').removeClass('-unreachable');
                        // $('#checkout-addresses-step').addClass('-reachable -current js-current-step');
                        location.reload();
                    } else {
                        var err = data.error || "Đã xảy ra lỗi không xác định, vui lòng thử lại sau.";                            
                        showNotify(err);
                        return 
                    }                        
                }
            );
        });        
    });

    $('#conditions-to-approve').delegate('input','click', (e) => {
        if ($(e.currentTarget).prop('checked')) {
            $('#payment-confirmation-block button[type="submit"]').removeClass('disabled')
        } else {
            $('#payment-confirmation-block button[type="submit"]').addClass('disabled');
        }
    })

</script>

</html>