<!doctype html>
<html lang="vi">
<head>
    <title>Về chúng tôi</title>    
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    
    <%- include layouts/head %>

</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
            <span itemprop="name">Trang chủ</span>
          </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/ve-chung-toi">
            <span itemprop="name">Về chúng tôi</span>
          </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- SECTION IS HERE -->
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1 style="text-align: center">
  About us
</h1>
                            </header>
                            <section id="content" class="page-content page-cms page-cms-4">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="cms-block">
                                            <h3 class="page-subheading">Our company</h3>
                                            <p><strong class="dark">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididun.</strong></p>
                                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                                            <ul class="list-1">
                                                <li><em class="icon-ok"></em>Top quality products</li>
                                                <li><em class="icon-ok"></em>Best customer service</li>
                                                <li><em class="icon-ok"></em>30-days money back guarantee</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="cms-box">
                                            <h3 class="page-subheading">Our team</h3>
                                            <img title="cms-img" src="../img/cms/cms-img.html" alt="cms-img" width="370" height="192">
                                            <p><strong class="dark">Lorem set sint occaecat cupidatat non </strong></p>
                                            <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="cms-box">
                                            <h3 class="page-subheading">Testimonials</h3>
                                            <div class="testimonials">
                                                <div class="inner"><span class="before">“</span>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.<span class="after">”</span></div>
                                            </div>
                                            <p><strong class="dark">Lorem ipsum dolor sit</strong></p>
                                            <div class="testimonials">
                                                <div class="inner"><span class="before">“</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.<span class="after">”</span></div>
                                            </div>
                                            <p><strong class="dark">Ipsum dolor sit</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION IS HERE  -->
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>

</html>