<!doctype html>
<html lang="vi">
<head>
    <title>Về chúng tôi</title>    
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    
    <%- include layouts/head %>

</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
            <span itemprop="name">Trang chủ</span>
          </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/ve-chung-toi">
            <span itemprop="name">Về chúng tôi</span>
          </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- SECTION IS HERE -->
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <section id="content" class="page-content page-cms page-cms-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="profileshow">
                                            <div id="About" style="display:block">
                                                <div id="body-about">
                                                    <h2 id="font-header" class="col-md-12" style="text-align: center;margin-bottom: 2%;">Thành viên</h2>
                                                    <hr style="width: 100%; ">
                                                    <div class="clear" style="margin: 5% 0"></div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                                                        <a target="_blank" href="https://www.facebook.com/tuanle511">
                                                            <img class="img-circle" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/15094440_1497950286887451_629130652037318493_n.jpg?_nc_cat=0&oh=302f07c90709fd45b36c39adbfffcd01&oe=5B5F955D" width="200" height="200" style="border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
                                                        </a>
                                                        <br />
                                                        <br />
                                                        <div class="content-info" style="text-align: center; ">
                                                            <p>Lê Anh Tuấn</p>
                                                            <b> Phụ trách:</b>
                                                            <p>
                                                                Kỹ thuật nội dung
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                                                        <a target="_blank" href="https://www.facebook.com/trandangngocthanh">
                                                            <img class="img-circle" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/30688890_1559411067505014_2463758803384926208_n.jpg?_nc_cat=0&oh=dcc2a7a0e3d8f2f10be07b9d397543a8&oe=5B610842" width="200" height="200" style="border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>
                                                        </a>
                                                        <br />
                                                        <br />
                                                        <div class="content-info">
                                                            <p>Trần Đặng Ngọc Thanh</p>
                                                            <b>Phụ trách:</b>
                                                            <p>
                                                                Thiết kế website
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="content-contact">
                                                <div class="sub-contact" style="text-align: center;">
                                                    <hr style="width: 100%">
                                                    <h2>Liên hệ</h2>
                                                    <hr />
                                                    <br />
                                                    <div>
                                                        <span class="fa fa-pencil" aria-hidden="true"></span> &nbsp;
                                                        <strong>Lê Anh Tuấn</strong>
                                                        <br />
                                                        <span class="fa fa-phone" aria-hidden="true"></span> &nbsp; Phone: <a href="tel:01629680825"><strong>(+84) 1629 680 825</strong></a>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <div>
                                                        <span class="fa fa-pencil" aria-hidden="true"></span> &nbsp;
                                                        <strong>Trần Đặng Ngọc Thanh</strong>
                                                        <br />
                                                        <span class="fa fa-phone" aria-hidden="true"></span> &nbsp; Phone: <a href="tel:01696691673"><strong>(+84) 1696 691 673</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION IS HERE  -->
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>

</html>