<!doctype html>
<html lang="vi">
<head>
    <title>Chính sách giao hàng</title>
    <meta name="description" content="Shop powered by Alomobile">
    <meta name="keywords" content="">
    
    <%- include layouts/head %>


</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
            <span itemprop="name">Trang chủ</span>
          </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/delivery">
            <span itemprop="name">Chính sách giao hàng</span>
          </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- SECTION IS HERE -->
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1 style="text-align: center">
                                Chính sách giao hàng
                                </h1>
                            </header>
                            <section id="content" class="page-content page-cms page-cms-1">                          
                                <div class="content" style="padding-top: 10px;">
                                    <p style="color: black"><span style="font-size: 16px;"><strong style="font-size: 18px;">1. Phạm vi giao hàng&nbsp;</strong></span></p>
                                    <p><span style="font-size: 16px;"><strong></strong><span class="Apple-tab-span" style="white-space: pre;">	</span>Mọi tỉnh thành trên toàn quốc</span></p>
                                    <p style="color: black"><span style="font-size: 16px;"></span><strong style="font-size: 18px;">2. Thời gian giao hàng</strong></p>
                                    <p>
                                        <span style="font-size: 16px;">Sau khi xác minh thành công, đơn hàng sẽ được giao đến Quý khách trong khoảng thời gian sau đây:<br><br>
                                        •<span class="Apple-tab-span" style="white-space: pre; margin-bottom: 5px;"></span>
                                        Đối với địa chỉ giao hàng tại nội thành Hà Nội và Tp.Hồ Chí Minh: Giao hàng trong 60 phút (không áp dụng với sim số và bán kính 10km quanh siêu thị)&nbsp;
                                        <br>
                                        <br>
                                        • <span class="Apple-tab-span" style="white-space: pre;"></span>Đối với địa chỉ giao hàng tại các khu vực khác: Dự kiến từ 1 - 3 ngày làm việc tùy từng địa phương</span></p>
                                    <p style="color: black"><span style="font-size: 16px;"><strong>3. Miễn phí giao hàng:&nbsp;</strong></span></p>
                                    <p><span style="font-size: 16px;"><strong></strong><span class="Apple-tab-span" style="white-space: pre;">	</span>Alomobile miễn phí giao hàng đến tận nơi theo yêu cầu của khách hàng hoàn toàn miễn phí.<br>
                                    </span></p> 
                                </div>
                                <style>
                                    p {
                                    font-size: 16px;
                                    color: black;
                                    font-weight: 400;
                                    margin-bottom: 15px;
                                    line-height: 30px;
                                    }
                                </style>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SECTION IS HERE  -->
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>

</html>