<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>
        <!-- Bootstrap Dropify CSS -->
        <link href="/static/admin/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">Thêm sản phẩm mới</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in" style="margin: 10px">
                                    <div class="panel-body row">
                                        <div class="form-wrap">
                                            <form action="">
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-info-outline mr-10"></i>Thông tin cơ bản</h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Tên sản phẩm</label>
                                                            <input type="text" id="firstName" class="form-control" placeholder="Iphone X 256GB">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Thương hiệu</label>
                                                            <select class="form-control" data-placeholder="Chọn danh mục" tabindex="1" id="selectManufacturer">
                                                                <option value="null">Chọn một thương hiệu</option>
                                                                <option value="apple">Apple</option>
                                                                <option value="samsung">Samsung</option>
                                                                <option value="sony">Sony</option>
                                                                <option value="other">Khác</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Danh mục</label>
                                                            <select class="form-control" data-placeholder="Chọn danh mục" tabindex="1" id="selectCategory">
                                                                <option value="0">Chọn một danh mục</option>
                                                                <% var categories = data.categories %>
                                                                    <% if (categories && categories.length != 0){ %>
                                                                        <% categories.forEach((category) => { %>
                                                                            <option value="<%- category.name %>" data-root-name="<%- category.name %>" data-root-id="<%- category._id %>" data-is-root="1" data-alias="<%- category.alias %>">
                                                                                <%- category.name %>
                                                                            </option>
                                                                            <% var subCategory = category.subCategories %>
                                                                                <% if (subCategory && subCategory.length != 0){ %>
                                                                                    <% subCategory.forEach((sub) => { %>
                                                                                        <% var items = sub.items %>
                                                                                            <% if (items && items.length != 0){ %>
                                                                                                <% items.forEach((item) => { %>
                                                                                                    <option value="<%- item.name %>" data-root-name="<%- category.name %>" data-root-id="<%- category._id %>" data-alias="<%- category.alias %>">----
                                                                                                        <%- item.name %>
                                                                                                    </option>
                                                                                                    <% }); %>
                                                                                                        <% } %>
                                                                                                            <% }); %>
                                                                                                                <% } %>
                                                                                                                    <% }); %>
                                                                                                                        <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Trạng thái</label>
                                                            <div class="radio-list">
                                                                <div class="radio-inline pl-0">
                                                                    <div class="radio radio-info">
                                                                        <input type="radio" name="radio" id="radio1" value="option1">
                                                                        <label for="radio1">Có sẵn</label>
                                                                    </div>
                                                                </div>
                                                                <div class="radio-inline">
                                                                    <div class="radio radio-info">
                                                                        <input type="radio" name="radio" id="radio2" value="option2">
                                                                        <label for="radio2">Tạm thời</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Đơn giá</label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <i class="ti-money"></i>
                                                                </div>
                                                                <input type="text" class="form-control" id="exampleInputuname" placeholder="12.000.000 VNĐ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-comment-text mr-10"></i>Mô tả chi tiết sản phẩm</h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea class="tinymce"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Title</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Keyword</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-collection-image mr-10"></i>Hình ảnh sản phẩm</h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 1</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 2</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 3</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" style="margin: 20px;"></div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 4</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 5</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 6</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- specifications-block -->
                                                <div class="seprator-block" id="specifications-block"></div>
                                                <!-- /specifications-block -->
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                    </div>
                    <!-- Footer -->
                    <footer class="footer container-fluid pl-30 pr-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>2018 &copy; Droopy. Pampered by Hencework</p>
                            </div>
                        </div>
                    </footer>
                    <!-- /Footer -->
                </div>
                <!-- /Main Content -->
            </div>
            <!-- /#wrapper -->
            <!-- JavaScript -->
            <% include layouts/footer %>
                <!-- Tinymce JavaScript -->
                <script src="/static/admin/vendors/bower_components/tinymce/tinymce.min.js"></script>
                <!-- Tinymce Wysuhtml5 Init JavaScript -->
                <script src="/static/admin/js/tinymce-data.js"></script>
                <script src="/static/admin/js/show-specifications.js"></script>
                <!-- Bootstrap Daterangepicker JavaScript -->
                <script src="/static/admin/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>
                <!-- Form Flie Upload Data JavaScript -->
                <script src="/static/admin/js/form-file-upload-data.js"></script>
                <!-- JQUERY -->
                <script>
                jQuery(document).ready(($) => {
                    $("#selectCategory").change(() => {
                        var optionSelected = $("#selectCategory").find('option:selected');
                        var rootCategoryName = optionSelected.attr('data-root-name');
                        var isRoot = optionSelected.attr('data-is-root');
                        var alias = optionSelected.attr('data-alias');
                        var selectedCategoryName = optionSelected.val();

                        if (!isRoot) {
                            var newCate = rootCategoryName + " > " + selectedCategoryName;
                            optionSelected.html(newCate)
                        }

                        showSpecification("#specifications-block", alias);
                    });

                });
                </script>
</body>

</html>