<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>
        <!-- Bootstrap Dropify CSS -->
        <link href="/static/admin/vendors/bower_components/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />

        <!-- Bootstrap Colorpicker CSS -->
		<link href="/static/admin/vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">Thêm sản phẩm mới</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in" style="margin: 10px">
                                    <div class="panel-body row">
                                        <div class="form-wrap">
                                            <form action="" id="formNewProduct">
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-info-outline mr-10"></i>Thông tin cơ bản</h6>
                                                <hr class="light-grey-hr" />
                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Tên sản phẩm
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" id="product_name" class="form-control required" placeholder="Iphone X 256GB">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Thương hiệu
                                                                    <span style="color: red">*</span>
                                                            </label>
                                                            <select class="form-control" tabindex="1" id="selectManufacturer">
                                                                <option value="null">Chọn một thương hiệu</option>
                                                                <option value="apple">Apple</option>
                                                                <option value="samsung">Samsung</option>
                                                                <option value="sony">Sony</option>
                                                                <option value="other">Khác</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10">Tên hiển thị URL
                                                                        <span style="color: red">*</span>
                                                                </label>
                                                                <input type="text" id="product_alias" class="form-control" placeholder="iphone-x-256-gb"></input>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                </div>
                                                <!-- /row -->

                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Danh mục
                                                                    <span style="color: red">*</span>
                                                            </label>
                                                            <select class="form-control" data-placeholder="Chọn danh mục" tabindex="1" id="selectCategory">
                                                                <option value="0">Chọn một danh mục</option>
                                                                <% var categories = data.categories %>
                                                                    <% if (categories && categories.length != 0){ %>
                                                                        <% categories.forEach((category) => { %>
                                                                            <option value="<%- category.name %>" data-root-name="<%- category.name %>" data-root-id="<%- category._id %>" data-is-root="1" data-alias="<%- category.alias %>">
                                                                                <%- category.name %>
                                                                            </option>
                                                                            <% var subCategory = category.subCategories %>
                                                                                <% if (subCategory && subCategory.length != 0){ %>
                                                                                    <% subCategory.forEach((sub) => { %>
                                                                                        <% var items = sub.items %>
                                                                                            <% if (items && items.length != 0){ %>
                                                                                                <% items.forEach((item) => { %>
                                                                                                    <option value="<%- item.name %>" data-root-name="<%- category.name %>" data-root-id="<%- category._id %>" data-alias="<%- category.alias %>">----
                                                                                                        <%- item.name %>
                                                                                                    </option>
                                                                                                    <% }); %>
                                                                                                        <% } %>
                                                                                                            <% }); %>
                                                                                                                <% } %>
                                                                                                                    <% }); %>
                                                                                                                        <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label mb-10">Đơn giá
                                                                        <span style="color: red">*</span>
                                                                </label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <i class="ti-money"></i>
                                                                    </div>
                                                                    <input type="text" class="form-control" id="product_price" placeholder="12.000.000 VNĐ">
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div style="margin-bottom: 10px; width: 50%;"></div>
                                                <!-- Row -->
                                                <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <label class="control-label mb-10">Màu sắc</label>
                                                                        <button type="button" class="btn btn-primary btn-sm" style="margin-left: 15px;" id="newColor">Thêm màu mới</button>
                                                                    </div>
                                                                </div>
                                                                <div style="margin-top: 10px; margin-bottom: 10px;"></div>
                                                                <div class="row" id="row-color">
                                                                    <div class="col-md-2 animated" id="color-1">
                                                                        <div class="colorpicker input-group colorpicker-component">
                                                                            <input type="text" value="#00AABB" class="form-control" id="color-value-1" />
                                                                             <span class="input-group-addon"><i></i></span>
                                                                             <span class="input-group-addon delete-color" data-id-color="color-1"><i class="fa fa-trash-o"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2 animated" id="color-2">
                                                                        <div class="colorpicker input-group colorpicker-component">
                                                                            <input type="text" value="#00AABB" class="form-control" id="color-value-2"/>
                                                                                <span class="input-group-addon "><i></i></span>
                                                                                <span class="input-group-addon delete-color" data-id-color="color-2"><i class="fa fa-trash-o " ></i></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /row -->

                                                

                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-comment-text mr-10"></i>Mô tả chi tiết sản phẩm
                                                    <span style="color: red">*</span></h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea class="tinymce" id="product_descriptions"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Title
                                                                    <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="product_meta_title">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Keyword
                                                                    <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="product_meta_keyword">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-collection-image mr-10"></i>Hình ảnh sản phẩm
                                                    <span style="color: red">*</span></h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 1
                                                                <span style="color: red">*</span>
                                                        </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 2
                                                                <span style="color: red">*</span>
                                                        </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 3</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" style="margin: 20px;"></div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 4</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 5</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 6</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- specifications-block -->
                                                <div class="seprator-block" id="specifications-block"></div>
                                                <!-- /specifications-block -->

                                                <div class="form-actions">
                                                    <button class="btn btn-success btn-icon left-icon mr-10 pull-left" id="add_save" type="submit">
                                                        <i class="fa fa-check"></i>
                                                        <span>Lưu lại</span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning pull-left" id="add_cancel">Trở về</button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                    </div>
                    <!-- Footer -->
                    <footer class="footer container-fluid pl-30 pr-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <p>2018 &copy; Droopy. Pampered by Hencework</p>
                            </div>
                        </div>
                    </footer>
                    <!-- /Footer -->
                </div>
                <!-- /Main Content -->
            </div>
            <!-- /#wrapper -->
            <!-- JavaScript -->
            <% include layouts/footer %>
                <!-- Tinymce JavaScript -->
                <script src="/static/admin/vendors/bower_components/tinymce/tinymce.min.js"></script>
                <!-- Tinymce Wysuhtml5 Init JavaScript -->
                <script src="/static/admin/js/tinymce-data.js"></script>
                <script src="/static/admin/js/show-specifications.js"></script>
                <!-- Bootstrap Daterangepicker JavaScript -->
                <script src="/static/admin/vendors/bower_components/dropify/dist/js/dropify.min.js"></script>
                <!-- Form Flie Upload Data JavaScript -->
                <script src="/static/admin/js/form-file-upload-data.js"></script>
                <!-- Bootstrap Colorpicker JavaScript -->
                <script src="/static/admin/vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
                <!-- Form Picker Init JavaScript -->
		        <script src="/static/admin/js/form-picker-data.js"></script>
                <!-- JQUERY -->
                <script>
                jQuery(document).ready(($) => {

                    var totalColorPicker = 2;

                    $("#selectCategory").change(() => {
                        var optionSelected = $("#selectCategory").find('option:selected');
                        var rootCategoryName = optionSelected.attr('data-root-name');
                        var isRoot = optionSelected.attr('data-is-root');
                        var alias = optionSelected.attr('data-alias');
                        var selectedCategoryName = optionSelected.val();

                        if (!isRoot) {
                            var newCate = rootCategoryName + " > " + selectedCategoryName;
                            optionSelected.html(newCate)
                        }

                        showSpecification("#specifications-block", alias);
                    });

                    $("form").submit((e) => {
                        e.preventDefault();

                        alert('sad');

                        //name
                        var name = $("#product_name").val();
                        //alias
                        var alias = $("#product_alias").val();
                        //color

                        //manufacturer
                        //spacifications
                        //images
                        //
                        

                        //get parameters
                        window.console.log(e);
                    });

                    $("#newColor").click(() => {
                        totalColorPicker++;
                        $("#row-color").append(`
                        <div class="col-md-2 animated rotateInDownLeft" id="color-${totalColorPicker}">
                            <div class="colorpicker input-group colorpicker-component">
                                <input type="text" value="#00AABB" class="form-control" id="color-value-${totalColorPicker}" />
                                    <span class="input-group-addon"><i></i></span>
                                    <span class="input-group-addon delete-color" data-id-color="color-${totalColorPicker}"><i class="fa fa-trash-o" ></i></span>
                            </div>
                        </div>
                        `);
                        $(".colorpicker").colorpicker();                        
                    });         

                    $("#row-color").delegate(".delete-color", "click", (e) => {
                        var idParent = e.currentTarget.parentElement.parentElement.id;
                        $(".colorpicker-visible").remove();
                        $(`#${idParent}`).removeClass("rotateInDownLeft");
                        $(`#${idParent}`).addClass("fadeOutLeft");                        

                        setTimeout(() => {
                            $(`#${idParent}`).remove();
                        }, 1000);
                    });
                });
    </script>
</body>
</html>