<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width: 100%">
                            <h5 class="txt-dark" style="float: left;">Trang quản trị danh mục</h5>
                            <button type="button" class="btn btn-primary" style="float: right" id="category-add">Thêm danh mục</button>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- /.modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="category-add-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h5 class="modal-title" style="text-align: center;">Thêm danh mục</h5>
                                </div>
                                <div class="modal-body">
                                    <form id="form-add-category" action="">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12" id="alert-error">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-name-alias">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="recipient-name" class="control-label mb-10">Tên danh mục:</label>
                                                    <input type="text" class="form-control" id="category-name" placeholder="Loa di động">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="recipient-name" class="control-label mb-10">SEO URL:</label>
                                                    <input type="text" class="form-control" id="category-alias" placeholder="loa-di-dong">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="message-text" class="control-label mb-10">Thuộc danh mục:</label>
                                                    <select name="Danh mục gốc" id="category-on" class="form-control">
                                                        <option value="0">Danh mục gốc</option>
                                                        <% if(data.categories && data.categories.length != 0) { %>
                                                            <% data.categories.forEach((category) => { %>
                                                                <option value="<%- category._id %>">
                                                                    <%- category.name %>
                                                                </option>
                                                                <% }); %>
                                                                    <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-upload-icon animated">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="control-label mb-10">Tải lên ảnh từ máy tính: </label>
                                                    <input type="file" id="category-icon" data-max-file-size="2M" accept="image/*" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label mb-10">Hoặc URL: </label>
                                                    <input type="text" class="form-control" id="category-url" placeholder="https://png.icons8.com/ios-glyphs/24/7f8c8d/iphone.png">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger btn-save-changes" class="form-control-submit" id="btn-add-category"> Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table display mb-30" cellspacing="0" width="100%" id="table-category">
                                                    <thead>
                                                        <tr>
                                                            <th>#Root</th>
                                                            <th>#</th>
                                                            <th>Tên danh mục</th>
                                                            <th>Alias</th>
                                                            <th>Icon</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (data.categories && data.categories.length != 0) { %>
                                                            <% data.categories.forEach((category) => { %>
                                                                <tr role="row" id="<%- category._id %>" data-root-id="<%- category._id %>" data-category-id="<%- category._id %>">
                                                                    <td class="txt-dark td-root-id">
                                                                        <%- category._id %>
                                                                    </td>
                                                                    <td class="txt-dark td-id">
                                                                        <%- category._id %>
                                                                    </td>
                                                                    <td style="color: blue; font-size: 18px;" class="td-name">
                                                                        <%- category.name %>
                                                                    </td>
                                                                    <td class="txt-dark td-alias">
                                                                        <%- category.alias %>
                                                                    </td>
                                                                    <td class="td-icon">
                                                                        <img src="<%- category.icon %>" width="24px"></img>
                                                                    </td>
                                                                    <td>
                                                                        <span class="label label-success font-weight-100">ACTIVE</span>
                                                                    </td>
                                                                    <td class="action-category">
                                                                        <a href="javascript:void(0)" class="text-inverse pr-10 edit-category" title="">
                                                                            <i class="zmdi zmdi-edit txt-warning"></i>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="text-inverse delete-category" title="">
                                                                            <i class="zmdi zmdi-delete txt-danger"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>

                                                                <% var subs  = category.subCategories %>
                                                                    <% if (subs && subs.length != 0) { %>
                                                                        <% subs.forEach((sub) => { %>
                                                                            <% if (sub) { %>
                                                                                <tr role="row" id="<%- sub._id %>" data-root-id="<%- category._id %>" data-category-id="<%- sub._id %>">
                                                                                    <td class="txt-dark td-root-id">
                                                                                        <%- category._id %>
                                                                                    </td>
                                                                                    <td class="txt-dark td-id">
                                                                                        <%- sub._id%>
                                                                                    </td>
                                                                                    <td style="color: green" class="td-name"> -----| <%- sub.name %>
                                                                                    </td>
                                                                                    <td class="txt-dark td-alias">
                                                                                        <%- sub.alias %>
                                                                                    </td>
                                                                                    <td class="td-icon">
                                                                                        Không có
                                                                                    </td>
                                                                                    <td>
                                                                                        <span class="label label-success font-weight-100">ACTIVE</span>
                                                                                    </td>
                                                                                    <td class="action-category">
                                                                                        <a href="javascript:void(0)" class="text-inverse pr-10 edit-category" title="">
                                                                                            <i class="zmdi zmdi-edit txt-warning"></i>
                                                                                        </a>
                                                                                        <a href="javascript:void(0)" class="text-inverse delete-category" title="" data-delete-category="<%- sub._id %>">
                                                                                            <i class="zmdi zmdi-delete txt-danger"></i>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                                <% } %>

                                                                                    <% }) %>
                                                                                        <% } %>
                                                                                            <% }); %>
                                                                                                <% } %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#Root</th>
                                                            <th>#</th>
                                                            <th>Tên danh mục</th>
                                                            <th>Alias</th>
                                                            <th>Icon</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <!-- Footer -->
                        <footer class="footer container-fluid pl-30 pr-30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>2018 &copy; Droopy. Pampered by Hencework</p>
                                </div>
                            </div>
                        </footer>
                        <!-- /Footer -->    
                    </div>
                    <!-- /Main Content -->
                </div>
                <!-- /#wrapper -->
                <% include layouts/footer %>
                <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script type="text/javascript">
                        function showAlert(id, content) {
                            var alert = `
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                ${content}
                            </div>
                        `

                            $(id).append(alert);
                        }

                        function confirmDelete(cb) {
                         swal({
                                title: "Bạn có muốn xoá không?",
                                text: "Nhấn vào 'Đồng ý' để xoá, không thể phục hồi được sau khi xoá!",
                                icon: "info",
                                buttons: {
                                    cancel: true,
                                    yes: "Đồng ý"
                                },
                            })
                            .then((value) => {
                                switch (value) {     
                                    case "yes":
                                        return cb(true);
                                        break;                               
                                    default:
                                        return cb(false);
                                        break;
                                }
                            }); 
                        }
                    </script>
                    <script>

                    

                        jQuery(document).ready(($) => {
                            //configation datatable jquery
                            var table = $('#table-category').DataTable({
                                "ordering": false,
                                "paging": false,
                                "info": false
                            });

                            //animate
                            $("#category-on").change(() => {
                                var optionSelected = $("#category-on").find("option:selected");
                                if (optionSelected.val() == 0) {
                                    $('.form-upload-icon').removeClass("bounceOutUp");
                                    $('.form-upload-icon').addClass("bounceInDown");
                                    $('.form-upload-icon').css("display", "block");
                                } else {
                                    if ($('.form-upload-icon').length != 0) {
                                        $('.form-upload-icon').removeClass("bounceInDown");
                                        $('.form-upload-icon').addClass("bounceOutUp");
                                        setTimeout(() => {
                                            $('.form-upload-icon').css("display", "none");
                                        }, 800);
                                    }
                                }
                            });

                            //add and update category
                            $("form").submit((e) => {

                                e.preventDefault();

                                //remove alert
                                $('.alert').remove();

                                //get purpose
                                var purpose = $('.btn-save-changes').attr('id');

                                var category_name,
                                    category_alias,
                                    category_on,
                                    category_icon,
                                    category_url;

                                //receive parameters
                                $("#form-add-category :input").each((index, element) => {

                                    var id = $(element).attr('id');

                                    switch (id) {
                                        case 'category-name':
                                            category_name = $(element).val();

                                            if (!category_name) {
                                                showAlert("#alert-error", "Tên danh mục là bắt buộc!");
                                                return
                                            }

                                            break;
                                        case 'category-alias':
                                            category_alias = $(element).val();

                                            if (!category_alias) {
                                                showAlert("#alert-error", "SEO URL là bắt buộc!");
                                                return
                                            }
                                            break;
                                        case 'category-on':
                                            category_on = $(element).val();
                                            break;
                                        case 'category-icon':
                                            if ($(element).get(0).files.length != 0) {
                                                category_icon = $(element).get(0).files[0];
                                            };
                                            break;
                                        case 'category-url':
                                            category_url = $(element).val();
                                            break;
                                    }
                                });

                                //checking for category
                                //if category is root => icon required
                                if (category_on == 0) {
                                    if (!(category_icon || category_url)) {
                                        showAlert("#alert-error", "Vui lòng cung cấp hình ảnh!");
                                        return
                                    } else {
                                        if (category_icon && category_url) {
                                            category_url = undefined;
                                        }
                                    }
                                    category_on = undefined;
                                }

                                var formData = new FormData();

                                if (purpose == "btn-add-category") {                                    
                                    formData.append("name", category_name);
                                    formData.append("icon", category_icon);
                                    formData.append("url", category_url);
                                    formData.append("id_root_category", category_on);
                                    formData.append("alias", category_alias);

                                    $.ajax({
                                        url: 'categories/add',
                                        method: 'POST',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: (data) => {
                                            if (data.error) {
                                                showAlert("#alert-error", data.error);
                                            } else {
                                                location.reload(true);
                                            }
                                        },
                                        error: (error) => {
                                            showAlert("#alert-error", error);
                                        }
                                    });
                                } else {

                                    formData.append("new_name", category_name);
                                    formData.append("new_alias", category_alias);
                                    formData.append("current_id_category", $('#category-id').val());
                                    formData.append("current_root_category", $('#category-id').attr('data-root-category'));
                                    formData.append("new_root_category", category_on);
                                    formData.append("new_icon", category_icon);
                                    formData.append("new_url", category_url);

                                    $.ajax({
                                        url: 'categories/edit',
                                        method: 'POST',
                                        data: formData,
                                        processData: false,
                                        contentType: false,
                                        success: (result) => {
                                            window.console.log(result);
                                            if (result.error) {
                                                alert(result.error);
                                            } else {
                                                location.reload();
                                            }
                                        },
                                        error: (error) => {
                                            window.console.log(result);
                                        }
                                    });
                                }
                            });

                            //hide col 0 in datatable
                            $('tr th:nth-child(1), tr td:nth-child(1)').hide();

                            //delete category
                            $("#table-category tbody").delegate('.delete-category', 'click', (e) => {

                                confirmDelete((cb) => {
                                    if (cb == true) {
                                        var id = (e.currentTarget.closest('tr').getElementsByClassName('td-id')[0].innerHTML).trim();
                                        var rootId = (e.currentTarget.closest('tr').getElementsByClassName('td-root-id')[0].innerHTML).trim();
        
                                        var rows = $('#table-category tbody').find(`[data-root-id = ${rootId}]`);
                                        var row = $('#table-category tbody').find(`[data-category-id = ${id}]`);
        
                                        //delete root category
                                        if (id == rootId) {
                                            $.post(
                                                'categories/delete',
                                                {
                                                    id: id
                                                },
                                                (data) => {
                                                    var error = data.error;
                                                    if (error) {
                                                        alert(error);
                                                    } else {
                                                        table.rows(rows).remove().draw('page');
                                                    }
                                                }
                                            );
        
                                        } else {    //non root
                                            $.post(
                                                'categories/delete',
                                                {
                                                    id: id,
                                                    rootCategory: rootId
                                                },
                                                (data) => {
                                                    var error = data.error;
                                                    if (error) {
                                                        alert(error);
                                                    } else {
                                                        table.row(row).remove().draw('page');
                                                    }
                                                }
                                            );
                                        }
                                    }
                                })
                            });

                            //show modal to edit category
                            $('.edit-category').click((e) => {
                                var current_id_category = (e.currentTarget.closest('tr').getElementsByClassName('td-id')[0].innerHTML).trim();
                                var current_root_category = (e.currentTarget.closest('tr').getElementsByClassName('td-root-id')[0].innerHTML).trim();
                                var current_name_category = (e.currentTarget.closest('tr').getElementsByClassName('td-name')[0].innerHTML).trim();
                                var current_alias_category = (e.currentTarget.closest('tr').getElementsByClassName('td-alias')[0].innerHTML).trim();

                                //reformat name of subcategory
                                if (current_id_category != current_root_category) {
                                    current_name_category = current_name_category.split(' ')[1];  
                                }

                                var idElement = `
                                    <div class="form-group form-group-id-category">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="recipient-name" class="control-label mb-10">Mã danh mục</label>
                                                <input type="text" class="form-control" id="category-id" data-root-category="${current_root_category}" placeholder="" disabled value="${current_id_category}">
                                            </div>                                            
                                        </div>
                                    </div>
                                `

                                if ($('.form-group-id-category').length != 0) {
                                    $('.form-group-id-category').remove();
                                }

                                $('.form-group-name-alias').before(idElement);

                                $('#category-add-model').modal('show');
                                $('#category-name').val(current_name_category);
                                $('#category-alias').val(current_alias_category);

                                $(`#category-on option[value="${current_root_category}"]`).prop('selected', true);

                                if ($('#btn-add-category').length != 0) {
                                    $('.btn-save-changes').removeAttr('id');
                                }

                                if ($('#btn-edit-category').length == 0) {
                                    $('.btn-save-changes').attr('id', 'btn-edit-category');
                                }
                            });

                            //show modal to add new category
                            $('#category-add').click((e) => {
                                $('#category-add-model').modal('show');

                                 $('.form-upload-icon').removeClass("bounceOutUp");
                                    $('.form-upload-icon').addClass("bounceInDown");
                                    $('.form-upload-icon').css("display", "block");

                                if ($('.form-group-id-category').length != 0) {
                                    $('.form-group-id-category').remove();
                                }

                                $('#category-name').val("");
                                $('#category-alias').val("");

                                $(`#category-on option[value="${0}"]`).prop('selected', true);

                                if ($('#btn-edit-category').length != 0) {
                                    $('.btn-save-changes').removeAttr('id');
                                }

                                if ($('#btn-add-category').length == 0) {
                                    $('.btn-save-changes').attr('id', 'btn-add-category');
                                }

                            });

                            $("#table-category_paginate").click((e) => {
                                $('tr th:nth-child(1), tr td:nth-child(1)').hide();
                            });
                        });
                    </script>
</body>

</html>