<!DOCTYPE html>
<html lang="vi">

<head>
	<% include layouts/header %>
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
	<div class="wrapper theme-5-active pimary-color-green">
		
		<% include layouts/menu %>

		<!-- Main Content -->
		<div class="page-wrapper" style="min-height: 435px;">
			<div class="container-fluid pt-25">
				<!-- Row -->
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">
															<% if (data.countUsers) { %>
																<%- data.countUsers %>
															<% } else { %>
																0
															<% } %>														 
														</span>
													</span>
													<span class="weight-500 uppercase-font block font-13">Người dùng</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-user-following data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">														<h1><%- data.count %></h1>
															<% if (data.countOrders) { %>
																<%- data.countOrders %>
															<% } else { %>
																NaN
															<% } %>	
														</span>
													</span>
													<span class="weight-500 uppercase-font block">Tổng số đơn hàng</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-basket-loaded data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
														<span class="counter-anim">
														<% if (data.countProducts) { %>
																<%- data.countProducts %>
															<% } else { %>
																NaN
															<% } %>	
														</span>
													</span>
													<span class="weight-500 uppercase-font block">Tổng số sản phẩm</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-screen-smartphone data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<div class="sm-data-box">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xs-6 text-center pl-0 pr-0 data-wrap-left">
													<span class="txt-dark block counter">
													
														<span class="counter-anim">
															<% if (data.countTraffic) { %>
																<%- data.countTraffic %>
															<% } else { %>
																NaN
															<% } %>	
														</span>
													</span>
													<span class="weight-500 uppercase-font block">Số lượt truy cập</span>
												</div>
												<div class="col-xs-6 text-center  pl-0 pr-0 data-wrap-right">
													<i class="icon-layers data-right-rep-icon txt-light-grey"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->

				<!-- Row -->
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view panel-refresh">
							
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Các sản phẩm bán chạy nhất</h6>
								</div>
								<div class="pull-right">
										<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap sm-data-box-2">
										<div class="table-responsive">
											<table class="table table-striped mb-0">
												<thead>
													<tr>
														<th>Tên sản phẩm</th>
														<th>Giá tiền</th>
														<th>Tổng số đơn</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>adidas</td>
														<td>$49,897</td>
														<td>8.61%</td>
													</tr>
													<tr>
														<td>men's park</td>
														<td>$15,478</td>
														<td>2.10%</td>
													</tr>
													<tr>
														<td>nutiva coconut oil</td>
														<td>$23,546</td>
														<td>4.35%</td>
													</tr>
													<tr>
														<td>cart software</td>
														<td>$36,589</td>
														<td>1.58%</td>
													</tr>
													<tr>
														<td>where to buy</td>
														<td>$55,467</td>
														<td>56%</td>
													</tr>
													<tr>
														<td>pink adhesive</td>
														<td>$71,245</td>
														<td>47.6%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Các từ khoá tìm kiếm nhiều nhất</h6>
								</div>
								<div class="pull-right">
										<a href="javascript:void(0)" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap sm-data-box-2">
										<div class="table-responsive">
											<table class="table table-striped mb-0">
												<thead>
													<tr>
														<th>Keyword</th>
														<th>Revenue</th>
														<th>Conversion Rate</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>adidas</td>
														<td>$49,897</td>
														<td>8.61%</td>
													</tr>
													<tr>
														<td>men's park</td>
														<td>$15,478</td>
														<td>2.10%</td>
													</tr>
													<tr>
														<td>nutiva coconut oil</td>
														<td>$23,546</td>
														<td>4.35%</td>
													</tr>
													<tr>
														<td>cart software</td>
														<td>$36,589</td>
														<td>1.58%</td>
													</tr>
													<tr>
														<td>where to buy</td>
														<td>$55,467</td>
														<td>56%</td>
													</tr>
													<tr>
														<td>pink adhesive</td>
														<td>$71,245</td>
														<td>47.6%</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" id="review-block">
						<div class="panel panel-default border-panel  review-box card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Nhận xét mới nhất</h6>
								</div>
								<div class="pull-right">
										<a href="/admin/reviews" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="streamline review-items">
										<!-- REVIEW -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-xs-12">
						<div class="panel panel-default border-panel card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Hoạt động gần đây</h6>
								</div>
								<a class="txt-danger pull-right right-float-sub-text inline-block" href="javascript:void(0)"> clear all </a>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper task-panel collapse in">
								<div class="panel-body row pa-0">
									<div class="list-group mb-0">
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-info capitalize-font">just now</span>
											<i class="zmdi zmdi-calendar-check pull-left"></i>
											<p class="pull-left">Calendar updated</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">4 min</span>
											<i class="zmdi zmdi-comment-alert pull-left"></i>
											<p class=" pull-left">Commented on a post</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-warning capitalize-font">23 min </span>
											<i class="zmdi zmdi-truck pull-left"></i>
											<p class=" pull-left">Order 392 shipped</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">46 min</span>
											<i class="zmdi zmdi-money pull-left"></i>
											<p class=" pull-left">Invoice 653 has been paid</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-danger capitalize-font">1 hr</span>
											<i class="zmdi zmdi-account pull-left"></i>
											<p class="pull-left">A new user has been added</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-warning capitalize-font">just now</span>
											<i class="zmdi zmdi-picture-in-picture pull-left"></i>
											<p class=" pull-left">Finance report has been released</p>
											<div class="clearfix"></div>
										</a>
										<a href="#" class="list-group-item">
											<span class="badge transparent-badge badge-success capitalize-font">1 hr</span>
											<i class="zmdi zmdi-device-hub pull-left"></i>
											<p class="pull-left">Web server hardware updated</p>
											<div class="clearfix"></div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->

				<!-- Row -->
				<div class="row">
					<div class="col-lg-12 col-md-6 col-xs-12" id="order-block">
						<div class="panel panel-default card-view panel-refresh">
							<div class="refresh-container">
								<div class="la-anim-1"></div>
							</div>
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Danh sách đơn hàng gần đây</h6>
								</div>
								<div class="pull-right">
									<a href="/admin/orders" class="pull-left btn btn-success btn-xs mr-15">Xem tất cả</a>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row pa-0">
									<div class="table-wrap">
										<div class="table-responsive">
											<div id="datable_1_wrapper" class="dataTables_wrapper no-footer">
												<table id="table-order" class="table display table-hover border-none dataTable no-footer" role="grid">
													<thead>
														<tr role="row">
															<th>#INVOICE</th>
                                                            <th>Người mua</th>            
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày mua</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
														</tr>
													</thead>
													<tbody>
														
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->
			</div>

			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
					<p>2018 &copy; Alomobile</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->

		</div>
		<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

	<% include layouts/footer %>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>

<script type="text/javascript">

  	socket.on('newOrder', function (data) {
    	
	});

	socket.on('newReview', (data) => {
		console.log(data);
	});

	socket.on('newUser', (data) => {

	});

	socket.on('update-current-user', (users) => {
		console.log();
		console.log(users);
	});

	jQuery(document).ready(($) => {

		//get reviews
		$.get('/api/v1/newerReviews', (data) => {
			if (data.reviews) {

				var reviewBlock = $('#review-block div.panel-wrapper div.review-items');

				var items = '';

				data.reviews.forEach((review, index) => {
				
					var fullName = review.byUser.fullName.firstName + " " + review.byUser.fullName.lastName 
				
					var date = new Date(review.created_at)
					var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  date.getMonth() +"/" +date.getFullYear()

					items+= `					
						<div class="sl-item">
							<div class="sl-content">
								<div class="per-rating inline-block pull-left">`

									for (let i = 1; i <= 5; i++) {
										if (i <= review.star) {
											items+= `<a href="javascript:void(0);" class="zmdi zmdi-star"></a>`
										} else {
											items+= `<a href="javascript:void(0);" class="zmdi zmdi-star-outline"></a>`
										}							
									}

									items += `<span class="inline-block">Cho ${review.product.name}</span>
								</div>
								<a href="javascript:void(0);" class="pull-right txt-grey">
									<i class="zmdi zmdi-mail-reply"></i>
								</a>
								<div class="clearfix"></div>
								<div class="inline-block pull-left">
									<span class="reviewer font-13">
										<span>Bởi</span>
										<a href="javascript:void(0)" class="inline-block capitalize-font mb-5">${fullName}</a>
									</span>
									<span class="inline-block font-13  mb-5">${dateCreated}</span>
								</div>
								<div class="clearfix"></div>
								<p class="mt-5">${review.content}</p>
							</div>
						</div>						
					`

					if (index != data.reviews.count - 1) {
						items += `<hr class="light-grey-hr">`
					}
					
				});
				$(reviewBlock).append(items);
			}
		});

		$.get('/api/v1/order/getNewerOrders', (data) => {
			if (data.orders) {

				var orderBlock = $('#table-order tbody')

				var items = '';

				data.orders.forEach((order, index) => {
					if (index % 2 == 0) {
						items += `<tr role="row" class="odd" id="${order._id}">`
					} else {
						items += `<tr role="row" class="even" id="${order._id}">`
					}         
					
					var fullName = order.byUser.fullName.firstName + " " + order.byUser.fullName.lastName
					var date = new Date(order.created_at)
					var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  date.getMonth() +"/" +date.getFullYear()

					items += `					
						<td class="txt-dark td-id">
							${order._id}
						</td>
						<td style="color: blue;" class="td-name-user">
							<a href="javascript: void(0)"> ${fullName}</a>
						</td>
						<td class="txt-dark td-product">
							<div>`
								order.products.forEach(product => {
									items += `<ul style="list-style-type: none;
												margin: 0;
												padding: 0;
												overflow: hidden;" data-id-product="${product.id._id}">
										<li style="float: left; margin: 5px">
											<a href="/admin/product/${product.id._id}"><span>${product.id.name} - </span></a>  
										</li>
										<li style="background-color: ${product.color.hex}; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; float: left; margin: 5px" title="${product.color.name}">
										</li>
										<li style="float: left; margin: 5px"><span>- ${product.price} </span></li>
										<li style="float: left; margin: 5px"><span>- số lượng: ${ product.quantity}</span></li>
									</ul>	`
								}) 
								items += `
							</div>                                 
						</td>
						<td class="td-date-order">
							${dateCreated}
						</td>
						<td>`
							var status = order.status
							if (status == 0) { 
								items += `<span class="label label-success font-weight-100">Khởi tạo</span>`
							} else if (status == 1) {
								items += `<span class="label label-primary font-weight-100">Đang đợi duyệt</span>`
							} else if (status == 2) {
								items += `<span class="label label-default font-weight-100">Đã duyệt</span>`
							} else if (status == 3) {
								items += `<span class="label label-default font-weight-100">Bị từ chối</span>`
							} else if (status == 4) {
								items += `<span class="label label-default font-weight-100">Người dùng huỷ đơn</span>`
							} else if (status == 5) {
								items += `<span class="label label-default font-weight-100">Đang giao</span>`
							} else {
								items += `<span class="label label-default font-weight-100">Đã giao</span>`
							}
						items += `</td>
						<td class="action-brand">
							<a href="/admin/invoice/${order._id}" class="text-inverse pr-10 review-order" title="Duyệt đơn hàng" data-id-order="${order._id}">
								<i class="zmdi zmdi-eye txt-warning"></i>
							</a>
						</td>
					</tr>
					`
					
				});

				$(orderBlock).append(items);
			}

			$('#table-order').DataTable({
				"bFilter": false,
				"bLengthChange": false,
				"bPaginate": false,
				"bInfo": false			
			});
		})

		//get orders
	});
</script>

</html>