<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>

    <!-- Bootstrap Dropify CSS -->
    <link href="/static/admin/libs/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Colorpicker CSS -->
    <link href="/static/admin/libs/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }
    </style>    
</head>
<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">Thêm sản phẩm mới</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in" style="margin: 10px">
                                    <div class="panel-body row">
                                        <div class="form-wrap">
                                            <form action="" id="formNewProduct" enctype="multipart/form-data">
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-info-outline mr-10"></i>Thông tin cơ bản</h6>
                                                <hr class="light-grey-hr" />
                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Tên sản phẩm
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" id="product_name" class="form-control required" placeholder="Iphone X 256GB">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Thương hiệu
                                                                <span style="color: red">*</span>
                                                            </label>                                                            
                                                            <select class="form-control" tabindex="1" id="selectBrand">
                                                                <option value="null">Chọn một thương hiệu</option>

                                                                <% if (data.brands && data.brands.length > 0) { %>
                                                                    <% data.brands.forEach((brand) => { %>
                                                                        <% if (brand && brand.name) { %>
                                                                            <option data-id-brand="<%- brand._id %>" value="<%- brand._id %>"><%- brand.name %></option>
                                                                        <% } %>
                                                                    <% }); %>
                                                                <% } %>

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Tên hiển thị URL
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" id="product_alias" class="form-control" placeholder="iphone-x-256-gb"></input>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!-- /row -->

                                                <!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Loại sản phẩm
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <select class="form-control" data-placeholder="Chọn danh mục" tabindex="1" id="selectType">
                                                                <option value="0">Chọn một loại sản phẩm</option>
                                                                
                                                                <% var types = data.types; %>
                                                                <%  if (types && types.length > 0) { %>
                                                                    <% types.forEach((type) => { %>
                                                                        <% var id = type._id; %>
                                                                        <% var name = type.name; %>
                                                                        <% var alias = type.alias; %>
                                                                        
                                                                        <% if ((id && name && alias)) { %>
                                                                            <option value="<%- id %>"
                                                                                data-alias="<%- alias %>" data-id-type="<%- id%>">
                                                                                <%- name %>
                                                                            </option>
                                                                        <% } %>
                                                                   <% }); %>
                                                                <% } %>   
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Danh mục sản phẩm
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <select class="form-control" data-placeholder="Chọn danh mục" tabindex="1" id="selectCategory">
                                                                <option value="0">Chọn một danh mục</option>
                                                                <% var categories = data.categories %>
                                                                <% categories.forEach((category) => { %>
                                                                    <option data-id-category="<%- category._id %>" data-id-root="<%- category._id %>" value="<%- category._id %>"><%- category.name %></option>

                                                                    <% var subs = category.subCategories; %>
                                                                    <% if (subs && subs.length > 0 && subs[0] != null) { %>
                                                                        <% subs.forEach((sub) => { %>
                                                                            <option data-id-category="<%- sub._id %>" data-id-root="<%- category._id %>" value="<%- sub._id %>">----<%- sub.name %></option>
                                                                        <% }); %>
                                                                    <% } %>

                                                                <% }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                          
                                                 <!-- BLOCK -->
                                                 <div class="seprator-block"></div>
                                                 <h6 class="txt-dark capitalize-font">
                                                     <i class="zmdi zmdi-invert-colors mr-10"></i>Màu sắc và giá cả
                                                     <span style="color: red">*</span>
                                                     <button type="button" class="btn btn-primary btn-sm" style="margin-left: 15px;" id="newColor">Thêm màu mới</button>
                                                 </h6>
                                                 <hr class="light-grey-hr" />
                                                 <!-- /BLOCK -->  
                                                 
                                                 
                                                 <div id="color-block">
                                                     <!-- Row -->
                                                     <div class="row row-block" >
                                                         <div class="col-md-12">
                                                             <div class="form-group">
                                                                 <div class="row">
                                                                     <div class="col-md-6 color-price animated">
                                                                         <div class="col-md-6">
                                                                             <div class="colorpicker input-group colorpicker-component">
                                                                                 <input type="text" value="#000000" class="form-control color-value" />
                                                                                 <span class="input-group-addon">
                                                                                     <i></i>
                                                                                 </span>
                                                                             </div>
                                                                         </div>         
                                                                         <div class="col-md-6">              
                                                                             <div class="input-group">
                                                                                 <div class="input-group-addon">
                                                                                     <i class="ti-money"></i>
                                                                                 </div>
                                                                                 <input type="text" class="form-control price-value" placeholder="24.990.000 VNĐ">
                                                                                 <span class="input-group-addon delete-color" style="cursor: pointer;">
                                                                                     <i class="fa fa-trash-o"></i>
                                                                                 </span>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                     <div class="col-md-6 color-price animated">
                                                                         <div class="col-md-6">
                                                                             <div class="colorpicker input-group colorpicker-component">
                                                                                 <input type="text" value="#ebcd31" class="form-control color-value" />
                                                                                 <span class="input-group-addon">
                                                                                     <i></i>
                                                                                 </span>
                                                                             </div>
                                                                         </div>
                                                                         <div class="col-md-6">
                                                                             <div class="input-group">
                                                                                 <div class="input-group-addon">
                                                                                     <i class="ti-money"></i>
                                                                                 </div>
                                                                                 <input type="text" class="form-control price-value" placeholder="28.890.000 VNĐ">
                                                                                 <span class="input-group-addon delete-color" style="cursor: pointer;">
                                                                                     <i class="fa fa-trash-o"></i>
                                                                                 </span>
                                                                             </div>
                                                                         </div>
                                                                     </div>
                                                                 </div>                                                            
                                                             </div>
                                                         </div>
                                                     </div>
                                                     <!-- /Row -->
                                                 </div>


                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-comment-text mr-10"></i>Mô tả chi tiết sản phẩm
                                                    <span style="color: red">*</span>
                                                </h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea class="tinymce" id="product_descriptions"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Title
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="product_meta_title">
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10">Meta Keyword
                                                                <span style="color: red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" id="product_meta_keyword">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seprator-block"></div>
                                                <h6 class="txt-dark capitalize-font">
                                                    <i class="zmdi zmdi-collection-image mr-10"></i>Hình ảnh sản phẩm
                                                    <span style="color: red">*</span>
                                                </h6>
                                                <hr class="light-grey-hr" />
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 1 - Hình hiển thị (350 x 400)
                                                                <span style="color: red">*</span>
                                                        </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="340" data-max-width="360" data-min-height="390" data-max-height="410" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 2 - Hình hiển thị 2 (350 x 400)
                                                                <span style="color: red">*</span>
                                                        </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="340" data-max-width="360" data-min-height="390" data-max-height="410" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 3 (Ảnh trung bình - 460x530) </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="450" data-max-width="470" data-min-height="500" data-max-height="550" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" style="margin: 20px;"></div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 4 (Ảnh trung bình - 460x530)</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="450" data-max-width="470" data-min-height="500" data-max-height="550" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 5 (Ảnh lớn - 600x700) </h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="570" data-max-width="610" data-min-height="680" data-max-height="710" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <h6 class="panel-title txt-dark" style="text-align: center;">Hình 6 (Ảnh lớn - 600x700)</h6>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="mt-10" style="margin-top: 5px;">
                                                                    <input type="file" id="input-file-max-fs" class="dropify" data-max-file-size="2M" data-min-width="570" data-max-width="610" data-min-height="680" data-max-height="710" data-allowed-file-extensions="png jpg bmp jpeg"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" style="margin: 20px;"></div>

                                                <!-- specifications-block -->
                                                <div class="seprator-block" id="specifications-block"></div>
                                                <!-- /specifications-block -->

                                                <div class="form-actions">
                                                    <button class="btn btn-success btn-icon left-icon mr-10 pull-left" id="add_save" type="submit">
                                                        <!-- <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> -->
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                        <span>Lưu lại</span>
                                                    </button>
                                                    <a type="button" class="btn btn-warning pull-left" href="/admin/products" >Trở về</a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->
                </div>
                <!-- Footer -->
                <footer class="footer container-fluid pl-30 pr-30">
                    <div class="row">
                        <div class="col-sm-12">
                        <p>2018 &copy; Alomobile</p>
                        </div>
                    </div>
                </footer>
                <!-- /Footer -->
            </div>
            <!-- /Main Content -->
    </div>
    <!-- /#wrapper -->
        <!-- JavaScript -->
        <% include layouts/footer %>
        <!-- Tinymce JavaScript -->
        <script src="/static/admin/libs/tinymce/tinymce.min.js" type="text/javascript"></script>
        <!-- Tinymce Wysuhtml5 Init JavaScript -->
        <script type="text/javascript" src="/static/admin/js/tinymce-data.js"></script>
        <script type="text/javascript" src="/static/admin/js/show-specifications.js"></script>
        <!-- Bootstrap Daterangepicker JavaScript -->
        <script type="text/javascript" src="/static/admin/libs/dropify/dist/js/dropify.min.js"></script>
        <!-- Form Flie Upload Data JavaScript -->
        <script type="text/javascript" src="/static/admin/js/form-file-upload-data.js"></script>
        <!-- Bootstrap Colorpicker JavaScript -->
        <script type="text/javascript" src="/static/admin/libs/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <!-- Form Picker Init JavaScript -->
        <script type="text/javascript" src="/static/admin/js/form-picker-data.js"></script>	

        <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <!-- JQUERY -->
        <script type="text/javascript">

            var product = <%- JSON.stringify(data.product) %>;
           
           (function() {

               //genaral
                $("#product_name").val(product.name || "")
                $("#product_alias").val(product.alias || "");
                $("#product_meta_title").val(product.metaTitle || "");
                $("#product_meta_keyword").val(product.metaKeyword || "");
                $("#product_descriptions").html(`${product.descriptions}`);
                $(`#selectType option[value="${product.type._id}"]`).prop('selected', true);
                $(`#selectBrand option[value="${product.brand._id}"]`).prop('selected', true);
                $(`#selectCategory option[value="${product.category.idCategory}"]`).prop('selected', true);

                //images
                var inputFiles = $('input#input-file-max-fs.dropify');
                var images = product.images;
                if (images && images.length > 0) {
                    for (let i = 0; i < images.length; i++) {
                        const url = images[i].url;
                        if (url) {
                            $(inputFiles[i]).attr('data-default-file', url);
                        }
                    }
                }

                //specifications
                showSpecification("#specifications-block", $("#selectType").find('option:selected').attr('data-alias'));

                var specifications = product.specifications;

                if (!specifications) {
                    return;
                }
                switch (product.type.alias) {
                    case "dien-thoai":                          
                    case "may-tinh-bang":  
                        var screen = specifications.screen,
                            frontCamera = specifications.frontCamera,
                            backCamera = specifications.backCamera,
                            processor = specifications.processor,
                            storage = specifications.storage,
                            connections = specifications.connections,
                            utils = specifications.utils,
                            sizeAndWeight = specifications.sizeAndWeight,
                            battery = specifications.battery;
                        // screen
                        if (screen) {
                            $('#display_technology').val(screen.displayTechnology || "")
                            $('#display_resolution').val(screen.resolution || "")
                            $('#display_width').val(screen.width || "")
                            $('#display_touch_screen').val(screen.touch || "") 
                        }
                        
                        //frontCamera
                        if (frontCamera) {                                                             
                            $('#camera_front_resolution').val(frontCamera.resolution || "")
                            $('#camera_front_flash').val(frontCamera.flash || "")
                            $('#camera_front_video_call').val(frontCamera.videoCall || "")
                            $('#camera_front_other').val(frontCamera.other || "")
                        }

                        // backCamera   
                        if (backCamera) {
                            $('#camera_back_resolution').val(backCamera.resolution || "")
                            $('#camera_back_flash').val(backCamera.flash || "")
                            $('#camera_back_film').val(backCamera.makeFilm || "")
                            $('#camera_back_other').val(backCamera.other || "")
                        }

                        //processor
                        if (processor) {
                            if (processor.cpu) {
                                $('#processor_cpu_chipset').val(processor.cpu.chipset || "")
                                $('#processor_cpu_manufacturer').val(processor.cpu.manufacturer || "")
                                $('#processor_cpu_speed').val(processor.cpu.speed || "")                            
                            }

                            if (processor.gpu) {                                
                                $('#processor_gpu_chipset').val(processor.gpu.chipset || "")
                                $('#processor_gpu_manufacturer').val(processor.gpu.manufacturer || "")
                                $('#processor_gpu_speed').val(processor.gpu.speed || "")                            
                            }
                        }

                        //storage
                        if (storage) {
                            $('#storage_internal').val(storage.internal || "")
                            $('#storage_external').val(storage.external || "")
                            $('#storage_available').val(storage.available || "")
                            $('#storage_ram').val(storage.ram || "")
                        }

                        //connections
                        if (connections) {
                            $('#connective_mobile_network').val(connections.mobileNetwork || "")
                            $('#connective_sim').val(connections.sim || "")
                            $('#connective_wifi').val(connections.wifi || "")
                            $('#connective_gps').val(connections.GPS || "")
                            $('#connective_bluetooth').val(connections.bluetooth || "")
                            $('#connective_connector_charger').val(connections.connectorCharger || "")
                            $('#connective_jack').val(connections.jack || "")                                  
                            $('#connective_other').val(connections.other || "")
                        }

                        //utils
                        if (utils) {
                            $('#util_advanced_security').val(utils.advancedSecurity || "")
                            $('#util_special_features').val(utils.specialFeatures || "")
                            $('#util_record').val( utils.record || "")
                            $('#util_radio').val(utils.radio || "")
                            $('#util_entertainment').val(utils.entertainment || "")
                        }

                        //sizeAndWeight
                        if (sizeAndWeight) {
                            $('#design_style').val(sizeAndWeight.style || "")
                            $('#design_material').val(sizeAndWeight.meterial || "")

                            if (sizeAndWeight.size) {
                                $('#size_long').val(sizeAndWeight.size.long || ""),
                                $('#size_horizontal').val(sizeAndWeight.size.horizontal || ""),
                                $('#size_thick').val(sizeAndWeight.size.thick || "")
                            }
                        }

                        //battery
                        if (battery) {
                            $('#battery_capcity').val(battery.capacity || "")
                            $('#battery_type').val(battery.style || "")
                            $('#battery_tech').val(battery.tech || "")
                        }

                        $('#os').val(specifications.os || "");
                        $('#other').val(specifications.other || "");
                      
                        break;     
                    case "laptop":  
                                     
                        break;                            
                    case "tai-nghe": 

                        var jack = specifications.jack,
                            wireLength = specifications.wireLength,
                            buttonControl = specifications.buttonControl
                            box = specifications.box;

                        $('#product_jack').val(jack || "");
                        $('#product_wire_length').val(wireLength || "");
                        $('#product_button_control').val(buttonControl || "");
                        $('#product_box').val(box || "");
                        break;

                    case "tai-nghe-khong-day": 
                        
                        var connection = specifications.connection,
                            battery = specifications.battery,
                            timeCharge = specifications.timeCharge,
                            timeUse = specifications.timeUse,
                            source = specifications.source;

                            $('#product_connection').val(connection || "");
                            $('#product_battery').val(battery || "");
                            $('#product_time_charge').val(timeCharge || "");
                            $('#product_time_use').val(timeUse || "");
                            $('#product_source').val(source || "");

                        break;

                    case "op-lung":  
                        
                        var material = specifications.material,
                            style = specifications.style;

                        $('#product_material').val(material || "");
                        $('#product_style').val(style || "");

                        break;

                    case "sac-du-phong":  
                    
                        var chargeTime = specifications.chargeTime,
                            port = specifications.port,
                            chargingPerformance = specifications.chargingPerformance,
                            battery = specifications.battery,
                            ledAlert = specifications.ledAlert,
                            carrier = specifications.carrier,
                            input = specifications.input,
                            weight = specifications.weight;

                        $('#product_charge_time').val(chargeTime || "");
                        $('#product_port').val(port || "");
                        $('#product_charging_performance').val(chargingPerformance || "");
                        $('#product_battery').val(battery || "");
                        $('#product_led_alert').val(ledAlert || "");
                        $('#product_carrier').val(carrier || "");
                        $('#product_input').val(input || "");
                        $('#product_weight').val(weight || "");

                        break;
                            
                    case "loa":
                    case "loa-khong-day":

                        var model = specifications.model,
                        length = specifications.length,
                        size = specifications.size,
                        weight = specifications.weight,
                        totalPower = specifications.totalPower,
                        power = specifications.power,
                        connection = specifications.connection,
                        remote = specifications.remote,
                        box = specifications.box,
                        battery = specifications.battery;

                        $('#product_model').val(model || "");
                        $('#product_length').val(length || "");
                        $('#product_size').val(size || "");
                        $('#product_weight').val(weight || "");
                        $('#product_total_power').val(totalPower || "");
                        $('#product_power').val(power || "");
                        $('#product_connection').val(connection || "");
                        $('#product_remote').val(remote || "");
                        $('#product_box').val(box || "");
                        $('#product_battery').val(battery || "");

                        break;

                    case "ba-lo-tui-xach":  break;
                    case "chuot": 
                        
                        var carrier = specifications.carrier,
                            model = specifications.model,
                            opticalResolution = specifications.opticalResolution,
                            connection = specifications.connection,
                            lengthCab = specifications.lengthCab,
                            size = specifications.size,
                            weight = specifications.weight;

                        $('#product_carrier').val(carrier || "");
                        $('#product_model').val(model || "");
                        $('#product_optical_resolution').val(opticalResolution || "");
                        $('#product_connection').val(connection || "");
                        $('#product_length_cab').val(lengthCab || "");
                        $('#product_size').val(size || "");
                        $('#product_weight').val(weight || "");

                        break;
                    case "ban-phim":
                        
                        var carrier = specifications.carrier,
                            model = specifications.model,
                            opticalResolution = specifications.opticalResolution,
                            connection = specifications.connection,
                            lengthCab  = specifications.lengthCab,
                            size = specifications.size,
                            weight = specifications.weight;

                        $('#product_carrier').val(carrier || "");
                        $('#product_model').val(model || "");
                        $('#product_optical_resolution').val(opticalResolution || "");
                        $('#product_connection').val(connection || "");
                        $('#product_length_cab').val(lengthCab || "");
                        $('#product_size').val(size || "");
                        $('#product_weight').val(weight || "");

                        break;
                    case "cap-sac":  
                        
                        var jack = specifications.jack,
                            feature = specifications.feature,
                            maxCharge = specifications.maxCharge,
                            maxLong = specifications.maxLong,
                            carrier = specifications.carrier;

                        $('#product_jack').val(jack || "");
                        $('#product_feature').val(feature || "");
                        $('#product_max_charge').val(maxCharge || "");
                        $('#product_connection').val(maxLong || "");
                        $('#product_carrier').val(carrier || "");

                        break;
                    case "cu-sac":

                        var power = specifications.power,
                            feature = specifications.feature,
                            maxCharge = specifications.maxCharge,
                            carrier = specifications.carrier;

                        $('#product_power').val(power || "");
                        $('#product_feature').val(feature || "");
                        $('#product_max_charge').val(maxCharge || "");
                        $('#product_carrier').val(carrier || ""); 
                                
                        break;
                    case "thiet-bi-luu-tru": 
                        
                        var type = specifications.type,
                            capacity = specifications.capacity,
                            speed_read = specifications.speed_read,
                            speed_write = specifications.speed_write;

                        $('#product_type').val(type || "");
                        $('#product_capacity').val(capacity || "");
                        $('#product_speed_read').val(speed_read || "");
                        $('#product_speed_write').val(speed_write || "");
                                
                        break;
                    case "dong-ho-thong-minh": 
                    
                    var screen = specifications.screen,
                        detailConfiguration = specifications.detailConfiguration,
                        entertainment = specifications.entertainment,
                        connection = specifications.connectio = connection,
                        physicalParameters = specifications.physicalParameters;

                    if (screen) {
                        $('#display_technology').val(screen.displayTechnology || "");
                        $('#display_resolution').val(screen.resolution || "");
                        $('#display_wideScreen').val(screen.wide || "");
                        $('#display_glass').val(screen.glass || "");
                    }

                    if (detailConfiguration) {
                        $('#os').val(detailConfiguration.os || "");
                        $('#ram').val(detailConfiguration.ram || "");
                        $('#cpu').val(detailConfiguration.cpu || "");
                        $('#rom').val(detailConfiguration.rom || "");
                    }
                    
                    if (entertainment) {
                        $('#camera').val(entertainment.camera || "");
                        $('#camera_app').val(entertainment.cameraApp || "");
                        $('#record_video').val(entertainment.recordVideo || "");
                        $('#speaker').val(entertainment.speaker || "");
                        $('#feature_others').val(entertainment.featureOthers || "");
                    }

                    if (connection) {
                        $('#connective').val(connection.connectiveDevice || "");
                        $('#bluetooth').val(connection.bluetooth || "");
                        $('#wifi').val(connection.wifi || "");
                        $('#connection_others').val(connection.connection_others || "");
                    }

                    if (physicalParameters) {
                        $('#size').val(physicalParameters.size || ""),
                        $('#weight').val(physicalParameters.weight || ""),
                        $('#material').val(physicalParameters.material || ""),
                        $('#guard_water').val(physicalParameters.guardWater || ""),
                        $('#battery').val(physicalParameters.battery || ""),
                        $('#battery_wait').val(physicalParameters.batteryWait || "")
                    }                                
                                
                        break;
                    case "gay-tu-suong":  

                        var typeConnection = specifications.typeConnection,
                            minLong = specifications.minLong,
                            maxLong = specifications.maxLong,
                            compatible = specifications.compatible,
                            carrier = specifications.carrier;

                        $('#product_type_connection').val(typeConnection || "");
                        $('#product_min_long').val(minLong || "");
                        $('#product_max_long').val(maxLong || "");
                        $('#product_compatible').val(compatible || "");
                        $('#product_carrier').val(carrier || "");                        
                                
                        break;
                    default: 
                    break;
                }

                var dropify = $('.dropify').dropify({
                    error: {
                        'fileSize': 'Chỉ cho phép upload ảnh dưới 2 MB.',
                        'minWidth': 'Chiều dài ảnh phải lớn hơn {{ value }} pixel.',
                        'maxWidth': 'Chiều dài ảnh phải nhỏ hơn {{ value }} pixel.',
                        'minHeight': 'Chiều cao ảnh phải lớn hơn {{ value }} pixel.',
                        'maxHeight': 'Chiều cao ảnh phải nhỏ hơn {{ value }} pixel.',
                        'imageFormat': 'Chỉ cho phép upload các định dạng ảnh: {{ value }}.'
                    },
                    messages: {
                        'default': 'Kéo và thả hình vào đây hoặc nhấn vào để tải ảnh lên ',
                        'replace': 'Kéo và thả hình vào đây hoặc nhấn vào để thay thế ảnh hiện tại',
                        'remove':  'Thay thế',
                        'error':   'Tải ảnh lên thất bại!'
                    }
                });
            })();

            function showAlert(notify) {
                swal({
                    title: "Có lỗi xảy ra",
                    text: notify,
                    icon: "error",
                    button: "Đã hiểu",
                });                
            }

            jQuery(document).ready(($) => {

                //default color of product are 2;
                var totalColorPicker = product.colors.length;

                //select a category
                $("#selectType").change(() => {
                    showSpecification("#specifications-block", $("#selectType").find('option:selected').attr('data-alias'));
                });
                
                //submit add new product
                $("form").submit((e) => {
                    e.preventDefault();

                    var newProduct = {}

                    newProduct.id = product._id;

                    //name
                    newProduct.name = $("#product_name").val();
                    //alias
                    newProduct.alias  = $("#product_alias").val();
                    //color

                    var numOfColors = $('.color-price');

                    var colors = [];
                    var prices = [];

                    numOfColors.each((index, element) => {
                        var color = $(element).find('.color-value').val();
                        var price = $(element).find('.price-value').val();                       
                        if (color && price) {
                            colors.push({
                                hex: color,
                                name: ntc.name(color)[1] || ""
                            });
                            prices.push({
                                color: {
                                    hex: color,
                                    name: ntc.name(color)[1] || ""
                                },
                                price: price
                            });
                        }
                    });
                    
                    newProduct.colors = colors;
                    newProduct.prices = prices;
                    newProduct.brand = $("#selectBrand").find('option:selected').attr('data-id-brand');
                    newProduct.category = {
                        idRootCategory: $("#selectCategory").find('option:selected').attr('data-id-root'),
                        idCategory: $("#selectCategory").find('option:selected').attr('data-id-category')
                    }
                    newProduct.price = $("#product_price").val();
                    newProduct.descriptions = tinyMCE.get('product_descriptions').getContent()
                    newProduct.metaTitle = $("#product_meta_title").val();
                    newProduct.metaKeyword = $("#product_meta_keyword").val();

                    //get option of category that's selected
                    var selectedType = $("#selectType").find('option:selected');
                    var specifications = {};
                    //get specifications of product
                    if (selectedType.length > 0) {
                        switch (selectedType.attr('data-alias')) {
                            case "laptop":
                                var screen = {
                                    displayTechnology: $('#display_technology').val(),
                                    resolution: $('#display_resolution').val(),
                                    width: $('#display_width').val(),
                                    touch: $('#display_touch_screen').val()
                                }
                                var processor = {
                                    tech: $('#processor_cpu_tech').val(),
                                    type:  $('#processor_cpu_type').val(),
                                    speed : $('#processor_cpu_speed').val(),
                                    maxSpeed: $('#processor_cpu_max_speed').val(),
                                }
                                var storage = {
                                    ram: $('#storage_ram').val(),
                                    type:  $('#storage_ram_type').val(),
                                    bus : $('#storage_ram_bus').val(),
                                    maxRam: $('#storage_ram_max').val(),
                                    hardDrive: $('#storage_hard_drive').val(),
                                }
                                var graphicsAudio = {
                                    design: $('#graphics_design').val(),
                                    cardName:  $('#graphics_card_name').val(),
                                    sound : $('#sound_tech').val()
                                }
                                var connectionAndUtils = {
                                    connectivePort: $('#connective_port').val(),
                                    connectiveWireless:  $('#connective_wireless').val(),
                                    opticalDrive : $('#connective_optical_drive').val(),
                                    webcam: $('#connective_webcam').val(),
                                    ligthKeyboard:  $('#connective_light_keyboard').val(),
                                    otherUtils : $('#connective_other').val() 
                                }
                                var sizeAndWeight = {
                                    weight: $('#design_weight').val(),
                                    meterial:  $('#design_material').val(),
                                    size: {
                                        long: $('#size_long').val(),
                                        horizontal: $('#size_horizontal').val(),
                                        thick: $('#size_thick').val()
                                    }                                
                                }
                                var battery = {
                                    capacity: $('#battery_capacity').val(),
                                    style:  $('#battery_style').val(),
                                    tech: $('#battery_tech').val()
                                }
                                var os = $('#os').val();
                                var other = $('#other').val();

                                specifications.screen = screen;
                                specifications.processor = processor;
                                specifications.storage = storage;
                                specifications.graphicsAudio = graphicsAudio;
                                specifications.connectionAndUtils = connectionAndUtils;
                                specifications.sizeAndWeight = sizeAndWeight;
                                specifications.battery = battery;
                                specifications.os = os;
                                specifications.other = other;

                                break;
                            case "dien-thoai":
                            case "may-tinh-bang":  
                                    var screen = {
                                        displayTechnology: $('#display_technology').val(),
                                        resolution: $('#display_resolution').val(),
                                        width: $('#display_wideScreen').val(),
                                        touch: $('#display_glass').val()
                                    }
                                    var frontCamera = {                                    
                                        resolution: $('#camera_front_resolution').val(),
                                        flash: $('#camera_front_flash').val(),
                                        videoCall: $('#camera_front_video_call').val(),
                                        other: $('#camera_front_other').val()
                                    }
                                    var backCamera = {                                    
                                        resolution: $('#camera_back_resolution').val(),
                                        flash: $('#camera_back_flash').val(),
                                        makeFilm: $('#camera_back_film').val(),
                                        other: $('#camera_back_other').val()
                                    }
                                    var processor = {
                                        cpu: {
                                            chipset: $('#processor_cpu_chipset').val(),
                                            manufacturer:  $('#processor_cpu_manufacturer').val(),
                                            speed : $('#processor_cpu_speed').val()
                                        },
                                        gpu: {
                                            chipset: $('#processor_gpu_chipset').val(),
                                            manufacturer:  $('#processor_gpu_manufacturer').val(),
                                            speed : $('#processor_gpu_speed').val()
                                        }                                    
                                    }
                                    var storage = {
                                        internal: $('#storage_internal').val(),
                                        external:  $('#storage_external').val(),
                                        available : $('#storage_available').val(),
                                        ram: $('#storage_ram').val()
                                    }
                                    var connections = {
                                        mobileNetwork: $('#connective_mobile_network').val(),
                                        sim:  $('#connective_sim').val(),
                                        wifi : $('#connective_wifi').val(),
                                        GPS: $('#connective_gps').val(),
                                        bluetooth:  $('#connective_bluetooth').val(),
                                        connectorCharger : $('#connective_connector_charger').val(),
                                        jack : $('#connective_jack').val(),                                   
                                        other:  $('#connective_other').val()
                                    }
                                    var utils = {
                                        advancedSecurity: $('#util_advanced_security').val(),
                                        specialFeatures:  $('#util_special_features').val(),
                                        record : $('#util_record').val(),
                                        radio: $('#util_radio').val(),
                                        entertainment:  $('#util_entertainment').val()
                                    }
                                    var sizeAndWeight = {
                                        style: $('#design_style').val(),
                                        meterial:  $('#design_material').val(),
                                        size: {
                                            long: $('#size_long').val(),
                                            horizontal: $('#size_horizontal').val(),
                                            thick: $('#size_thick').val()
                                        }                                
                                    }
                                    var battery = {
                                        capacity: $('#battery_capcity').val(),
                                        style:  $('#battery_type').val(),
                                        tech: $('#battery_tech').val()
                                    }
                                    var os = $('#os').val();
                                    var other = $('#other').val();

                                    specifications.screen = screen;
                                    specifications.frontCamera = frontCamera;
                                    specifications.backCamera = backCamera;
                                    specifications.processor = processor;
                                    specifications.storage = storage;
                                    specifications.connections = connections;
                                    specifications.utils = utils;
                                    specifications.sizeAndWeight = sizeAndWeight;
                                    specifications.battery = battery; 
                                    specifications.os = os;
                                    specifications.other = other;                                 
                                
                                    break;                            
                            case "tai-nghe": 
                                var jack = $('#product_jack').val();
                                var wire_length = $('#product_wire_length').val();
                                var button_control = $('#product_button_control').val();
                                var box = $('#product_box').val();

                                specifications.jack = jack;
                                specifications.wireLength = wire_length;
                                specifications.buttonControl = button_control;
                                specifications.box = box;
                                break;

                            case "tai-nghe-khong-day":  
                                var product_connection = $('#product_connection').val();
                                var product_battery = $('#product_battery').val();
                                var product_time_charge = $('#product_time_charge').val();
                                var product_time_use = $('#product_time_use').val();
                                var product_source = $('#product_source').val();

                                specifications.connection = product_connection;
                                specifications.battery = product_battery;
                                specifications.timeCharge = product_time_charge;
                                specifications.timeUse = product_time_use;
                                specifications.source = product_source;

                                break;

                            case "op-lung":  
                                var product_material = $('#product_material').val();
                                var product_style = $('#product_style').val();

                                specifications.material = product_material;
                                specifications.style = product_style;

                                break;

                            case "sac-du-phong":  
                            
                                var product_charge_time = $('#product_charge_time').val();
                                var product_port = $('#product_port').val();
                                var product_charging_performance = $('#product_charging_performance').val();
                                var product_battery = $('#product_battery').val();
                                var product_led_alert = $('#product_led_alert').val();
                                var product_carrier = $('#product_carrier').val();
                                var product_input = $('#product_input').val();
                                var product_weight = $('#product_weight').val();

                                specifications.chargeTime = product_charge_time;
                                specifications.port = product_port;
                                specifications.chargingPerformance = product_charging_performance;
                                specifications.battery = product_battery;
                                specifications.ledAlert = product_led_alert;
                                specifications.carrier = product_carrier;
                                specifications.input = product_input;
                                specifications.weight = product_weight;

                                break;
                                    
                            case "loa":
                            case "loa-khong-day":

                                var product_model = $('#product_model').val();
                                var product_length = $('#product_length').val();
                                var product_size = $('#product_size').val();
                                var product_weight = $('#product_weight').val();
                                var product_total_power = $('#product_total_power').val();
                                var product_power = $('#product_power').val();
                                var product_connection = $('#product_connection').val();
                                var product_remote = $('#product_remote').val();
                                var product_box = $('#product_box').val();
                                var product_battery = $('#product_battery').val();

                                specifications.model = product_model;
                                specifications.length = product_length;
                                specifications.size = product_size;
                                specifications.weight = product_weight;
                                specifications.totalPower = product_total_power;
                                specifications.power = product_power;
                                specifications.connection = product_connection;
                                specifications.remote = product_remote;
                                specifications.box = product_box;
                                specifications.battery = product_battery;
                                break;

                            case "ba-lo-tui-xach":  break;
                            case "chuot": 
                                var product_carrier = $('#product_carrier').val();
                                var product_model = $('#product_model').val();
                                var product_optical_resolution = $('#product_optical_resolution').val();
                                var product_connection = $('#product_connection').val();
                                var product_length_cab = $('#product_length_cab').val();
                                var product_size = $('#product_size').val();
                                var product_weight = $('#product_weight').val();

                                specifications.carrier = product_carrier;
                                specifications.model = product_model;
                                specifications.opticalResolution = product_optical_resolution;
                                specifications.connection = product_connection;
                                specifications.lengthCab = product_length_cab;
                                specifications.size = product_size;
                                specifications.weight = product_weight;

                                break;
                            case "ban-phim":
                                var product_carrier = $('#product_carrier').val();
                                var product_model = $('#product_model').val();
                                var product_optical_resolution = $('#product_optical_resolution').val();
                                var product_connection = $('#product_connection').val();
                                var product_length_cab = $('#product_length_cab').val();
                                var product_size = $('#product_size').val();
                                var product_weight = $('#product_weight').val();

                                specifications.carrier = product_carrier;
                                specifications.model = product_model;
                                specifications.opticalResolution = product_optical_resolution;
                                specifications.connection = product_connection;
                                specifications.lengthCab = product_length_cab;
                                specifications.size = product_size;
                                specifications.weight = product_weight;

                                break;
                            case "cap-sac":  
                                var product_jack = $('#product_jack').val();
                                var product_feature = $('#product_feature').val();
                                var product_max_charge = $('#product_max_charge').val();
                                var product_max_long = $('#product_connection').val();
                                var product_carrier = $('#product_carrier').val();

                                specifications.jack = product_jack;
                                specifications.feature = product_feature;
                                specifications.maxCharge = product_max_charge;
                                specifications.maxLong = product_max_long;
                                specifications.carrier = product_carrier;

                                break;
                            case "cu-sac":                              
                                var product_power = $('#product_power').val();
                                var product_feature = $('#product_feature').val();
                                var product_max_charge = $('#product_max_charge').val();
                                var product_carrier = $('#product_carrier').val();               

                                specifications.power = product_power;
                                specifications.feature = product_feature;
                                specifications.maxCharge = product_max_charge;
                                specifications.carrier = product_carrier;
                                        
                                break;
                            case "thiet-bi-luu-tru": 
                                var product_type = $('#product_type').val();
                                var product_capacity = $('#product_capacity').val();
                                var product_speed_read = $('#product_speed_read').val();
                                var product_speed_write = $('#product_speed_write').val();               
                                specifications.type = product_type;
                                specifications.capacity = product_capacity;
                                specifications.speed_read = product_speed_read;
                                specifications.speed_write = product_speed_write;
                                        
                                break;
                            case "dong-ho-thong-minh":  
                                var screen = {
                                    displayTechnology: $('#display_technology').val(),
                                    resolution: $('#display_resolution').val(),
                                    wide: $('#display_wideScreen').val(),
                                    glass: $('#display_glass').val()
                                }
                                var detailConfiguration = {
                                    os: $('#os').val(),
                                    ram:  $('#ram').val(),
                                    cpu : $('#cpu').val(),
                                    rom: $('#rom').val(),
                                }
                                var entertainment = {
                                    camera: $('#camera').val(),
                                    cameraApp:  $('#camera_app').val(),
                                    recordVideo : $('#record_video').val(),
                                    speaker: $('#speaker').val(),
                                    featureOthers: $('#feature_others').val(),
                                }
                                var connection = {
                                    connectiveDevice: $('#connective').val(),
                                    bluetooth:  $('#bluetooth').val(),
                                    wifi : $('#wifi').val(),
                                    connection_others: $('#connection_others').val() 
                                }
                                var physicalParameters = {
                                    size: $('#size').val(),
                                    weight:  $('#weight').val(),
                                    material: $('#material').val(),
                                    guardWater: $('#guard_water').val(),
                                    battery: $('#battery').val(),
                                    batteryWait: $('#battery_wait').val()
                                }                                

                                specifications.screen = screen;
                                specifications.detailConfiguration = detailConfiguration;
                                specifications.entertainment = entertainment;
                                specifications.connection = connection;
                                specifications.physicalParameters = physicalParameters;
                                        
                                break;
                            case "gay-tu-suong":  
                                var product_type_connection = $('#product_type_connection').val();
                                var product_min_long = $('#product_min_long').val();
                                var product_max_long = $('#product_max_long').val();
                                var product_compatible = $('#product_compatible').val();      
                                var product_carrier = $('#product_carrier').val();  

                                specifications.typeConnection = product_type_connection;
                                specifications.minLong = product_min_long;
                                specifications.maxLong = product_max_long;
                                specifications.compatible = product_compatible;
                                specifications.carrier = product_carrier;
                                        
                                break;
                            default: 
                            break;
                        }
                    }

                    newProduct.specifications = specifications;
                    newProduct.type = selectedType.attr('data-id-type');
                    newProduct.originalImages = [];
                    newProduct.images = [];                    

                    //get all images of product
                    $("div.dropify-wrapper.has-preview").find('input[type=file]').each((index, input) => {  
                        var previewInput = $(input).attr('data-default-file')

                        if (previewInput) {
                            var temp = previewInput.split('/');
                            newProduct.originalImages.push(temp[temp.length - 1])
                        } else {
                            if ($(input).get(0).files.length > 0 ) {
                            newProduct.images.push($(input).get(0).files[0]);
                        }
                        }
                    });                    
                    
                    //validate parameters
                    var productFormData = new FormData();

                    if (!newProduct.id) {
                        showAlert('Không tìm thấy sản phẩm này!');
                        return
                    } else {
                        productFormData.append("id", newProduct.id);
                    }
        
                    //name
                    if (!newProduct.name) {
                        showAlert('Tên sản phẩm không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("name", newProduct.name);
                    }
                    //alias
                    if (!newProduct.alias) {
                        showAlert('Tên hiển thị URL không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("alias", newProduct.alias);
                    }
                    //brand
                    if (!newProduct.brand) {
                        showAlert('Thương hiệu không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("brand", newProduct.brand);
                    }
                    //type
                    if (!newProduct.type) {
                        showAlert('Loại sản phẩm không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("type", newProduct.type);
                    }

                    //category
                    if (!newProduct.category) {
                        showAlert('Vui lòng chọn danh mục của sản phẩm');
                        return
                    } else {
                        productFormData.append("category", JSON.stringify(newProduct.category)); 
                    }

                    //description
                    if (!newProduct.descriptions) {
                        showAlert('Miêu tả sản phẩm không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("descriptions", newProduct.descriptions);
                    }

                    //metaKeyword
                    if (!newProduct.metaKeyword) {
                        showAlert('Meta Keyword của sản phẩm không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("metaKeyword", newProduct.metaKeyword);
                    }
                    //metaTitle
                    if (!newProduct.metaTitle) {
                        showAlert('Meta Title của sản phẩm không được bỏ trống!');
                        return
                    } else {
                        productFormData.append("metaTitle", newProduct.metaTitle);
                    }

                    //price
                    if (!newProduct.prices) {
                        showAlert('Giá sản phẩm không được bỏ trống!');
                        return
                    } else {
                        for (let i = 0; i < newProduct.prices.length; i++) {
                            const element = newProduct.prices[i];
                            productFormData.append("prices", JSON.stringify(element));
                        }
                    }
                    //colors
                    if (!newProduct.colors || newProduct.colors.length == 0) {
                        showAlert('Màu sắc sản phẩm không được bỏ trống!');
                        return
                    } else {
                        for (let i = 0; i < newProduct.colors.length; i++) {
                            const element = newProduct.colors[i];
                            productFormData.append("colors", JSON.stringify(element));
                        }                        
                    }
                    
                    //images
                    if (!newProduct.images && !newProduct.originalImages) {
                        showAlert('Sản phẩm phải có ít nhất 2 hình ảnh');
                        return
                    } else {
                        if (newProduct.images && newProduct.originalImages) {
                            if (newProduct.images.length + newProduct.originalImages.length < 2) {
                                showAlert('Sản phẩm phải có ít nhất 2 hình ảnh');
                                return
                            } else {
                                //for upload files
                                for (let i = 0; i < newProduct.images.length; i++) {
                                    const element = newProduct.images[i];
                                    productFormData.append("images", element);
                                } 

                                //for orignal image
                                for (let i = 0; i < newProduct.originalImages.length; i++) {
                                    const element = newProduct.originalImages[i];
                                    productFormData.append("originalImages", element);
                                } 
                            }
                        } else if (!newProduct.images && newProduct.originalImages) {
                            if (newProduct.originalImages.length < 2) {
                                showAlert('Sản phẩm phải có ít nhất 2 hình ảnh');
                                return
                            } else {
                                //for orignal image
                                for (let i = 0; i < newProduct.originalImages.length; i++) {
                                    const element = newProduct.originalImages[i];
                                    productFormData.append("originalImages", element);
                                } 
                            }
                        } else {
                            if (newProduct.images.length < 2) {
                                showAlert('Sản phẩm phải có ít nhất 2 hình ảnh');
                                return
                            } else {
                                for (let i = 0; i < newProduct.images.length; i++) {
                                    const element = newProduct.images[i];
                                    productFormData.append("images", element);
                                }
                            }
                        }
                    }                    

                    if (newProduct.specifications) {
                        productFormData.append("specifications", JSON.stringify(newProduct.specifications));
                    }

                    // Create a new instance of ladda for the specified button
                    
                    $.ajax({
                        url: '/admin/product',
                        method: 'PUT',
                        data: productFormData,
                        processData: false,
                        contentType: false,
                        success: (result) => {
                            window.console.log(result);
                            var error = result.error;
                            if (error) {
                                swal('Oops', data.error, 'error')
                            } else {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Đã cập nhật sản phẩm thành công!",
                                    icon: "success",
                                    buttons: {
                                        canreturncel: "Trở về danh sách sản phẩm",
                                        tryEdit: "Chỉnh sửa tiếp"
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "tryEdit":
                                            window.location.reload();
                                            break;                               
                                        default:
                                            window.location.href = '/admin/products'
                                            break;
                                    }
                                }); 
                            }
                        },
                        error: (err) => {
                            swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                        }
                    });                    
                });

                //click new color
                $("#newColor").click(() => {

                    var newRow = `<div class="row row-block">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 color-price animated">
                                        <div class="col-md-6">
                                            <div class="colorpicker input-group colorpicker-component colorpicker-element">
                                                <input type="text" value="#000000" class="form-control color-value">
                                                <span class="input-group-addon">
                                                    <i style="background-color: rgb(0, 0, 0);"></i>
                                                </span>
                                            </div>
                                        </div>         
                                        <div class="col-md-6">              
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="ti-money"></i>
                                                </div>
                                                <input type="text" class="form-control price-value" placeholder="24.990.000 VNĐ">
                                                <span class="input-group-addon delete-color" style="cursor: pointer;">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 color-price animated">
                                        <div class="col-md-6">
                                            <div class="colorpicker input-group colorpicker-component colorpicker-element">
                                                <input type="text" value="#ebcd31" class="form-control color-value">
                                                <span class="input-group-addon">
                                                    <i style="background-color: rgb(235, 205, 49);"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="ti-money"></i>
                                                </div>
                                                <input type="text" class="form-control price-value" placeholder="28.890.000 VNĐ">
                                                <span class="input-group-addon delete-color" style="cursor: pointer;">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                            
                            </div>
                        </div>
                    </div>`

                    var newBlock = `
                        <div class="col-md-6 color-price animated">
                            <div class="col-md-6">
                                <div class="colorpicker input-group colorpicker-component colorpicker-element">
                                    <input type="text" value="#000000" class="form-control color-value">
                                    <span class="input-group-addon">
                                        <i style="background-color: rgb(0, 0, 0);"></i>
                                    </span>
                                </div>
                            </div>         
                            <div class="col-md-6">              
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="ti-money"></i>
                                    </div>
                                    <input type="text" class="form-control price-value" placeholder="24.990.000 VNĐ">
                                    <span class="input-group-addon delete-color" style="cursor: pointer;">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    `

                    var numBlocks = $('#color-block').find('.row-block');

                    numBlocks.each((index, block) => {
                        var row = $(block).find('.row');
                        if ($(row).find('.color-price').length == 1) {
                            $(row).append(newBlock);
                            return                        
                        }

                        if (index == numBlocks.length - 1) {
                            $('#color-block').append(newRow);
                        }
                    });
                   
                   $(".colorpicker").colorpicker();
                });     
                
                //delete color
                $('#color-block').delegate('span.delete-color', 'click', (e) => {                    
                    var blockColor = $("#color-block");
                   
                    var blockClicked = e.currentTarget.parentElement.parentElement.parentElement

                    var rowClicked = $(blockClicked.parentElement.parentElement.parentElement.parentElement);

                    var numRowsClicked = $(rowClicked).find('.color-price');

                    if ($('#color-block').find('.color-price').length == 1) { 
                        return
                    }
                    
                    if (numRowsClicked.length == 2) {
                        //remove this blockClicked
                        $(blockClicked).remove();
                    } else {                        
                        $(rowClicked).remove();
                    }   
                });

                $('.dropify-clear').click((e) => {
                    $(e.currentTarget.parentElement).find('input').removeAttr('data-default-file');                    
                });
            });

        </script>
</body>

</html>