<!DOCTYPE html>
<html lang="vi">

<head>
    <% include layouts/header %>

</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                            <h5 class="txt-dark">Duyệt đơn hàng</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Chi tiết đơn hàng</h6>
                                    </div>
                                    <div class="pull-right">
                                        <h6 class="txt-dark">Đơn hàng #<%- data.order.alias %></h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <span class="txt-dark head-font inline-block capitalize-font mb-5">Địa chỉ nhận hàng:</span>
                                                <address class="mb-15">
                                                    <span class="address-head mb-5"><%- data.order.toAddress.address %>.</span> 
                                                    <%- data.order.toAddress.state %>
                                                    <br><%- data.order.toAddress.city %>
                                                    <br> Mã bưu điện: <%- data.order.toAddress.zipPostalCode %>
                                                </address>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <span class="txt-dark head-font inline-block capitalize-font mb-5">Người nhận:</span>
                                                <address class="mb-15">
                                                    <span class="address-head mb-5"><%- data.order.toAddress.fullName %></span>
                                                    Phone: <%- data.order.toAddress.phone %>
                                                    <br>
                                                </address>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <address>
                                                    <span class="txt-dark head-font capitalize-font mb-5">Phương thức thanh toán:</span>
                                                    <% if (data.order.checkoutMethod) { %>
                                                        <% if (data.order.checkoutMethod == 'Cod') { %>
                                                            <br>Thanh toán tiền mặt khi nhận hàng
                                                        <% } else { %>
                                                            <br>Thanh toán trực tuyến
                                                        <% } %>
                                                    <% } else { %>
                                                        <br>Không rõ
                                                    <% } %>
                                                    
                                                </address>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <address>
                                                    <span class="txt-dark head-font capitalize-font mb-5">Ngày mua hàng:</span>
                                                    <% var date = new Date(data.order.created_at) %>
                                                    <% var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  (date.getMonth() + 1) +"/" +date.getFullYear() %>
                                                    <br> <%- dateCreated %>
                                                    <br>
                                                    <br>
                                                </address>
                                            </div>
                                        </div>

                                        <div class="row">
                                                <div class="col-xs-6">
                                                    <address>
                                                        <span class="txt-dark head-font capitalize-font mb-5">Ghi chú đơn hàng:</span>
                                                        <br> <%- data.order.note == 0 ? "Không có" : data.order.note %>
                                                    </address>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    <address>
                                                        <span class="txt-dark head-font capitalize-font mb-5">Mã giảm giá:</span>
                                                        <% var discount = 0; %>
                                                        <% if (data.order.promoCode) { %>
                                                            <% var promoCode = data.order.promoCode; %>
                                                            <% if (promoCode.id) { %>
                                                                <br> <%- promoCode.id.code; %>
                                                                <% if (promoCode.id.description) { %>
                                                                    <br><%- promoCode.id.description %>
                                                                <% } %>
                                                                <% discount = promoCode.discount; %>
                                                                <br>Giảm: <span class="price"><%- promoCode.discount %></span>
                                                            <% } else { %>
                                                                <br> Không có
                                                            <% } %>                                                            
                                                        <% } else { %>
                                                            <br> Không có
                                                        <% } %>                                                        
                                                    </address>
                                                </div>
                                            </div>

                                        <div class="seprator-block"></div>

                                        <div class="invoice-bill-table">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Sản phẩm</th>
                                                            <th>Hình ảnh</th>
                                                            <th>Màu sắc</th>
                                                            <th>Đơn giá</th>
                                                            <th>Số lượng</th>
                                                            <th>Tổng cộng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% var subTotal = 0; %>
                                                        <% if (data.order.products) { %>
                                                            <% data.order.products.forEach(product => { %>
                                                                <% subTotal+= product.quantity * product.price %>
                                                                <tr>
                                                                    <td>
                                                                        <a href="/<%- product.alias %>-<%- product.id._id %>" target="_blank">
                                                                            <span><%- product.id.name %> - </span>
                                                                        </a>  
                                                                    <td>
                                                                        <img src="<%- product.id.images[0].url %>" alt="<%- product.id.images[0].alt %>" width="80">
                                                                    </td>
                                                                    <td>
                                                                            <li style="background-color: <%- product.color.hex %>; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; float: left; margin: 5px" title="<%-  product.color.name %>">
                                                                    </td>
                                                                    <td>
                                                                            <span class="price"><%- product.price %></span>
                                                                    </td>
                                                                    <td>
                                                                            <span><%- product.quantity %></span>
                                                                    </td>
                                                                    <td><span class="price"><%- product.quantity * product.price %></span></td>
                                                                </tr>
                                                            <% }) %>
                                                        <% } %>
                                                        
                                                        <tr class="txt-dark">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Tổng phụ</td>
                                                            <td><span class="price"><%- subTotal %></span></td>
                                                        </tr>
                                                        <tr class="txt-dark">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Phí vận chuyển</td>
                                                            <td><span class="price">0 VNĐ</span></td>
                                                        </tr>
                                                        <tr class="txt-dark">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Giảm giá</td>
                                                            <td><span class="price"><%- discount %></span></td>
                                                        </tr>
                                                        <tr class="txt-dark">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>Tổng cộng</td>
                                                            <td><span class="price"><%- subTotal - discount %></span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="button-list pull-right">
                                                <button type="submit" class="btn btn-success mr-10" id="confirm-order" data-id-order="<%- data.order._id %>">
                                                    Xác nhận đơn hàng
                                                </button>
                                                <button type="button" class="btn btn-primary btn-outline btn-icon left-icon" onclick="javascript:window.print();">
                                                    <i class="fa fa-print"></i>
                                                    <span>In hoá đơn</span>
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->

                </div>
                <!-- /#wrapper -->
                <% include layouts/footer %>                   
                    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script type="text/javascript">

                        function returnOrders() {
                            swal({
                                title: "Thao tác thành công",
                                text: "Đơn hàng đã được xác nhận!",
                                icon: "info",
                                buttons: {
                                    yes: "Trở về"
                                },
                            })
                            .then((value) => {
                                location.href = document.referrer;
                            });
                        }

                        function confirmOrder(cb) {
                            swal({
                                title: "Hãy xác nhận trước khi thực hiện thao tác!",
                                text: "Nhấn vào 'Xác nhận' để xác nhận đơn hàng.",
                                icon: "info",
                                buttons: {
                                    cancel: true,
                                    yes: "Xác nhận"
                                },
                            })
                                .then((value) => {
                                    switch (value) {
                                        case "yes":
                                            return cb(true);
                                            break;
                                        default:
                                            return cb(false);
                                            break;
                                    }
                                });
                        }

                    </script>
                    <script>
                        jQuery(document).ready(($) => {
                            
                            var status = '<%- data.order.status %>'
                            
                            $('#confirm-order').click((e) => {

                                if (status >= 2) {
                                    swal('Thông báo', 'Đơn hàng dường như đã được duyệt trước đó!', 'info');
                                    return
                                }

                                confirmOrder((isConfirm) => {
                                    if (isConfirm) {
                                        $.ajax({
                                            url: '/api/v1/order',
                                            method: "PUT",
                                            data: {
                                                id: $(e.currentTarget).attr('data-id-order'),
                                                parameters: {
                                                    status: 2
                                                }
                                            },
                                            success: (data) => {
                                                if (data.order) {
                                                    returnOrders()
                                                } else {
                                                    swal('Oops', data.error || "Lỗi không xác định, vui lòng thử lại", 'error')
                                                }
                                                
                                            },
                                            error: (err) => {
                                                swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                            }
                                        })
                                    } 
                                })
                            })
                        });

                        $('.price').each((index, price) => {
                            if ($(price).html().match(/^[0-9]{1,}$/g)) {
                                $(price).html(numberWithCommas($(price).html() + " VNĐ"));
                            }
                        });
                    </script>
</body>

</html>