<!DOCTYPE html>
<html lang="vi">

<head>
    <% include layouts/header %>
    <!-- bootstrap-select CSS -->
    <link href="/static/admin/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width: 100%">
                            <h5 class="txt-dark" style="float: left;">Trang quản lý đơn hàng</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table display mb-30" cellspacing="0" width="100%" id="table-order">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Người mua</th>            
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày mua</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Người mua</th>
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày mua</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </tfoot>
                                                    <tbody>
                                                        <% if (data.orders && data.orders.length != 0) { %>
                                                            <% data.orders.forEach((order) => { %>
                                                                <% var fullName = order.byUser.fullName.firstName + " " + order.byUser.fullName.lastName %>
                                                                <% var date = new Date(order.created_at) %>
                                                                <% var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  (date.getMonth() + 1) +"/" +date.getFullYear() %>
                                                                <tr role="row" id="<%- order._id %>"> 
                                                                    <td class="txt-dark td-id">
                                                                        <a href="/admin/invoice?id=<%- order._id %>" target="_blank"><%- order.alias %></a>
                                                                    </td>
                                                                    <td style="color: blue;" class="td-name-user">
                                                                        <a href="javascript: void(0);"> <%- fullName %></a>
                                                                    </td>
                                                                    <td class="txt-dark td-product">
                                                                        <div>
                                                                             <% order.products.forEach(product => { %>
                                                                                <ul style="list-style-type: none;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            overflow: hidden;" data-id-product="<%- product.id._id %>" >
                                                                                    <li style="float: left; margin: 5px">
                                                                                        <a href="/<%- product.alias %>-<%- product.id._id %>"><span><%- product.id.name %> - </span></a>  
                                                                                    </li>
                                                                                    <li style="background-color: <%- product.color.hex %>; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; float: left; margin: 5px" title="<%- product.color.name %>">
                                                                                    </li>
                                                                                    <li style="float: left; margin: 5px">-<span class="price"><%- product.price %></span></li>
                                                                                    <li style="float: left; margin: 5px"><span>- số lượng: <%- product.quantity %></span></li>
                                                                                </ul>	
                                                                            <% }) %>  
                                                                            
                                                                        </div>                                 
                                                                    </td>
                                                                    <td class="td-date-order">
                                                                        <%- dateCreated %>
                                                                    </td>
                                                                    <td>
                                                                        <% var status = order.status %>
                                                                        <select class="select-status-order" data-style="form-control btn-primary btn-outline">
                                                                        <% if (status) { %>
                                                                           <option value="1" <% if (status == 1) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %>>Đang đợi duyệt</option>
                                                                           <option value="2" <% if (status == 2) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %> >Đã duyệt</option>
                                                                           <option value="3" <% if (status == 3) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %> >Bị từ chối</option>
                                                                           <option value="4" <% if (status == 4) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %> >Đã huỷ</option>
                                                                           <option value="5" <% if (status == 5) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %> >Đang giao</option>
                                                                           <option value="6" <% if (status == 6) { %>
                                                                            selected data-origin-selection="true"
                                                                       <% } %> >Đã giao</option>  
                                                                        <% } else { %>
                                                                            <option value="null">Không có</option>
                                                                        <% } %>
                                                                        </select>
                                                                    </td>
                                                                    <td class="action-brand">
                                                                        <a href="javascript:void(0)" class="text-inverse pr-10 review-order" title="Duyệt đơn hàng" data-id-order="<%- order._id %>">
                                                                            <i class="zmdi zmdi-eye txt-warning"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            <% }); %>
                                                        <% } %>
                                                    </tbody>                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <!-- Footer -->
                        <footer class="footer container-fluid pl-30 pr-30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>2018 &copy; Alomobile</p>
                                </div>
                            </div>
                        </footer>
                        <!-- /Footer -->    
                    </div>
                    <!-- /Main Content -->
                </div>
                <!-- /#wrapper -->
                <% include layouts/footer %>
                <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <!-- Bootstrap Select JavaScript -->
		        <script type="text/javascript" src="/static/admin/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
                <script type="text/javascript">

                        $('.price').each((index, price) => {
                            if ($(price).html().match(/^[0-9]{1,}$/g)) {
                                $(price).html(numberWithCommas($(price).html() + " VNĐ"));
                            }
                        });

                        /* Bootstrap Select Init*/
                        $('.select-status-order').selectpicker();

                        function confirmDelete(cb) {
                            swal({
                                    title: "Bạn có muốn xoá không?",
                                    text: "Nhấn vào 'Đồng ý' để xoá, không thể phục hồi được sau khi xoá!",
                                    icon: "info",
                                    buttons: {
                                        cancel: true,
                                        yes: "Đồng ý"
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "yes":
                                            return cb(true);
                                            break;                               
                                        default:
                                            return cb(false);
                                            break;
                                    }
                                }); 
                        }

                    </script>
                    <script>
                        jQuery(document).ready(($) => {
                            //configation datatable jquery
                            var table = $('#table-order').DataTable({
                                "language": {
                                    "lengthMenu": "Hiển thị _MENU_ dòng trên một trang",
                                    "zeroRecords": "Không có dữ liệu",
                                    "info": "Đang ở trang thứ _PAGE_ của _PAGES_ trang",
                                    "infoEmpty": "Dữ liệu hiện không sẵn có",
                                    "infoFiltered": "(đã lọc từ _MAX_ đơn hàng hiện có)"
                                }
                            });
                         
                            //delete brand
                            $("#table-order tbody").delegate('.delete-order', 'click', (e) => {

                                confirmDelete((result) => {
                                    if (result == true) {
                                        var id = $(e.currentTarget).attr('data-id-order'); 
                                        var row = $('#table-order tbody').find(`[id = ${id}]`);

                                        $.ajax({
                                            url: '/api/v1/order',
                                            method: 'DELETE',
                                            data: {
                                                id: id
                                            },
                                            success: (result) => {
                                                var error = result.error;
                                                if (error) {
                                                    swal('Oops', error, 'error')
                                                } else {
                                                    table.row(row).remove().draw('page');
                                                }
                                            },
                                            error: (err) => {
                                                swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                            }
                                        });
                                    } 
                                });
                            });

                            $("#table-order tbody").delegate('.dismiss-order', 'click', (e) => {
                                var id = $(e.currentTarget).attr('data-id-order'); 
                                var row = $('#table-order tbody').find(`[id = ${id}]`);

                                $.ajax({
                                    url: '/api/v1/order',
                                    method: 'PUT',
                                    data: {
                                        id: id,
                                        parameters: {
                                            status: 3
                                        }
                                    },
                                    success: (result) => {
                                        var error = result.error;
                                        if (error) {
                                            swal('Oops', error, 'error')
                                        } else {
                                            swal('Thành công', 'Đơn hàng đã được chấp nhận', 'info')
                                            table.row(row).remove().draw('page');
                                        }
                                    },
                                    error: (err) => {
                                        swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                    }
                                });
                            });

                            $("#table-order tbody").delegate('.review-order', 'click', (e) => {
                                var id = $(e.currentTarget).attr('data-id-order'); 
                                location.href = '/admin/invoice?id=' + id
                            });

                            $('#table-order tbody').delegate('select', 'change', (e) => {                      
                                var status = Number.parseInt($(e.currentTarget).find('option:selected').val());
                                var id = $(e.currentTarget.parentElement.parentElement.parentElement).attr('id');

                                if (!id ||  id == 'undefined') { return }

                                if (!status || status > 6) { return }

                                $.ajax({
                                    url: '/api/v1/order/update-status',
                                    method: "PUT",
                                    data: {
                                        id: id,
                                        status: status
                                    },
                                    success: (data) => {
                                        console.log(data);
                                    },
                                    error: (err) => {
                                        console.log(data);
                                    }
                                })
                               
                            });
                        });
                    </script>
</body>

</html>