<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>           
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width: 100%">
                            <h5 class="txt-dark" style="float: left;">Trang quản trị người dùng</h5>
                            <button type="button" class="btn btn-primary" style="float: right" id="user-add">Thêm mới</button>
                        </div>
                    </div>
                    <!-- /Title -->
                     <!-- Modal -->
                     <div id="add-user-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h5 class="modal-title" id="myModalLabel">Thêm người dùng</h5>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body pa-0">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <div class="form-wrap">
                                                                    <form action="#">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="firstName_add">Họ</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                    <input type="text" class="form-control" id="firstName_add" placeholder="Willard">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                    <label class="control-label mb-10" for="lastName_add">Tên</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                        <input type="text" class="form-control" id="lastName_add" placeholder="Bryant">
                                                                                    </div>
                                                                                </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="email_add">Địa chỉ Email</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                    <input type="email" class="form-control" id="email_add" placeholder="xyz@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="phone_add">Số điện thoại</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                    <input type="email" class="form-control" id="phone_add" placeholder="+102 9388333">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="password_add">Mật khẩu</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                    <input type="password" class="form-control" id="password_add" placeholder="Enter pwd" value="password">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Giới tính</label>
                                                                                <div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_1" value="option1" checked="">
                                                                                        <label for="radio_1">
                                                                                        Nam
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_2" value="option2">
                                                                                        <label for="radio_2">
                                                                                        Nữ
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Vai trò</label>
                                                                                <select class="form-control select-role-add" data-placeholder="Choose a Role" tabindex="1">
                                                                                    
                                                                                </select>
                                                                            </div>
                                                                        </div>			
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success waves-effect" id="save-new-user">Save</button>
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    <!-- /modal -->
                    <!-- Modal -->
                    <div id="edit-user-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h5 class="modal-title" id="myModalLabel">Cập nhật thông tin người dùng</h5>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Row -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="">
                                                    <div class="panel-wrapper collapse in">
                                                        <div class="panel-body pa-0">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <div class="form-wrap">
                                                                    <form action="#">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="firstName_edit">Họ</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                    <input type="text" class="form-control" id="firstName_edit" placeholder="Willard">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                    <label class="control-label mb-10" for="lastName_edit">Tên</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon"><i class="icon-user"></i></div>
                                                                                        <input type="text" class="form-control" id="lastName_edit" placeholder="Bryant">
                                                                                    </div>
                                                                                </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="email_edit">Địa chỉ Email</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-envelope-open"></i></div>
                                                                                    <input type="email" class="form-control" id="email_edit" placeholder="xyz@gmail.com">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="phone_edit">Số điện thoại</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-phone"></i></div>
                                                                                    <input type="email" class="form-control" id="phone_edit" placeholder="+102 9388333">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10" for="password_edit">Mật khẩu</label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon"><i class="icon-lock"></i></div>
                                                                                    <input type="password" class="form-control" id="password_edit" placeholder="Enter pwd" value="password">
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Giới tính</label>
                                                                                <div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_1" value="option1" checked="">
                                                                                        <label for="radio_1">
                                                                                        Nam
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="radio">
                                                                                        <input type="radio" name="radio1" id="radio_2" value="option2">
                                                                                        <label for="radio_2">
                                                                                        Nữ
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="control-label mb-10">Vai trò</label>
                                                                                <select class="form-control" data-placeholder="Choose a Category" tabindex="1">
                                                                                    <option value="Category 2">Khách hàng</option>
                                                                                    <option value="Category 3">Nhân viên</option>
                                                                                    <option value="Category 4">Quản trị viên</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>			
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success waves-effect" id="save-edit-user">Save</button>
                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    <!-- /modal -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table display mb-30" cellspacing="0" width="100%" id="table-users">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Tên người dùng</th>
                                                            <th>Email</th>
                                                            <th>Số điện thoại</th>
                                                            <th>Giới tính</th>
                                                            <th>Vai trò</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                            <% if (data.users && data.users.length != 0) { %>
                                                                <% data.users.forEach((user) => { %>                                                                    
                                                                    <tr role="row" id="<%- user.id %>"> 
                                                                        <td class="td-id">
                                                                            <%- user._id %>
                                                                        </td>
                                                                        <td class="txt-dark td-name">
                                                                            <% if (user.fullName) { %>
                                                                                <%- user.fullName.firstName || "" + " " + user.fullName.lastName || "" %>
                                                                            <% } %>                                                                            
                                                                        </td>
                                                                        <td class="txt-dark td-email">
                                                                                <%- user.email || "" %>
                                                                            </td>
                                                                        <td class="txt-dark td-phone">
                                                                                <%- user.phone || "" %>
                                                                            </td>
                                                                        <td class="txt-dark td-sex">
                                                                            <%- user.sex || "" %>
                                                                        </td>
                                                                        <td class="txt-dark td-role">
                                                                                <% if (user.role) { %>
                                                                                    <%- user.role.name %>
                                                                                    <% } %>
                                                                            </td>
                                                                        <td class="td-status">
                                                                            <% if (user.status == true) { %>
                                                                                <span class="label label-success font-weight-100">ACTIVE</span>
                                                                            <% } else { %>
                                                                                <span class="label label-default font-weight-100">DEACTIVE</span>
                                                                            <% } %>
                                                                            
                                                                        </td>
                                                                        <td class="action-brand">
                                                                                <a href="javascript:void(0)" class="text-inverse pr-10 info-user" title="Xem thông tin người dùng">
                                                                                        <i class="zmdi zmdi-eye text-primary"></i>
                                                                                    </a>
                                                                            <a href="javascript:void(0)" class="text-inverse pr-10 edit-user" title="Chỉnh sửa người dùng">
                                                                                <i class="zmdi zmdi-edit txt-warning"></i>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="text-inverse pr-10 reset-password-user" title="Reset mật khẩu người dùng">
                                                                                    <i class="zmdi zmdi-refresh-sync text-success"></i>
                                                                            </a>
                                                                            <a href="javascript:void(0)" class="text-inverse delete-user" title="Xoá người dùng">
                                                                                <i class="zmdi zmdi-delete txt-danger"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                <% }); %>
                                                            <% } %>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Tên người dùng</th>
                                                            <th>Email</th>
                                                            <th>Số điện thoại</th>
                                                            <th>Giới tính</th>
                                                            <th>Vai trò</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <!-- Footer -->
                        <footer class="footer container-fluid pl-30 pr-30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>2018 &copy; Alomobile</p>
                                </div>
                            </div>
                        </footer>
                        <!-- /Footer -->    
                    </div>
                    <!-- /Main Content -->
                </div>
                <!-- /#wrapper -->
                <% include layouts/footer %>
                <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script type="text/javascript">
                        function showNotifier(status, content) {
                            swal('Thông báo', content, status)
                        }

                        function confirmDelete(cb) {
                            swal({
                                    title: "Bạn có muốn xoá không?",
                                    text: "Nhấn vào 'Xoá ngay' nếu bạn muốn xoá hoặc nhấn vào 'Khoá tài khoản' để cấm người dùng truy cập vào hệ thống",
                                    icon: "info",
                                    buttons: {
                                        cancel: true,
                                        ban: "Khoá tài khoản",
                                        delete: {
                                            text: "Xoá ngay",
                                            value: 'delete',
                                            className: 'btn-danger'
                                        }
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "delete":
                                            return cb('delete');
                                            break;             
                                        case "ban":
                                            return cb('ban');
                                            break;                  
                                        default:
                                            return cb('cancel');
                                            break;
                                    }
                                }); 
                        }

                        function confirmDeleteWithBan(cb) {
                            swal({
                                    title: "Bạn có muốn xoá không?",
                                    text: "Nhấn vào 'Xoá ngay' để xoá user ra khỏi hệ thống. Lưu ý sau khi xoá sẽ không thể hoàn tác.",
                                    icon: "info",
                                    buttons: {
                                        cancel: true,
                                        delete: {
                                            text: "Xoá ngay",
                                            value: 'delete',
                                            className: 'btn-danger'
                                        }
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "delete":
                                            return cb('delete');
                                            break;                      
                                        default:
                                            return cb('cancel');
                                            break;
                                    }
                                }); 
                        }

                         function confirmReset(cb) {
                            swal({
                                    title: "Bạn có muốn cập nhật lại mật khẩu không?",
                                    text: "Nhấn vào 'Reset' để cập nhật lại mật khẩu mới cho người dùng",
                                    icon: "info",
                                    buttons: {
                                        cancel: true,
                                        reset: {
                                            text: "Reset",
                                            value: "reset",
                                            className: 'btn-warning'
                                        }
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "reset":
                                            return cb('reset');
                                            break;                    
                                        default:
                                            return cb('cancel');
                                            break;
                                    }
                                }); 
                        }

                    </script>
                    <script>
                        var tableUsers = $("#table-users").DataTable({
                            "language": {
                                "lengthMenu": "Hiển thị _MENU_ dòng trên một trang",
                                "zeroRecords": "Từ khoá nhập vào không khớp",
                                "info": "Đang ở trang thứ _PAGE_ của _PAGES_",
                                "infoEmpty": "Dữ liệu hiện không sẵn có",
                                "infoFiltered": "(đã lọc từ _MAX_ người dùng hiện có)"
                            }
                        });

                        jQuery(document).ready(($) => {

                            $('#user-add').click((e) => {
                                $("#add-user-modal").modal('show');

                                $.get('/admin/get-roles', (data) => {
                                    var roles = data.roles;
                                    if (roles && roles.length > 0) {
                                        var options = ``;
                                        roles.forEach(role => {
                                            var id = role._id,
                                                name = role.name;
                                            if (!id) { return }
                                            if (!name) { return }
                                            options += `
                                                <option value="${id}">${name}</option>
                                            `
                                        });
                                        $('#add-user-modal').find('.select-role-add').append(options);
                                    }
                                }).error((err) => {
                                    
                                });

                            });

                            $("#table-users tbody").delegate('.edit-user', 'click', (e) => {
                                $('#edit-user-modal').modal('show');
                            });

                            $("#table-users tbody").delegate('.delete-user', 'click', (e) => {

                                e.preventDefault();

                                var row = $(e.currentTarget.parentElement.parentElement);

                                //checking status of user
                                var status = $(row).find('td.td-status').find('span').html();
                                if (!status) {
                                    confirmDeleteWithBan((result) => {
                                        switch (result) {
                                            case 'delete':
                                            $.ajax({
                                                url: '/admin/user',
                                                data: {
                                                    id: $(row).attr('id')
                                                },
                                                method: "DELETE",
                                                success: (data) => {
                                                    if (data.error) {
                                                        showNotifier('error', data.error);
                                                        return
                                                    }
                                                    tableUsers.row(row).remove().draw('page');
                                                },
                                                error: (err) => {                                                    
                                                    swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error') 
                                                }
                                            })
                                            break;                                        
                                            default:
                                                break;
                                        }
                                    });
                                } else {
                                    if (status == 'DEACTIVE') {
                                        confirmDeleteWithBan((result) => {
                                        switch (result) {
                                            case 'delete':
                                            $.ajax({
                                                url: '/admin/user',
                                                data: {
                                                    id: $(row).attr('id')
                                                },
                                                method: "DELETE",
                                                success: (data) => {
                                                    if (data.error) {
                                                        showNotifier('error', data.error);
                                                        return
                                                    }
                                                    tableUsers.row(row).remove().draw('page');
                                                },
                                                error: (err) => {                                                    
                                                    swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error') 
                                                }
                                            })
                                            break;                                        
                                            default:
                                                break;
                                        }
                                    });
                                    } else {
                                        confirmDelete((action) => {
                                            switch (action) {
                                                case "delete":
                                                    $.ajax({
                                                        url: '/admin/user',
                                                        data: {
                                                            id: $(row).attr('id')
                                                        },
                                                        method: "DELETE",
                                                        success: (data) => {
                                                            if (data.error) {
                                                                showNotifier('error', data.error);
                                                                return
                                                            }
                                                            tableUsers.row(row).remove().draw('page');
                                                        },
                                                        error: (err) => {                                                    
                                                            swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error') 
                                                        }
                                                    })
                                                    break;
                                                case "ban":
                                                    var properties = {
                                                        status: false
                                                    };

                                                    $.ajax({
                                                        url: '/admin/user',
                                                        method: 'PUT',
                                                        data: {
                                                            id: $(row).attr('id'),
                                                            properties: JSON.stringify(properties)
                                                        },
                                                        success: (data) => {
                                                            if (data.error) {
                                                                showNotifier('error', data.error);
                                                                return
                                                            } 
                                                            $(row).find('td.td-status').find('span').html('DEACTIVE').removeClass('label-success').addClass('label-default');                                                    
                                                            showNotifier('success', 'Cập nhật thông tin thành công!');
                                                        },
                                                        error: (err) => {
                                                            swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                                        }
                                                    });
                                                    break;
                                                default:
                                                    break;
                                            }
                                        });
                                    }
                                }
                            });

                            $("#table-users tbody").delegate('.reset-password-user', 'click', (e) => {
                                confirmReset((result) => {
                                    switch (result) {
                                        case 'reset':
                                        
                                            var id = $(e.currentTarget.parentElement.parentElement).attr('id');
                                            if (!id) { return }

                                            var properties = {
                                                password: 'alomobile'
                                            }
                                            
                                            $.ajax({
                                                url: '/admin/user',
                                                method: 'PUT',
                                                data: {
                                                    id: id,
                                                    properties: JSON.stringify(properties)
                                                },
                                                success: (data) => {
                                                    if (data.error) { 
                                                        showNotifier('error', data.error);
                                                        return 
                                                    }
                                                    showNotifier('success', "Mật khẩu của người dùng đã được reset!");
                                                },
                                                error: (err) => {
                                                    swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                                }
                                            })
                                        
                                            break;                                    
                                        default:
                                            break;
                                    }
                                });
                            });

                            $('#save-new-user').click((e) => {

                            });

                            $('#save-edit-user').click((e) => {

                            });
                        });

                    </script>
</body>
</html>