<!DOCTYPE html>
<html lang="en">

<head>
    <% include layouts/header %>
</head>

<body>
    <!--Preloader-->
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <!--/Preloader-->
    <div class="wrapper theme-5-active pimary-color-green">
        <% include layouts/menu %>
            <!-- Main Content -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Title -->
                    <div class="row heading-bg">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12" style="width: 100%">
                            <h5 class="txt-dark" style="float: left;">Trang quản lý đơn hàng đang đợi duyệt</h5>
                        </div>
                    </div>
                    <!-- /Title -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body row">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table display mb-30" cellspacing="0" width="100%" id="table-waiting-order">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Người mua</th>            
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày mua</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </thead>
                                                    <tfoot>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Người mua</th>
                                                            <th>Sản phẩm</th>
                                                            <th>Ngày mua</th>
                                                            <th>Trạng thái</th>
                                                            <th>Chức năng</th>
                                                        </tr>
                                                    </tfoot>
                                                    
                                                    <tbody>
                                                        <% if (data.orders && data.orders.length != 0) { %>
                                                            <% data.orders.forEach((order) => { %>
                                                                <% var fullName = order.byUser.fullName.firstName + " " + order.byUser.fullName.lastName %>
                                                                <% var date = new Date(order.created_at) %>
                                                                <% var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  date.getMonth() +"/" +date.getFullYear() %>
                                                                <tr role="row" id="<%- order._id %>"> 
                                                                    <td class="txt-dark td-id">
                                                                        <%- order._id %>
                                                                    </td>
                                                                    <td style="color: blue;" class="td-name-user">
                                                                        <a href="javascript: void(0)"> <%- fullName %></a>
                                                                    </td>
                                                                    <td class="txt-dark td-product">
                                                                        <div>
                                                                             <% order.products.forEach(product => { %>
                                                                                <ul style="list-style-type: none;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            overflow: hidden;" data-id-product="<%- product._id %>" >
                                                                                    <li style="float: left; margin: 5px">
                                                                                        <a href="/admin/product/<%- product.id._id %>"><span><%- product.id.name %> - </span></a>  
                                                                                    </li>
                                                                                    <li style="background-color: <%- product.color.hex %>; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; float: left; margin: 5px" title="<%- product.color.name %>">
                                                                                    </li>
                                                                                    <li style="float: left; margin: 5px"><span>- <%- product.price %></span></li>
                                                                                    <li style="float: left; margin: 5px"><span>- số lượng: <%- product.quantity %></span></li>
                                                                                </ul>	
                                                                            <% }) %>  
                                                                            
                                                                        </div>                                 
                                                                    </td>
                                                                    <td class="td-date-order">
                                                                        <%- dateCreated %>
                                                                    </td>
                                                                    <td>
                                                                        <% var status = order.status %>
                                                                        <% if (status == 0) { %>
                                                                            <span class="label label-success font-weight-100">Khởi tạo</span>
                                                                        <% } else if (status == 1) { %>
                                                                            <span class="label label-primary font-weight-100">Đang đợi duyệt</span>
                                                                            <% } else if (status == 2) { %>
                                                                                <span class="label label-default font-weight-100">Đã duyệt</span>
                                                                        <% } else if (status == 3) { %>
                                                                            <span class="label label-default font-weight-100">Bị từ chối</span>
                                                                        <% } else if (status == 4) { %>
                                                                            <span class="label label-default font-weight-100">Người dùng huỷ đơn</span>
                                                                        <% } else if (status == 5) { %>
                                                                            <span class="label label-default font-weight-100">Đang giao</span>
                                                                        <% } else { %>
                                                                            <span class="label label-default font-weight-100">Đã giao</span>
                                                                        <% } %>
                                                                    </td>
                                                                    <td class="action-brand">
                                                                        <a href="javascript:void(0)" class="text-inverse pr-10 review-order" title="Duyệt đơn hàng" data-id-order="<%- order._id %>">
                                                                            <i class="zmdi zmdi-eye txt-warning"></i>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="text-inverse dismiss-order pr-10" title="Từ chối đơn hàng" data-id-order="<%- order._id %>">
                                                                            <i class="zmdi zmdi-close txt-danger"></i>
                                                                        </a>
                                                                        <a href="javascript:void(0)" class="text-inverse delete-order" title="Xoá đơn hàng" data-id-order="<%- order._id %>">
                                                                            <i class="zmdi zmdi-delete txt-danger"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            <% }); %>
                                                        <% } %>
                                                    </tbody>                                                   
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Row -->
                        <!-- Footer -->
                        <footer class="footer container-fluid pl-30 pr-30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p>2018 &copy; Alomobile</p>
                                </div>
                            </div>
                        </footer>
                        <!-- /Footer -->    
                    </div>
                    <!-- /Main Content -->
                </div>
                <!-- /#wrapper -->
                <% include layouts/footer %>
                <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                    <script type="text/javascript">
                      
                      function confirmDelete(cb) {
                            swal({
                                    title: "Bạn có muốn xoá không?",
                                    text: "Nhấn vào 'Đồng ý' để xoá, không thể phục hồi được sau khi xoá!",
                                    icon: "info",
                                    buttons: {
                                        cancel: true,
                                        yes: "Đồng ý"
                                    },
                                })
                                .then((value) => {
                                    switch (value) {     
                                        case "yes":
                                            return cb(true);
                                            break;                               
                                        default:
                                            return cb(false);
                                            break;
                                    }
                                }); 
                        }

                    </script>
                    <script>
                        jQuery(document).ready(($) => {
                            //configation datatable jquery
                            var table = $('#table-waiting-order').DataTable();
                         
                            //delete brand
                            $("#table-waiting-order tbody").delegate('.delete-order', 'click', (e) => {

                                confirmDelete((result) => {
                                    if (result == true) {
                                        var id = $(e.currentTarget).attr('data-id-order'); 
                                        var row = $('#table-waiting-order tbody').find(`[id = ${id}]`);

                                        $.ajax({
                                            url: '/admin/order',
                                            method: 'DELETE',
                                            data: {
                                                id: id
                                            },
                                            success: (result) => {
                                                var error = result.error;
                                                if (error) {
                                                    swal('Oops', error, 'error')
                                                } else {
                                                    table.row(row).remove().draw('page');
                                                }
                                            },
                                            error: (err) => {
                                                swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                            }
                                        });
                                    } 
                                });
                            });

                            $("#table-waiting-order tbody").delegate('.dismiss-order', 'click', (e) => {
                                var id = $(e.currentTarget).attr('data-id-order'); 
                                var row = $('#table-waiting-order tbody').find(`[id = ${id}]`);

                                $.ajax({
                                    url: '/admin/order',
                                    method: 'PUT',
                                    data: {
                                        id: id,
                                        parameters: {
                                            status: 3
                                        }
                                    },
                                    success: (result) => {
                                        var error = result.error;
                                        if (error) {
                                            swal('Oops', error, 'error')
                                        } else {
                                            swal('Thành công', 'Đơn hàng đã được chấp nhận', 'info')
                                            table.row(row).remove().draw('page');
                                        }
                                    },
                                    error: (err) => {
                                        swal('Oops', err.status == 403 ? 'Bạn không có quyền sử dụng chức năng này' : 'Lỗi không xác định hoặc bạn không có quyền thực hiện chức năng này.', 'error')
                                    }
                                });
                            });

                            $("#table-waiting-order tbody").delegate('.review-order', 'click', (e) => {
                                var id = $(e.currentTarget).attr('data-id-order'); 
                                location.href = '/admin/invoice/' + id
                            });
                        });
                    </script>
</body>

</html>