<!doctype html>
<html lang="vi">

<head>
    <title>Kiểm tra trạng thái đơn hàng</title>

    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">

    <%- include layouts/head %>
</head>

<body id="check-order" class="lang-en country-us currency-usd layout-full-width page-check-order tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Kiểm tra tình trạng đơn hàng.
                                </h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <form action="" class="forgotten-password" method="post">
                                    <header>
                                        <p class="send-renew-password-link">Điền vào các thông tin bên dưới để xem tình trạng vắn tắt của Đơn hàng.</p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="form-group center-email-fields">                                     
                                            <div class="form-group center-email-fields">
                                                <label class="col-md-3 form-control-label required">Email</label>
                                                <div class="col-md-5 email">
                                                    <% if (data.user && data.token) { %>
                                                        <input type="email" name="email" id="email" value="<%- data.user.email %>" class="form-control" required>
                                                    <% } else { %>
                                                        <input type="email" name="email" id="email" value="" class="form-control" required>
                                                    <% } %>                                                    
                                                </div>
                                            </div>
                                            <div class="form-group center-email-fields">
                                                <label class="col-md-3 form-control-label required">Mã đơn hàng</label>
                                                <div class="col-md-5 email">
                                                    <input type="text" name="email" id="id_order" value="" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <div class="from-group" style="text-align: center;">
                                    <button class="form-control-submit btn btn-success hidden-xs-down" type="submit" style="font-weight: 600; margin: 10px;" id="check">KIỂM TRA</button>
                                    <button class="form-control-submit btn btn-success hidden-sm-up" name="submit" type="submit" id="check-1">KIỂM TRA</button>

                                    <button class="form-control-submit btn btn-primary hidden-xs-down" type="button" id="cancel">Trở về</button>
                                    <button class="form-control-submit btn btn-primary hidden-sm-up" name="submit" type="button" id="cancel-1">Trở về</button>
                                </div>     
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>
</body>
<script type="text/javascript">

    $(document).ready(($) => {
        $("#check").click((e) => {
            var email = $('#email').val();
            var id = $('#id_order').val();

            if (!email || email == undefined) {
                swal({
                    title: "Có lỗi xảy ra",
                    text: "Vui lòng nhập Email cần tra cứu!",
                    icon: "error",
                    button: "Đã rõ",
                });
                return
            }

            if (!id || id == undefined) {
                swal({
                    title: "Có lỗi xảy ra",
                    text: "Vui lòng nhập Mã đơn hàng cần tra cứu!",
                    icon: "error",
                    button: "Đã rõ",
                });
                return
            }

            $.ajax({
                url: '/tra-cuu-don-hang',
                data: {
                    id: id,
                    email: email
                },
                method: 'POST',
                success: (data) => {
                    if (!data.order) {
                        swal({
                            title: "Có lỗi xảy ra",
                            text: "Đơn hàng không tìm thấy hoặc mã nhập vào không hợp lệ.",
                            icon: "error",
                            button: "Đã rõ",
                        });
                    } else {
                        location.href = `/tra-cuu-don-hang?id=${id}&email=${email}`
                    }
                },
                error: (err) => {
                    swal({
                        title: "Có lỗi xảy ra",
                        text: err.statusText,
                        icon: "error",
                        button: "Đã rõ",
                    });
                }
            })
        });

        $("#check-1").click((e) => {
            var email = $('#email').val();
            var id = $('#id_order').val();

            if (!email || email == 'undefined') {
                swal({
                    title: "Có lỗi xảy ra",
                    text: "Vui lòng nhập Email cần tra cứu!",
                    icon: "error",
                    button: "Đã rõ",
                });
                return
            }

            if (!id || id == 'undefined') {
                swal({
                    title: "Có lỗi xảy ra",
                    text: "Vui lòng nhập Mã đơn hàng cần tra cứu!",
                    icon: "error",
                    button: "Đã rõ",
                });
                return
            }

            $.ajax({
                url: '/tra-cuu-don-hang',
                data: {
                    id: id,
                    email: email
                },
                method: 'POST',
                success: (data) => {
                    if (!data.order) {
                        swal({
                            title: "Có lỗi xảy ra",
                            text: "Đơn hàng không tìm thấy hoặc mã nhập vào không hợp lệ.",
                            icon: "error",
                            button: "Đã rõ",
                        });
                    } else {
                        location.href = `/tra-cuu-don-hang?id=${id}&email=${email}`
                    }
                },
                error: (err) => {
                    swal({
                        title: "Có lỗi xảy ra",
                        text: err.statusText,
                        icon: "error",
                        button: "Đã rõ",
                    });
                }
            })
        });

        $("#cancel").click((e) => { 
            location.href = document.referrer
        });

        $("#cancel-1").click((e) => { 
            location.href = document.referrer
        });
    });
</script>

</html>