
<!doctype html>
<html lang="en">
<head>
    <title>Tài khoản của tôi | Alomobile</title>
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    
    <%- include layouts/head %>
</head>
        
<body id="my-account" class="lang-en country-us currency-usd layout-full-width page-my-account tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/tai-khoan-cua-toi">
                                <span itemprop="name">Tài khoản của tôi</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                </nav>                
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Tài khoản của tôi
                                </h1>
                            </header>
                            <section id="content" class="page-content">
                                <aside id="notifications">
                                    <div class="container">
                                    </div>
                                </aside>
                                <div class="row">
                                    <div class="links">
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="identity-link" href="/tai-khoan-cua-toi/thong-tin">
                                            <span class="link-item">
                                            <i class="material-icons"></i>
                                            Thông tin cá nhân
                                            </span>
                                        </a>
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="address-link" href="/tai-khoan-cua-toi/dia-chi">
                                            <span class="link-item">
                                            <i class="material-icons"></i>
                                            Những địa chỉ của tôi
                                            </span>
                                        </a>
                                        <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="history-link" href="/tai-khoan-cua-toi/lich-su-mua-hang">
                                            <span class="link-item">
                                            <i class="material-icons"></i>
                                            Lịch sử mua hàng
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <div class="text-sm-center">
                                    <a class="links_account" href="/sign-out">
                                        Đăng xuất
                                    </a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>   
</body>

</html>