
<!doctype html>
<html lang="en">
<head>
    <title>Tài khoản của tôi | Alomobile</title>
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    
    <%- include layouts/head %>
</head>
        
<body id="my-account" class="lang-en country-us currency-usd layout-full-width page-my-account tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="3" class="breadcrumb hidden-sm-down">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/tai-khoan-cua-toi">
                                <span itemprop="name">Tài khoản của tôi</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/tai-khoan-cua-toi/thong-tin">
                                <span itemprop="name">Thông tin cá nhân</span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </nav>                
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Thông tin cá nhân
                                </h1>
                            </header>
                            <section id="content" class="page-content">
                                <aside id="notifications">
                                    <div class="container">
                                    </div>
                                </aside>
                                <form id="customer-form" class="js-customer-form" method="post">
                                    <section>
                                        <input type="hidden" name="id_customer" value="">
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label">
                                                Giới tính
                                            </label>
                                            <div class="col-md-6 form-control-valign">
                                                <label class="radio-inline">
                                                    <span class="custom-radio">
                                                        <% if (data.user.sex == "Nam") { %>
                                                            <input name="id_gender" type="radio" value="Nam" checked>
                                                        <% } else { %>
                                                            <input name="id_gender" type="radio" value="Nam" >
                                                        <% } %>
                                                        
                                                        <span></span>
                                                    </span>Nam
                                                </label>
                                                <label class="radio-inline">
                                                    <span class="custom-radio">
                                                        <% if (data.user.sex == "Nữ") { %>
                                                            <input name="id_gender" type="radio" value="Nữ" checked>
                                                        <% } else { %>
                                                            <input name="id_gender" type="radio" value="Nữ" >
                                                        <% } %>
                                                        <span></span>
                                                    </span>Nữ
                                                </label>
                                                <label class="radio-inline">
                                                    <span class="custom-radio">
                                                        <% if (data.user.sex == "Khác") { %>
                                                            <input name="id_gender" type="radio" value="Khác" checked>
                                                        <% } else { %>
                                                            <input name="id_gender" type="radio" value="Khác" >
                                                        <% } %>
                                                        <span></span>
                                                    </span>
                                                    Khác
                                                </label>
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Họ
                                            </label>
                                            <div class="col-md-6">
                                                <input class="form-control" name="firstname" type="text" value="<%- data.user.fullName.firstName %>" required="">
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Tên
                                            </label>
                                            <div class="col-md-6">
                                                <input class="form-control" name="lastname" type="text" value="<%- data.user.fullName.lastName %>" required="">
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Email
                                            </label>
                                            <div class="col-md-6">
                                                <input class="form-control" name="email" type="email" value="<%- data.user.email %>" required="">
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Mật khẩu hiện tại
                                            </label>
                                            <div class="col-md-6">
                                                <div class="input-group js-parent-focus">
                                                    <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required="">
                                                </div>
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Mật khẩu mới
                                            </label>
                                            <div class="col-md-6">
                                                <div class="input-group js-parent-focus">
                                                    <input class="form-control js-child-focus js-visible-password" name="newPassword" type="password" value="" pattern=".{5,}" placeholder="Nhập mật khẩu mới nếu muốn thay đổi">
                                                </div>
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label required">
                                                Xác nhận mật khẩu mới
                                            </label>
                                            <div class="col-md-6">
                                                <div class="input-group js-parent-focus">
                                                    <input class="form-control js-child-focus js-visible-password" name="retypeNewPassword" type="password" value="" pattern=".{5,}" placeholder="Nhập mật khẩu mới nếu muốn thay đổi">
                                                </div>
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label">
                                                Ngày sinh
                                            </label>
                                            <div class="col-md-6">
                                                <input class="form-control" name="birthday" type="text" value="" placeholder="MM/DD/YYYY">
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                                Tuỳ chọn
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="col-md-3 form-control-label">
                                            </label>
                                            <div class="col-md-6">
                                                <span class="custom-checkbox">
                                                    <input name="option" type="checkbox" value="1">
                                                    <span>
                                                        <i class="material-icons checkbox-checked"></i>
                                                    </span>
                                                    <label>Đăng ký nhận tin mới qua email</label>
                                                </span>
                                            </div>
                                            <div class="col-md-3 form-control-comment">
                                            </div>
                                        </div>
                                    </section>
                                    <footer class="form-footer clearfix">
                                        <input type="hidden" name="submitCreate" value="1">
                                        <button class="btn btn-secondary form-control-submit float-xs-right"  type="submit">
                                            LƯU LẠI
                                        </button>
                                    </footer>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>   
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

<script type="text/javascript">

    jQuery(document).ready(($) => {

        $("#customer-form").submit((e) => {
            e.preventDefault();

            //validate parameters
            var firstName = $(e.currentTarget).find('input[name="firstname"]').val(),
                lastName = $(e.currentTarget).find('input[name="lastname"]').val(),
                email = $(e.currentTarget).find('input[name="email"]').val(),
                password = $(e.currentTarget).find('input[name="password"]').val(),
                newPassword = $(e.currentTarget).find('input[name="newPassword"]').val(),
                retypeNewPassword = $(e.currentTarget).find('input[name="retypeNewPassword"]').val(),
                birthday = $(e.currentTarget).find('input[name="birthday"]').val(),
                sex = $(e.currentTarget).find('input[name="id_gender"]:checked').val(),
                isRegistered_NewLetters = $(e.currentTarget).find('input[name="option"]:checked').val() == 1 ? true : false;

            var user = { }
                
            if (!firstName) {
                swal("Thông báo", "Vui lòng nhập họ của bạn.", "error");
                return
            }

            if (!lastName) {
                swal("Thông báo", "Vui lòng nhập tên của bạn.", "error");
                return
            }

            if (!email) {
                swal("Thông báo", "Vui lòng nhập Email của bạn.", "error");
                return
            }

            if (!password) {
                swal("Thông báo", "Vui lòng nhập mật khẩu của bạn.", "error");
                return
            }

            if (newPassword) {
                if (!retypeNewPassword) {
                    swal("Thông báo", "Vui lòng xác nhận mật khẩu mới của bạn.", "error");
                    return
                } else {
                    if (newPassword !== retypeNewPassword) {
                        swal("Thông báo", "Xác nhận mật khẩu không chính xác", "error");
                        return
                    } else {
                        user.newPassword = newPassword;
                        user.retypeNewPassword = retypeNewPassword;
                    }
                }
            }

            if (!sex) {
                swal("Thông báo", "Vui lòng nhập họ của bạn.", "error");
                showNotify("Vui lòng chọn giới tính.");
                return
            }

            //
            user.fullName = {
                firstName: firstName,
                lastName: lastName
            }
            user.email = email
            user.password = password
            user.birthday = birthday
            user.sex = sex
            user.isRegistered_NewLetters = isRegistered_NewLetters
        

            $.ajax({
                url: '/api/v1/user/update-informations',
                data: {
                    user: JSON.stringify(user)
                },
                method: "PUT",
                success: (data) => {
                    if (!data.user) {
                        if (data.error) {
                            swal("Cập nhật thông tin thất bại", data.error, "error")
                            return
                        } 
                        swal("Cập nhật thông tin thất bại", "Đã xảy ra lỗi không xác định, vui lòng thử lại sau.", "error")
                    } else {
                        window.location.reload();
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            });
        });
    });

</script>

</html>