<!doctype html>
<html lang="vi">
<head>    
    <title>Quên mật khẩu</title>
    
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    
    <%- include layouts/head %>
</head>

<body id="password" class="lang-en country-us currency-usd layout-full-width page-password tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
                <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
  Hãy nhập mật khẩu mới của bạn!
</h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <form action="" class="forgotten-password" method="post">
                                    <ul class="ps-alert-error">
                                    </ul>
                                    <header>
                                        <p class="send-renew-password-link">Nhập mật khẩu mới của bạn vào dưới và nhấn "Cập nhật" để thay đổi mật khẩu tài khoản của bạn.</p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="form-group center-email-fields">
                                            <label class="col-md-3 form-control-label required">Mật khẩu mới</label>
                                            <div class="col-md-5 email">
                                                <input type="password" name="email" id="newPassword" value="" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="form-group center-email-fields">
                                            <label class="col-md-3 form-control-label required">Nhập lại mật khẩu mới</label>
                                            <div class="col-md-5 email">
                                                <input type="password" name="email" id="retypePassword" value="" class="form-control" required>
                                            </div>
                                        </div>
                                    </section>                                    
                                    <footer>
                                        <div class="from-group" style="text-align: center;">
                                            <button class="form-control-submit btn btn-success hidden-xs-down" type="submit" style="font-weight: 600; margin: 10px;" id="update">CẬP NHẬT</button>
                                            <button class="form-control-submit btn btn-success hidden-sm-up" name="submit" type="submit" id="update-1">CẬP NHẬT</button>

                                            <button class="form-control-submit btn btn-primary hidden-xs-down" type="button" id="cancel">Huỷ bỏ</button>
                                            <button class="form-control-submit btn btn-primary hidden-sm-up" name="submit" type="button" id="cancel-1">Huỷ bỏ</button>
                                        </div>                                        
                                    </footer>
                                </form>
                            </section>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <a href="/login" class="account-link">
    <i class="material-icons">&#xE5CB;</i>
    <span>Đăng nhập</span>
  </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
        </main>
        <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.min.js"></script>
        <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
    <script type="text/javascript">

        var email = `<%- data.email; %>`
        var token = `<%- data.token; %>`

        $(document).ready(($) => {
            $("#update").click((e) => {

                e.preventDefault();

                var password = $("#newPassword").val();
                var retypePassword = $("#retypePassword").val();

                if (!password || !retypePassword) {
                    swal('Thông báo', 'Vui lòng nhập đầy đủ thông tin', 'error');
                    return
                }

                if (password.trim() != retypePassword.trim()) {
                    swal("Thông báo", "Xác nhận mật khẩu không trùng khớp!", "error");
                    return
                }

                $.ajax({
                    url: "/password-recovery",
                    method: "PUT",
                    data: {
                        email: email,
                        token: token,
                        password: password
                    },
                    success: (data) => {
                        if (data.error) {
                            swal("Có lỗi xảy ra", data.error, 'error');
                        } else {
                            swal({
                                title: "Cập nhật mật khẩu thành công!",
                                text: "Ngay bây giờ bạn có thể đăng nhập lại tài khoản của bạn với mật khẩu mới được tạo!",
                                icon: "info",
                                buttons: {
                                    home: {
                                        text: "Về trang chủ",
                                        value: "home"
                                    },
                                    signIn: {
                                        text: "Đăng nhập",
                                        value: "signIn",
                                        className: "btn-success"
                                    }                 
                                }
                            }).then((value) => {
                                switch (value) {
                                    case 'signIn':
                                        window.location.href = '/dang-nhap'
                                        break;                                
                                    default:
                                        window.location.href = '/'
                                        break;
                                }
                            });
                        }
                    },
                    error: (err) => {
                        swal("Có lỗi xảy ra", JSON.stringify(err), 'error');
                    }
                });
            });

            $("#update-1").click((e) => {

                e.preventDefault();

                var password = $("#newPassword").val();
                var retypePassword = $("#retypePassword").val();

                if (!password || !retypePassword) {
                    swal('Thông báo', 'Vui lòng nhập đầy đủ thông tin', 'error');
                    return
                }

                if (password.trim() != retypePassword.trim()) {
                    swal("Thông báo", "Xác nhận mật khẩu không trùng khớp!", "error");
                    return
                }

                $.ajax({
                    url: "/password-recovery",
                    method: "PUT",
                    data: {
                        email: email,
                        token: token,
                        password: password
                    },
                    success: (data) => {
                        if (data.error) {
                            swal("Có lỗi xảy ra", data.error, 'error');
                        } else {
                            swal({
                                title: "Cập nhật mật khẩu thành công!",
                                text: "Ngay bây giờ bạn có thể đăng nhập lại tài khoản của bạn với mật khẩu mới được tạo!",
                                icon: "info",
                                buttons: {
                                    home: {
                                        text: "Về trang chủ",
                                        value: "home"
                                    },
                                    signIn: {
                                        text: "Đăng nhập",
                                        value: "signIn",
                                        className: "btn-success"
                                    }                 
                                }
                            }).then((value) => {
                                switch (value) {
                                    case 'signIn':
                                        window.location.href = '/dang-nhap'
                                        break;                                
                                    default:
                                        window.location.href = '/'
                                        break;
                                }
                            });
                        }
                    },
                    error: (err) => {
                        swal("Có lỗi xảy ra", JSON.stringify(data.error), 'error');
                    }
                });
            });

            $("#cancel").click((e) => {
                swal({
                    title: "Bạn có muốn huỷ không?",
                    text: "Khi nhấn 'Đồng ý' thì bạn không thể truy cập được trang này nữa, dĩ nhiên bạn vẫn có thể đăng nhập được tài khoản của bạn nếu nhớ mật khẩu!",
                    icon: "info",
                    buttons: {
                        no: true,
                        yes: {
                            text: "Đồng ý",
                            value: "yes",
                            className: "btn-danger"
                        }                       
                    }
                }).then((value) => {
                    switch (value) {
                        case 'yes':                            
                            $.ajax({
                                url: "/destroy-recovery-code",
                                data: {
                                    email: email,
                                    token: token
                                },
                                method: "POST",
                                success: (data) => {

                                },
                                error: (err) => {

                                }
                            });

                            window.location.href = '/dang-nhap'

                            break;                    
                        default:
                            break;
                    }
                })
            });

            $("#cancel-1").click((e) => {
                swal({
                    title: "Bạn có muốn huỷ không?",
                    text: "Khi nhấn 'Đồng ý' thì bạn không thể truy cập được trang này nữa, dĩ nhiên bạn vẫn có thể đăng nhập được tài khoản của bạn nếu nhớ mật khẩu!",
                    icon: "info",
                    buttons: {
                        no: true,
                        yes: {
                            text: "Đồng ý",
                            value: "yes",
                            className: "btn-danger"
                        }                       
                    }
                }).then((value) => {
                    switch (value) {
                        case 'yes':                            
                            $.ajax({
                                url: "/destroy-recovery-code",
                                data: {
                                    email: email,
                                    token: token
                                },
                                method: "POST",
                                success: (data) => {

                                },
                                error: (err) => {

                                }
                            });

                            window.location.href = '/dang-nhap'

                            break;                    
                        default:
                            break;
                    }
                })
            });
        });
    </script>
</html>