<!doctype html>
<html lang="vi">
<head>    
    <title>Quên mật khẩu</title>
    
    <meta name="description" content="Shop powered by AloMobile">
    <meta name="keywords" content="">
    
    <%- include layouts/head %>
</head>

<body id="password" class="lang-en country-us currency-usd layout-full-width page-password tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
                <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
  Bạn đã quên mật khẩu?
</h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <form action="" class="forgotten-password" method="post">
                                    <ul class="ps-alert-error">
                                    </ul>
                                    <header>
                                        <p class="send-renew-password-link">Nhập vào địa chỉ email của bạn vào đây. Chúng tôi sẽ gửi đường dẫn qua email của bạn để thay đổi lại mật khẩu mới.</p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="form-group center-email-fields">
                                            <label class="col-md-3 form-control-label required">Địa chỉ email</label>
                                            <div class="col-md-5 email">
                                                <input type="email" name="email" id="email" value="" class="form-control" required>
                                            </div>
                                            <button class="form-control-submit btn btn-primary hidden-xs-down" name="submit" type="submit">
                                                Nhận mật khẩu mới
                                            </button>
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <a href="/login" class="account-link">
    <i class="material-icons">&#xE5CB;</i>
    <span>Đăng nhập</span>
  </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
        </main>
        <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
    <script type="text/javascript">

        $(document).ready(($) => {
            $('form').submit((e) => {
                e.preventDefault();
                var email = $('#email').val();
    
                if (!email && email == undefined) {
                    swal({
							title: "Có lỗi xảy ra",
							text: "Vui lòng nhập Email của bạn vào!",
							icon: "error",
							button: "Đã rõ",
                    });
                    return
                }    

                $.ajax({
                    url: '/password-recovery',
                    data: {
                        email: email
                    },
                    method: 'POST',
                    success: (data) => {
                        if (data.error) {
                            swal({
							    title: "Có lỗi xảy ra",
							    text: data.error,
						    	icon: "error",
						    	button: "Đã rõ",
                            });
                        } else {
                            swal({
							    title: "Yêu cầu mật khẩu mới thành công",
							    text: "Chúng tôi đã gửi đường dẫn tạo lại mật khẩu mới qua E-mail của bạn. Lưu ý: đường dẫn chỉ hoạt động dưới 30 phút.",
						    	icon: "success",
						    	buttons: {
                                    signIn: 'Đăng nhập'
                                },
                            }).then((value) => {
                                window.location.href = '/sign-in'
                            });
                        }
                    },
                    error: (err) => {
                        swal({
							    title: "Có lỗi xảy ra",
							    text: JSON.stringify(err),
						    	icon: "error",
						    	button: "Đã rõ",
                            });
                    }
                })
            });
        });
    </script>
</html>