<!doctype html>
<html lang="vi">

<head>
    <title>Đăng ký tài khoản</title>

    <meta name="description" content="Shop powered by AloMobile">
    <meta name="keywords" content="">

    <%- include layouts/head %>
</head>

<body id="authentication" class="lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="index.html">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1 style="text-align: center">
                                    Tạo tài khoản
                                </h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <section class="register-form">
                                    <p>Đã có tài khoản?
                                        <a href="/sign-in">Đăng nhập ngay!</a>
                                    </p>
                                    <form action="/sign-up" id="customer-form" class="js-customer-form" method="post">
                                        <section>
                                            <input type="hidden" name="id_customer" value="">
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                    Giới tính
                                                </label>
                                                <div class="col-md-6 form-control-valign">
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                            <input name="id_gender" type="radio" value="Nam">
                                                            <span></span>
                                                        </span>
                                                        Nam
                                                    </label>
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                            <input name="id_gender" type="radio" value="Nữ">
                                                            <span></span>
                                                        </span>
                                                        Nữ
                                                    </label>
                                                    <label class="radio-inline">
                                                        <span class="custom-radio">
                                                            <input name="id_gender" type="radio" value="Khác">
                                                            <span></span>
                                                        </span>
                                                        Khác
                                                    </label>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Họ
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="firstname" type="text" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Tên
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="lastname" type="text" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Email
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="email" type="email" value="" required>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Mật khẩu
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group js-parent-focus">
                                                        <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                    Ngày sinh
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="birthday" type="text" value="" placeholder="MM/DD/YYYY">
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                    Tuỳ chọn
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label">
                                                </label>
                                                <div class="col-md-6">
                                                    <span class="custom-checkbox">
                                                        <input name="optin" type="checkbox" value="1">
                                                        <span>
                                                            <i class="material-icons checkbox-checked">&#xE5CA;</i>
                                                        </span>
                                                        <label>Đăng ký nhận tin mới qua email</label>
                                                    </span>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                        </section>
                                        <footer class="form-footer clearfix">
                                            <input type="hidden" name="submitCreate" value="1">
                                            <button class="btn btn-secondary form-control-submit float-xs-right" data-link-action="save-customer" type="submit">
                                                Đăng ký ngay
                                            </button>
                                        </footer>
                                    </form>
                                </section>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>

    <script type="text/javascript">

        jQuery(document).ready(($) => {

            $("form").submit((e) => {
                e.preventDefault();

                //validate parameters
                var firstName = $('input[name="firstname"]').val(),
                    lastName = $('input[name="lastname"]').val(),
                    email = $('input[name="email"]').val(),
                    password = $('input[name="password"]').val(),
                    birthday = $('input[name="birthday"]').val(),
                    sex = $('input[name="id_gender"]:checked').val(),
                    isRegistered_NewLetters = $('input[name="optin"]:checked').val() == 1 ? true : false;


                if (!firstName) {
                    showNotify('#customer-form', "Vui lòng nhập họ của bạn.");
                    return
                }

                if (!lastName) {
                    showNotify('#customer-form', "Vui lòng nhập tên của bạn.");
                    return
                }

                if (!email) {
                    showNotify('#customer-form', "Vui lòng nhập Email của bạn.");
                    return
                }

                if (!password) {
                    showNotify('#customer-form', "Vui lòng nhập mật khẩu.");
                    return
                }

                if (!sex) {
                    showNotify('#customer-form', "Vui lòng chọn giới tính.");
                    return
                }

                if (birthday) {                    
                    if (!isValidDate(birthday)) {
                        showNotify('#customer-form', "Vui lòng nhập ngày sinh đúng định dạng: DD/MM/YYYY");
                        return
                    }
                } else {
                    birthday = null
                }

                //
                var user = {
                    fullName: {
                        firstName: firstName,
                        lastName: lastName
                    },
                    email: email,
                    password: password,
                    birthday: birthday,
                    sex: sex,
                    isRegistered_NewLetters: isRegistered_NewLetters
                }

                $('input[type="submit"]').html('Đang đăng ký...').addClass('disabled', true);

                $.post(
                    'sign-up',
                    user,
                    (data) => {
                        $('input[type="submit"]').html('Đăng ký ngay').removeClass('disabled');    
                        
                        var result = data.result || "Đã xảy ra lỗi không xác định, vui lòng thử lại sau.";
                        showNotify('#customer-form', result); 
                    }
                );
            });
        });
    </script>
</body>

</html>