<!doctype html>
<html lang="vi">

<head>
    <title>Alomobile</title>

    <meta name="description" content="Shop powered by AloMobile">
    <meta name="keywords" content="">

    <%- include layouts/head %>
        </style>
</head>

<body id="authentication" class="lang-en country-us currency-eur layout-full-width page-authentication tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="index.html">
                                <span itemprop="name">Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1 style="text-align: center">
                                    Đăng nhập
                                </h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <section class="login-form">    
                                    <form id="login-form" action="/sign-in" method="post">
                                        <section>
                                            <input type="hidden" name="back" value="">
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Email
                                                </label>
                                                <div class="col-md-6">
                                                    <input class="form-control" name="email" type="email" value="" required id="email">
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="col-md-3 form-control-label required">
                                                    Mật khẩu
                                                </label>
                                                <div class="col-md-6">
                                                    <div class="input-group js-parent-focus">
                                                        <input class="form-control js-child-focus" name="password" type="password" value="" pattern=".{5,}" required id="password">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 form-control-comment">
                                                </div>
                                            </div>
                                            <div class="forgot-password">
                                                <a href="/password-recovery" rel="nofollow">
                                                    Quên mật khẩu của bạn?
                                                </a>
                                            </div>
                                        </section>
                                        <footer class="form-footer text-sm-center clearfix">
                                            <button class="btn btn-primary" type="submit" class="form-control-submit" id="login-button">
                                                Đăng nhập
                                            </button>
                                        </footer>
                                    </form>
                                </section>
                                <hr/>
                                <div class="no-account">
                                    <a href="/sign-up" data-link-action="display-register-form">
                                        Không có tải khoản? Đăng ký ngay!
                                    </a>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(($) => {
            $("form").submit((e) => {
                e.preventDefault();

                //validate parameters
                var email = $("#email").val(),
                    password = $("#password").val();
                
                if (!email) {
                    showNotify('Vui lòng nhập Email');
					return
                }
                
                if (!password) {
                    showNotify('Vui lòng nhập mật khẩu');
					return
                }

                var user = {
                    email: email,
                    password: password
                }

                $("#login-button").html("Đang đăng nhập...").addClass('disabled', true);

                $.post(
                    'sign-in',
                    user,
                    (data) => {
                        $("#login-button").html("Đăng nhập").removeClass('disabled');

                        var user = data.user;

                        if (user) {
                            window.location.href = '/'
                        } else {
                            var err = data.error || "Đã xảy ra lỗi không xác định, vui lòng thử lại sau.";                            
                            showNotify(err);
							return 
                        }                        
                    }
                );
            });
        });
    </script>
</body>
</html>