<!doctype html>
<html lang="vi">

<head>
    <title>Kiểm tra trạng thái đơn hàng</title>

    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <link rel="stylesheet" href="/static/css/status-order.css" type="text/css" media="all">
    <%- include layouts/head %>
</head>

<body id="check-order" class="lang-en country-us currency-usd layout-full-width page-check-order tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Kiểm tra tình trạng đơn hàng.
                                </h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <form action="" class="forgotten-password" method="post">
                                    <header>
                                        <p class="send-renew-password-link"></p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="col-lg-12">                                            
                                            <div class="tracking-order-process">
                                                <% var status = data.order.status %>
                                                <% var fullName =  data.order.byUser.fullName.firstName + " " +  data.order.byUser.fullName.lastName %>
                                                <% var date = new Date(data.order.created_at) %>
                                                <% var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  date.getMonth() +"/" +date.getFullYear() %>
                                                <% var address = data.order.toAddress.address + " " + data.order.toAddress.state + " " + data.order.toAddress.city %>

                                                <p class="order-id">Mã đơn hàng: #<%- data.order._id %></p>

                                                <% if (status == 1) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ĐANG CHỜ XÁC NHẬN</span></p>
                                                <% } else if (status == 2) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ALOMOBILE ĐÃ TIẾP NHẬN ĐƠN HÀNG </span></p>
                                                <% } else if (status == 3) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ALOMOBILE ĐÃ TỪ CHỐI ĐƠN HÀNG </span></p>
                                                <% } else if (status == 4) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>NGƯỜI DÙNG ĐÃ HUỶ ĐƠN HÀNG </span></p>
                                                <% } else if (status == 5) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ĐƠN HÀNG ĐANG ĐƯỢC VẬN CHUYỂN </span></p>
                                                <% } else { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>GIAO HÀNG THÀNH CÔNG </span></p>
                                                <% } %>
                                                
                                                <div class="row bs-wizard">
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step complete">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đặt hàng thành công</p>
                                                            <span><%- dateCreated %></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Alomobile đã tiếp nhận đơn hàng</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đang vận chuyển</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Giao hàng thành công</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                <h2>Thông tin đơn hàng</h2>-->
                                            <div class="tracking-order-detail">
                                                <div class="row top">
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Địa chỉ người nhận</h4>
                                                        <p><%- fullName %></p>
                                                        <p><%- address %></p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thời gian giao hàng &amp; Vận chuyển</h4>
                                                        <p>Vận chuyển Tiết Kiệm</p>
                                                        <p>Miễn phí vận chuyển</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thông tin thanh toán</h4>
                                                        <p><%- fullName %></p>
                                                        <p><%- address %></p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Phương thức thanh toán</h4>
                                                        <% if (data.order.checkoutMethod) { %>
                                                            <% if (data.order.checkoutMethod == 'Cod') { %> 
                                                                <p>Thanh toán tiền mặt khi nhận hàng</p>
                                                            <% } else { %>
                                                                <p>Đã thanh toán trực tuyến"</p>
                                                            <% } %>
                                                        <% } else { %>
                                                            <p>Thanh toán tiền mặt khi nhận hàng</p>
                                                        <% } %>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row bottom">
                                                    <h4>Đơn hàng bao gồm</h4>
                                                    <table class="table-responsive-2">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Số lượng</th>
                                                                <th>Đơn giá</th>
                                                                <th>Tổng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <% if (data.order.products) { %>
                                                                <% var total = 0 %>
                                                                <% data.order.products.forEach(product => { %>
                                                                    <% total += product.quantity + product.price  %>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/<%- product.id.alias %>-<%- product.id._id %>" target="_blank"><%- product.id.name %></a>
                                                                        </td>
                                                                        <td>
                                                                            <%- product.quantity %>
                                                                        </td>                  
                                                                        <td>
                                                                            <span class="price">
                                                                                <%- product.price %>
                                                                            </span>                          
                                                                        </td>
                                                                        <td>
                                                                            <span class="price">
                                                                                <%- product.quantity * product.price %>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                        <% } %>                                                            
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Tổng</strong></td>
                                                                <td><strong>
                                                                    <span class="price">
                                                                        <%- total %>
                                                                    </span>
                                                                </strong></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <% if (data.order.status != 3 && data.order.status != 4 && data.order.status != 6) { %>
                                                <div class="row" style="margin: 20px;">
                                                <div class="col-md-9">
                                                    <span></span>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <a id="valid-canceled-order" title="Hủy đơn hàng" class="btn btn-warning" style="float: right;">
                                                        <span style="color: white;">Hủy đơn hàng</span>
                                                    </a>
                                                </div> 
                                            </div>
                                            <% } %>                                            
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <style>                            
                                b, strong {
                                    font-weight: 700;
                                } 
                                p {
                                    color: rgb(70, 66, 66);
                                    font-weight: 400;
                                }
                                

                            </style>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <a href="javascript: location.href = document.referrer" class="account-link">
                                    <i class="material-icons">&#xE5CB;</i>
                                    <span>Trở về</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>
</body>
<script type="text/javascript">
    
    (function (status, $) {
        var process = $('.bs-wizard div.bs-wizard-step');

       if (status == 2 || status == 3 || status == 4) {
            process.each((index, step) => {
                if (index <= 1) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       } else if (status == 5) {
            process.each((index, step) => {
                if (index <= 2) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       } else if (status == 6) {
            process.each((index, step) => {
                if (index <= 3) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       }

    })("<%- data.order.status %>", jQuery);

    (function ($) {
        var prices = $('.price');
        prices.each((index, element) => {
            var price = $(element).text();
            $(element).text(numberWithCommas(price) + " VNĐ");
        });
    })(jQuery)

</script>
<script>   
    var id = "<%- data.order._id %>"
    function confirmDelete(cb) {
		swal({
			   title: "Bạn có muốn huỷ đơn hàng này không?",
			   text: "Nhấn vào 'Đồng ý' để huỷ, lưu ý: Mã giảm giá vẫn có thể áp dụng cho đơn hàng khác sau khi huỷ đơn hàng này (với các điều kiện áp dụng tương tự, kể cả thời hạn sử dụng mã).!",
			   icon: "info",
			   buttons: {
				   cancel: true,
				   yes: {
                        text: "Đồng ý",
                        value: 'yes',
                        className: 'btn-danger'
                    }
			   },
		   })
		   .then((value) => {
			   switch (value) {     
				   case "yes":
					   return cb(true);
					   break;                               
				   default:
					   return cb(false);
					   break;
			   }
		}); 
    }
    
    function cancelSuccess() {
		swal({
			   title: "Huỷ đơn hàng thành công!",
			   text: "Đơn hàng của bạn đã được huỷ bỏ, lưu ý: Mã giảm giá vẫn có thể áp dụng cho đơn hàng khác sau khi huỷ đơn hàng này (với các điều kiện áp dụng tương tự, kể cả thời hạn sử dụng mã).!",
			   icon: "info",
			   buttons: {
				    yes: {
                        text: "Đồng ý",
                        value: 'yes'
                    }
			   }
		   })
		   .then((value) => {
			   location.reload();
		}); 
	}

    jQuery(document).ready(($) => {
        $('#valid-canceled-order').click((e) => {
            confirmDelete((isComfirm) => {
                if (isComfirm) {
                    if (!id || id == 'undefined') {
                        swal('Không thể tìm thấy đơn hàng cần xoá!');
                        return
                    }

                    $.ajax({
                        url: '/huy-don-hang',
                        method: 'PUT',
                        data: {
                            idOrder: id
                        },
                        success: (data) => {
                            if (!data.order) {
                                cancelSuccess();
                            } else {
                                swal('Huỷ đơn hàng thất bại, vui lòng liên hệ với chúng tôi qua số hot line để được hỗ trợ ngay lập tức!')
                            }
                        },
                        error: (err) => {
                            swal('Huỷ đơn hàng thất bại, vui lòng liên hệ với chúng tôi qua số hot line để được hỗ trợ ngay lập tức!')
                        }
                    });
                }
            })
        })
    })

</script>

</html>