<!doctype html>
<html lang="vi">

<head>
    <title>Kiểm tra trạng thái đơn hàng</title>

    <meta name="description" content="Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <link rel="stylesheet" href="/static/css/status-order.css" type="text/css" media="all">
    <%- include layouts/head %>
</head>

<body id="check-order" class="lang-en country-us currency-usd layout-full-width page-check-order tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Kiểm tra tình trạng đơn hàng.
                                </h1>
                            </header>
                            <section id="content" class="page-content card card-block">
                                <form action="" class="forgotten-password" method="post">
                                    <header>
                                        <p class="send-renew-password-link"></p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="col-lg-12">                                            
                                            <div class="tracking-order-process">
                                                <p class="order-id">Mã đơn hàng: #331723773</p>
                                                <p class="status">Tình trạng đơn hàng: <span>ALOMOBILE ĐÃ TIẾP NHẬN ĐƠN HÀNG </span></p>
                                                <div class="row bs-wizard">
                                                    <div class="col-lg-2 col-md-2 bs-wizard-step complete">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đặt hàng thành công</p>
                                                            <span>2018-04-14 15:15:35</span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step active">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Tiki.vn đã tiếp nhận đơn hàng</p>
                                                            <span>2018-04-14 15:15:41</span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đang đóng gói</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đang vận chuyển</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Giao hàng thành công</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--                <h2>Thông tin đơn hàng</h2>-->
                                            <div class="tracking-order-detail">
                                                <div class="row top">
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Địa chỉ người nhận</h4>
                                                        <p>Nguyen Van A</p>
                                                        <p>1232 Ngo quyen, Phường Cầu Kho, Quận 1, Hồ Chí Minh, Việt Nam</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thời gian giao hàng &amp; Vận chuyển</h4>
                                                        <p>Vận chuyển Tiết Kiệm (dự kiến giao hàng vào Thứ ba, 17/04/2018)</p>
                                                        <p>Miễn phí vận chuyển</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thông tin thanh toán</h4>
                                                        <p>Nguyen Van A</p>
                                                        <p>1232 Ngo quyen, Phường Cầu Kho, Quận 1, Hồ Chí Minh, Việt Nam</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Phương thức thanh toán</h4>
                                                        <p>Thanh toán tiền mặt khi nhận hàng</p>
                                                    </div>
                                                </div>
                                                <div class="bottom">
                                                    <h4>Đơn hàng bao gồm</h4>
                                                    <table class="table-responsive-2">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Số lượng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="https://tiki.vn/noi-com-dien-co-cuchen-cje-na1001vn-1-8l-xam-p939811.html" target="_blank">Nồi Cơm Điện Cơ Cuchen CJE-NA1001VN (1.8L) - Xám</a>
                                                                    <!--
                                                                                                                -->
                                                                </td>
                                                                <td>
                                                                    <strong class="hidden-lg hidden-md">Số lượng: </strong>1 </td>
                                                            </tr>
                                                            <!-- CATALOG GIFT -->
                                                            <!-- END CATALOG GIFT -->
                                                            <tr>
                                                                <td>
                                                                    <a href="https://tiki.vn/product-p1744669.html" target="_blank">[Gift] Tặng bạn mã coupon THOITRANG50 giảm 50k cho đơn hàng từ 300k khi mua Thời trang Mẹ và Bé tại Tiki.vn.</a>
                                                                    <!--
                                                                                                                -->
                                                                    <p><em>Quà tặng</em></p>
                                                                </td>
                                                                <td>
                                                                    <strong class="hidden-lg hidden-md">Số lượng: </strong>1 </td>
                                                            </tr>
                                                            <!-- CATALOG GIFT -->
                                                            <!-- END CATALOG GIFT -->
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td><strong>Tổng</strong></td>
                                                                <td><strong>1.449.000&nbsp;₫</strong></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <style>                            
                                b, strong {
                                    font-weight: 700;
                                } 
                                p {
                                    color: rgb(70, 66, 66);
                                    font-weight: 400;
                                }
                                

                            </style>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <a href="/login" class="account-link">
                                    <i class="material-icons">&#xE5CB;</i>
                                    <span>Đăng nhập</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>
</body>
<script type="text/javascript">

    $(document).ready(($) => {
        $('form').submit((e) => {
            e.preventDefault();
            var id = $('#order').val();

            if (!id && id == undefined) {
                swal({
                    title: "Có lỗi xảy ra",
                    text: "Vui lòng nhập Mã đơn hàng cần tra cứu!",
                    icon: "error",
                    button: "Đã rõ",
                });
                return
            }

            $.ajax({
                url: '/tra-cuu-don-hang',
                data: {
                    id: id
                },
                method: 'POST',
                success: (data) => {
                    if (data.error) {
                        swal({
                            title: "Có lỗi xảy ra",
                            text: data.error,
                            icon: "error",
                            button: "Đã rõ",
                        });
                    } else {
                        
                    }
                },
                error: (err) => {
                    swal({
                        title: "Có lỗi xảy ra",
                        text: err.statusText,
                        icon: "error",
                        button: "Đã rõ",
                    });
                }
            })
        });
    });
</script>

</html>