<!doctype html>
<html lang="vi">

<head>
    <title>Kiểm tra trạng thái đơn hàng</title>

    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <link rel="stylesheet" href="/static/css/status-order.css" type="text/css" media="all">
    <%- include layouts/head %>
</head>

<body id="check-order" class="lang-en country-us currency-usd layout-full-width page-check-order tax-display-disabled page-customer-account">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <header class="page-header">
                                <h1>
                                    Kiểm tra tình trạng đơn hàng.
                                </h1>
                            </header>
                            <!-- ORDER STATUS -->
                            <section id="order-status-checking" class="page-content card card-block">
                                <form action="" class="tracking-order">
                                    <header>
                                        <p class="send-renew-password-link"></p>
                                    </header>
                                    <section class="form-fields">
                                        <div class="col-lg-12">                                            
                                            <div class="tracking-order-process">
                                                <% var status = data.order.status %>
                                                <% var fullName =  data.order.toAddress.fullName %>
                                                <% var date = new Date(data.order.created_at) %>
                                                <% var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  date.getMonth() +"/" + date.getFullYear() %>
                                                <% var address = data.order.toAddress.address + " " + data.order.toAddress.state + " " + data.order.toAddress.city %>
                                                <% var discount = 0; %>
                                                <% if (data.order.promoCode) { %>
                                                        <% if (data.order.promoCode.id && data.order.promoCode.discount) { %>
                                                            <% discount = data.order.promoCode.discount; %>
                                                        <% } %>
                                                <% } %>

                                                <p class="order-id">Mã đơn hàng: <%- data.order.alias %></p>

                                                <% if (status == 1) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ĐANG CHỜ XÁC NHẬN</span></p>
                                                <% } else if (status == 2) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ALOMOBILE ĐÃ TIẾP NHẬN ĐƠN HÀNG </span></p>
                                                <% } else if (status == 3) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ALOMOBILE ĐÃ TỪ CHỐI ĐƠN HÀNG </span></p>
                                                <% } else if (status == 4) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>NGƯỜI DÙNG ĐÃ HUỶ ĐƠN HÀNG </span></p>
                                                <% } else if (status == 5) { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>ĐƠN HÀNG ĐANG ĐƯỢC VẬN CHUYỂN </span></p>
                                                <% } else { %>
                                                    <p class="status">Tình trạng đơn hàng: <span>GIAO HÀNG THÀNH CÔNG </span></p>
                                                <% } %>
                                                
                                                <div class="row bs-wizard">
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step complete">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đặt hàng thành công</p>
                                                            <span><%- dateCreated %></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Alomobile đã tiếp nhận đơn hàng</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Đang vận chuyển</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 bs-wizard-step disabled">
                                                        <div class="text-center bs-wizard-stepnum">
                                                            <p>Giao hàng thành công</p>
                                                            <span></span>
                                                        </div>
                                                        <div class="progress">
                                                            <div class="progress-bar"></div>
                                                        </div>
                                                        <span class="bs-wizard-dot"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tracking-order-detail">
                                                <div class="row top">
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Địa chỉ người nhận</h4>
                                                        <p><%- fullName %></p>
                                                        <p><%- address %></p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thời gian giao hàng &amp; Vận chuyển</h4>
                                                        <p>Vận chuyển Tiết Kiệm</p>
                                                        <p>Miễn phí vận chuyển</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Thông tin thanh toán</h4>
                                                        <p><%- fullName %></p>
                                                        <p><%- address %></p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 item">
                                                        <h4>Phương thức thanh toán</h4>
                                                        <% if (data.order.checkoutMethod) { %>
                                                            <% if (data.order.checkoutMethod == 'Cod') { %> 
                                                                <p>Thanh toán tiền mặt khi nhận hàng</p>
                                                            <% } else { %>
                                                                <p>Đã thanh toán trực tuyến"</p>
                                                            <% } %>
                                                        <% } else { %>
                                                            <p>Thanh toán tiền mặt khi nhận hàng</p>
                                                        <% } %>
                                                        
                                                    </div>
                                                </div>
                                                <div class="row bottom">
                                                    <h4>Đơn hàng bao gồm</h4>
                                                    <table class="table-responsive-2">
                                                        <thead>
                                                            <tr>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Số lượng</th>
                                                                <th>Đơn giá</th>
                                                                <th>Tổng</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        <% if (data.order.products) { %>
                                                                <% var total = 0 %>
                                                                <% data.order.products.forEach(product => { %>
                                                                    <% total += product.quantity + product.price  %>
                                                                    <tr>
                                                                        <td>
                                                                            <a href="/<%- product.id.alias %>-<%- product.id._id %>" target="_blank"><%- product.id.name %></a>
                                                                        </td>
                                                                        <td>
                                                                            <%- product.quantity %>
                                                                        </td>                  
                                                                        <td>
                                                                            <span class="price">
                                                                                <%- product.price %>
                                                                            </span>                          
                                                                        </td>
                                                                        <td>
                                                                            <span class="price">
                                                                                <%- product.quantity * product.price %>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                <% }) %>
                                                        <% } %>                                                            
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Giảm giá</strong></td>
                                                                <td><strong>
                                                                    <span class="price discount">
                                                                        <%- discount %>
                                                                    </span>
                                                                </strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td><strong>Tổng</strong></td>
                                                                <td><strong>
                                                                    <span class="price">
                                                                        <%- total - discount%>
                                                                    </span>
                                                                </strong></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                            <% if (data.order.status != 3 && data.order.status != 4 && data.order.status != 6) { %>
                                                <div class="row" style="margin: 20px;">
                                                <div class="col-md-9">
                                                    <span></span>
                                                </div>
                                                <div class="col-md-3 pull-right">
                                                    <a id="valid-canceled-order" title="Hủy đơn hàng" class="btn btn-warning" style="float: right;">
                                                        <span style="color: white;">Hủy đơn hàng</span>
                                                    </a>
                                                </div> 
                                            </div>
                                            <% } %>                                            
                                        </div>
                                    </section>
                                </form>
                            </section>
                            <!-- END ORDER STATUS -->

                            <style>                            
                                b, strong {
                                    font-weight: 700;
                                } 
                                p {
                                    color: rgb(70, 66, 66);
                                    font-weight: 400;
                                }
                                

                            </style>
                            <footer class="page-footer" style="margin-bottom: 1.563rem">
                                <a href="javascript: location.href = document.referrer" class="account-link">
                                    <i class="material-icons">&#xE5CB;</i>
                                    <span>Trở về</span>
                                </a>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top">
        <a href="#" class="back-top-button"></a>
    </div>
</body>
<script type="text/javascript">
    
    (function (status, $) {
        var process = $('.bs-wizard div.bs-wizard-step');

       if (status == 2 || status == 3 || status == 4) {
            process.each((index, step) => {
                if (index <= 1) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       } else if (status == 5) {
            process.each((index, step) => {
                if (index <= 2) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       } else if (status == 6) {
            process.each((index, step) => {
                if (index <= 3) {
                    $(step).removeClass('disabled');
                    $(step).addClass('complete')
                }
            });
       }

    })("<%- data.order.status %>", jQuery);

    (function ($) {
        var prices = $('.price');
        prices.each((index, element) => {
            var price = $(element).text();
            $(element).text(numberWithCommas(price) + " VNĐ");
        });
    })(jQuery)

</script>
<script>   
    var id = "<%- data.order._id %>";

    //get other orders
    (function (alias) {
        if (!alias) { return }
        $.get(`/api/v1/order/get-my-orders?idOrder=${alias}`, (data) => {
            if (data.orders) {
                var statusSession = $("#order-status-checking");

                var sessionOrders = `
                    <section class="page-content card card-block">
                        <div class="row distance-top">
                            <div class="col-lg-12">
                                <h1 class="text-center">Các đơn hàng khác</h1>
                                <div class="tracking-order-detail">  
                                    <div class="row bottom">
                                        <table class="table-responsive-2">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Ngày mua</th>
                                                    <th>Tổng</th>
                                                    <th>Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>`

                                                data.orders.forEach(order => {

                                                    var total = 0;

                                                    var date = new Date(order.created_at)
					                                var dateCreated = date.getHours() + ":" + date.getMinutes() + " " + date.getDate() + "/"+  (date.getMonth() + 1) +"/" +date.getFullYear()

                                                    sessionOrders+= `<tr id="${order._id} data-order-alias=${order.alias}">
                                                        <td><a href="/tra-cuu-don-hang?email=${order.byUser.email}&id=${order.alias}">${order.alias}</a></td>
                                                        <td>`
                                                            order.products.forEach(product => {
                                                                total += product.quantity + product.price;
                                                                sessionOrders += `
                                                                    <ul style="list-style-type: none;
                                                                            margin: 0;
                                                                            padding: 0;
                                                                            overflow: hidden;" data-id-product="${product.id._id}">
                                                                        <li style="float: left; margin: 5px">
                                                                            <a href="/${product.alias}-${product.id._id}"><span>${product.id.name} - </span></a>  
                                                                        </li>
                                                                        <li style="background-color: ${product.color.hex}; border-radius: 50%; width: 20px; height: 20px; display: inline-block; border-width: 1px; border-style: solid; border-color: grey; float: left; margin: 5px" title="${product.color.name}">
                                                                        </li>
                                                                        <li style="float: left; margin: 5px">-<span class="price">${numberWithCommas(product.price)} VNĐ</span></li>
                                                                        <li style="float: left; margin: 5px"><span>- số lượng: ${product.quantity}</span></li>
                                                                    </ul>
                                                                `
                                                            })                                                            
                                                        sessionOrders +=` </td>
                                                        <td>
                                                            ${dateCreated}
                                                        </td>
                                                        <td>
                                                            ${numberWithCommas(total)} VNĐ
                                                        </td>
                                                        <td>`
                                                            var status = order.status
                                                            if (status == 0) { 
                                                                sessionOrders += `<span class="label label-success font-weight-100">Khởi tạo</span>`
                                                            } else if (status == 1) {
                                                                sessionOrders += `<span class="label label-primary font-weight-100">Đang đợi duyệt</span>`
                                                            } else if (status == 2) {
                                                                sessionOrders += `<span class="label label-default font-weight-100">Đã duyệt</span>`
                                                            } else if (status == 3) {
                                                                sessionOrders += `<span class="label label-default font-weight-100">Bị từ chối</span>`
                                                            } else if (status == 4) {
                                                                sessionOrders += `<span class="label label-default font-weight-100">Người dùng huỷ đơn</span>`
                                                            } else if (status == 5) {
                                                                sessionOrders += `<span class="label label-default font-weight-100">Đang giao</span>`
                                                            } else {
                                                                sessionOrders += `<span class="label label-default font-weight-100">Đã giao</span>`
                                                            }
                                                        sessionOrders+= `</td>
                                                    </tr>`
                                                })    

                                            sessionOrders+= `</tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-top: 10px;"><a href="/tai-khoan-cua-toi/lich-su-mua-hang" class="order-history-link">Lịch sử đơn hàng <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </section>
                    <section id="content" class="page-content card card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tracking-order-form">
                                    <h4>Tra cứu theo mã đơn hàng</h4>
                                    <form class="form-inline" id="checking-status-order">
                                        <div class="form-group has-feedback ">
                                            <label for="email">Địa chỉ email</label>
                                            <input name="email" type="email" class="form-control" id="email" value="${data.user.email || ""}">
                                            <span class="help-block"></span>
                        
                                        </div>
                                        <div class="form-group">
                                            <label for="order-id">Mã đơn hàng</label>
                                            <input name="code" type="text" class="form-control" id="id_order" value="">
                                            <span class="help-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" style="widows: 0px;">&emsp;</label>
                                            <button class="form-control-submit btn btn-success hidden-xs-down" type="button" style="font-weight: 600; margin: 10px;" id="check">KIỂM TRA</button>
                                            <button class="form-control-submit btn btn-success hidden-sm-up" name="submit" type="button" id="check-1">KIỂM TRA</button>
                                        </div>                                                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                `

                $(statusSession).after(sessionOrders);

                $('#check, #check-1').click((e) => {
                    var email = $('#email').val();
                    var id = $('#id_order').val();

                    if (!email || email == undefined) {
                        swal({
                            title: "Có lỗi xảy ra",
                            text: "Vui lòng nhập Email cần tra cứu!",
                            icon: "error",
                            button: "Đã rõ",
                        });
                        return
                    }

                    if (!id || id == undefined) {
                        swal({
                            title: "Có lỗi xảy ra",
                            text: "Vui lòng nhập Mã đơn hàng cần tra cứu!",
                            icon: "error",
                            button: "Đã rõ",
                        });
                        return
                    }

                    

                    $.ajax({
                        url: '/api/v1/order/tracking-order',
                        data: {
                            id: id,
                            email: email
                        },
                        method: 'POST',
                        success: (data) => {
                            if (!data.order) {
                                swal({
                                    title: "Có lỗi xảy ra",
                                    text: "Đơn hàng không tìm thấy hoặc mã nhập vào không hợp lệ.",
                                    icon: "error",
                                    button: "Đã rõ",
                                });
                            } else {
                                location.href = `/tra-cuu-don-hang?id=${id}&email=${email}`
                            }
                        },
                        error: (err) => {
                            swal({
                                title: "Có lỗi xảy ra",
                                text: err.statusText,
                                icon: "error",
                                button: "Đã rõ",
                            });
                        }
                    })
                })
            } 
        });
    })("<%- data.order.alias %>")


    function confirmDelete(cb) {
		swal({
			   title: "Bạn có muốn huỷ đơn hàng này không?",
			   text: "Nhấn vào 'Đồng ý' để huỷ, lưu ý: Mã giảm giá vẫn có thể áp dụng cho đơn hàng khác sau khi huỷ đơn hàng này (với các điều kiện áp dụng tương tự, kể cả thời hạn sử dụng mã).!",
			   icon: "info",
			   buttons: {
				   cancel: true,
				   yes: {
                        text: "Đồng ý",
                        value: 'yes',
                        className: 'btn-danger'
                    }
			   },
		   })
		   .then((value) => {
			   switch (value) {     
				   case "yes":
					   return cb(true);
					   break;                               
				   default:
					   return cb(false);
					   break;
			   }
		}); 
    }
    
    function cancelSuccess() {
		swal({
			   title: "Huỷ đơn hàng thành công!",
			   text: "Đơn hàng của bạn đã được huỷ bỏ, lưu ý: Mã giảm giá vẫn có thể áp dụng cho đơn hàng khác sau khi huỷ đơn hàng này (với các điều kiện áp dụng tương tự, kể cả thời hạn sử dụng mã).!",
			   icon: "info",
			   buttons: {
				    yes: {
                        text: "Đồng ý",
                        value: 'yes'
                    }
			   }
		   })
		   .then((value) => {
			   location.reload();
		}); 
	}

    jQuery(document).ready(($) => {
        $('#valid-canceled-order').click((e) => {
            confirmDelete((isComfirm) => {
                if (isComfirm) {
                    if (!id || id == 'undefined') {
                        swal('Không thể tìm thấy đơn hàng cần xoá!');
                        return
                    }

                    $.ajax({
                        url: '/huy-don-hang',
                        method: 'PUT',
                        data: {
                            idOrder: id
                        },
                        success: (data) => {
                            if (data.order) {
                                cancelSuccess();
                            } else {
                                swal('Huỷ đơn hàng thất bại, vui lòng liên hệ với chúng tôi qua số hot line để được hỗ trợ ngay lập tức!')
                            }
                        },
                        error: (err) => {
                            swal('Huỷ đơn hàng thất bại, vui lòng liên hệ với chúng tôi qua số hot line để được hỗ trợ ngay lập tức!')
                        }
                    });
                }
            })
        });

    })

</script>

</html>