<!doctype html>
<html lang="vien">
<head>
    <title>Temporary Maintenance</title>
    <meta name="description" content="Shop powered by Alomobile">
    <meta name="keywords" content="">
    
    <%- include layouts/head %>

    <style>        
        /* Layout */
        .jumbotron {
          font-size: 21px;
          font-weight: 200;
          line-height: 2.1428571435;
          color: inherit;
          padding: 10px 0px;
        }
        /* Everything but the jumbotron gets side spacing for mobile-first views */
        .masthead, .body-content, {
          padding-left: 15px;
          padding-right: 15px;
        }
        /* Main marketing message and sign up button */
        .jumbotron {
          text-align: center;
          background-color: transparent;
        }
        .jumbotron .btn {
          font-size: 21px;
          padding: 14px 24px;
        }
        /* Colors */
        .green {color:#5cb85c;}
        .orange {color:#f0ad4e;}
        .red {color:#d9534f;}
        </style>


    
</head>

<body id="cms" class="lang-en country-us currency-eur layout-full-width page-cms tax-display-disabled cms-id-3">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
            <%- include layouts/header-top %>
            <%- include layouts/header-bottom %>
        </header>
        <div class="headerSpace unvisible" style="height: 226px;"></div>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <section id="wrapper">
            <div class="container">
                <div class="jumbotron">
                    <h1 style="font-size: 60px"><i class="fa fa-cogs green"></i>  Bảo trì</h1>
                    <p class="lead">Máy chủ hiện đang bảo trì, vui lòng thử lại sau.</p>
                    <a href="javascript:document.location.reload(true);" class="btn btn-outline-info"><span class="green">Thử lại</span></a>                    
                  </div>
            </div>
        </section>
        <%- include layouts/footer%>
    </main>    
    <script type="text/javascript" src="static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
</html>