<!doctype html>
<html lang="vi">

<head>
    <title>
        <%- data.product.category.idRootCategory.name %> >
            <%- data.title %>
    </title>
    <meta name="description" content="Printed evening dress with straight sleeves with black thin waist belt and ruffled linings.">
    <meta name="keywords" content="<%- data.product.metaKeyword %>">
    <meta name="description" content="Shop powered by Alomobile">
    <%- include layouts/head %>
        <meta property="og:type" content="product">
        <meta property="og:url" content="http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/9-54-printed-dress.html">
        <meta property="og:title" content="<%- data.product.metaTitle %>">
        <meta property="og:site_name" content="Fastbuy - Responsive Prestashop Theme">
        <meta property="og:description" content="Printed evening dress with straight sleeves with black thin waist belt and ruffled linings.">
        <meta property="og:image" content="<%-  data.product.images[0].url %>">
        <meta property="product:price:amount" content="<%- data.product.prices[0].price %>">
        <meta property="product:price:currency" content="VND">
</head>

<body id="product" class="lang-en country-us currency-eur layout-full-width page-product tax-display-disabled product-id-9 product-printed-dress product-id-category-12 product-id-manufacturer-1 product-id-supplier-1 product-available-for-order">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="3" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/danh-muc/<%- data.product.category.idRootCategory.alias %>-<%- data.product.category.idRootCategory._id %>">
                                <span itemprop="name"><%- data.product.category.idRootCategory.name %></span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/<%- data.product.alias %>-<%- data.product._id %>">
                                <span itemprop="name"><%- data.product.name %></span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <section id="main" itemscope itemtype="https://schema.org/Product">
                            <meta itemprop="url" content="<%- data.product.images[0].url %>">
                            <div class="primary_block">
                                <div class="row">
                                    <div class="col-md-5">
                                        <section class="page-content" id="content">
                                            <ul class="product-flags">
                                                <li class="discount">
                                                    <span>Reduced price</span>
                                                </li>
                                                <li class="new">
                                                    <span>New</span>
                                                </li>
                                            </ul>
                                            <div class="images-container">
                                                <div class="product-cover">
                                                    <img class="js-qv-product-cover" src="<%- data.product.images[0].url %>" alt="" title="" style="width:100%;" itemprop="image">
                                                    <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                        <i class="material-icons zoom-in">&#xE8FF;</i>
                                                    </div>
                                                </div>
                                                <div class="js-qv-mask mask pos_content">
                                                    <div class="product-images js-qv-product-images  owl-carousel">

                                                        <% data.product.images.forEach((image) => { %>
                                                            <div class="thumb-container">
                                                                <img class="thumb js-thumb " data-image-medium-src="<%- image.url %>" data-image-large-src="<%- image.url %>" src="<%- image.url %>" alt="" title="" width="100" itemprop="image">
                                                            </div> 
                                                        <% }) %>
                                                                                                              
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                            $(document).ready(function() {
                                                var owl = $("#product .images-container .product-images");
                                                owl.owlCarousel({
                                                    autoPlay: false,
                                                    smartSpeed: 1000,
                                                    autoplayHoverPause: true,
                                                    nav: true,
                                                    dots: false,
                                                    responsive: {
                                                        0: {
                                                            items: 2,
                                                        },
                                                        480: {
                                                            items: 3,
                                                        },
                                                        768: {
                                                            items: 2,
                                                            nav: false,
                                                        },
                                                        992: {
                                                            items: 3,
                                                        },
                                                        1200: {
                                                            items: 3,
                                                        }
                                                    }
                                                });
                                                var owl = $(".quickview .images-container .product-images");
                                                owl.owlCarousel({
                                                    autoPlay: false,
                                                    smartSpeed: 1000,
                                                    autoplayHoverPause: true,
                                                    nav: true,
                                                    dots: false,
                                                    responsive: {
                                                        0: {
                                                            items: 2,
                                                        },
                                                        480: {
                                                            items: 3,
                                                        },
                                                        768: {
                                                            items: 2,
                                                            nav: false,
                                                        },
                                                        992: {
                                                            items: 3,
                                                        },
                                                        1200: {
                                                            items: 3,
                                                        }
                                                    }
                                                });
                                            });
                                            </script>
                                            <div class="scroll-box-arrows">
                                                <i class="material-icons left">&#xE314;</i>
                                                <i class="material-icons right">&#xE315;</i>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="col-md-7">
                                        <h1 class="h1 namne_details" itemprop="name"><%- data.product.name %></h1>
                                        <div id="product_comments_block_extra" class="no-print" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                                            <div class="comments_note clearfix">
                                                <span>Rating&nbsp;</span>
                                                <div class="star_content clearfix">
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <div class="star star_on"></div>
                                                    <meta itemprop="worstRating" content="0" />
                                                    <meta itemprop="ratingValue" content="5" />
                                                    <meta itemprop="bestRating" content="5" />
                                                </div>
                                            </div>
                                            <!-- .comments_note -->
                                            <ul class="comments_advices">
                                                <li>
                                                    <a href="#idTab5" class="reviews">
                                                        Đọc những nhận xét (
                                                        <span itemprop="reviewCount">24</span>)
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="open-comment-form">
                                                        Viết nhận xét
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--  /Module ProductComments -->
                                        <div class="product-prices">
                                            <!-- 
                                            <div class="product-discount">
                                                <span class="regular-price">€50.99</span>
                                            </div>
                                            -->
                                            <div class="product-price h5 has-discount" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                                                <link itemprop="availability" href="https://schema.org/InStock" />
                                                <meta itemprop="priceCurrency" content="EUR">
                                                <div class="current-price">
                                                    <span class="price" itemprop="price" content="46.91"><%- data.product.prices[0].price %></span>
                                                    <!-- <span class="discount discount-percentage">Save 8%</span> -->
                                                </div>
                                            </div>
                                            <div class="tax-shipping-delivery-label">
                                            </div>
                                        </div>
                                        <div class="product-information">
                                            <div class="product-actions">
                                                <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart" method="post" id="add-to-cart-or-refresh">
                                                    <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                                    <input type="hidden" name="id_product" value="9" id="product_page_product_id">
                                                    <input type="hidden" name="id_customization" value="0" id="product_customization_id">
                                                    <div class="product-variants">
                                                        <div class="clearfix product-variants-item">
                                                            <span class="control-label">Màu sắc</span>
                                                            <ul id="group_3">
                                                                <% var prices = data.product.prices %>
                                                                    <% if (prices) { %>
                                                                        <% prices.forEach((element, index) => { %>
                                                                            <li class="float-xs-left input-container">
                                                                                <label>
                                                                                    <input class="input-color" type="radio" name="group[3]" data-price="<%- element.price %>">
                                                                                    <span class="color" style="background-color: <%- element.color.hex %>" title="<%- element.color.name %>">
                                                                                        <span class="sr-only"><%- element.color.name %></span>
                                                                                    </span>
                                                                                </label>
                                                                            </li>
                                                                            <% }); %>
                                                                                <% } %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <section class="product-discounts">
                                                    </section>
                                                    <div class="product-add-to-cart">
                                                        <span class="control-label">Số lượng</span>
                                                        <div class="product-quantity clearfix">
                                                            <div class="qty">
                                                                <input type="text" name="qty" id="quantity_wanted" value="1" class="input-group" min="1" aria-label="Quantity">
                                                            </div>
                                                            <div class="add">
                                                                <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit">
                                                                    <i class="material-icons shopping-cart">add</i> Thêm vào giỏ hàng
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span id="product-availability">
                                                            <i class="material-icons product-available">&#xE5CA;</i>
                                                            Còn hàng
                                                        </span>
                                                        <p class="product-minimal-quantity">
                                                        </p>
                                                    </div>
                                                    <div class="social-sharing">
                                                        <ul>
                                                            <li>
                                                                <a href="http://www.facebook.com/sharer.php?u=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/9-printed-dress.html" title="Share" target="_blank">
                                                                    <i class="fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://twitter.com/intent/tweet?text=Printed%20Dress%20http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/9-printed-dress.html" title="Tweet" target="_blank">
                                                                    <i class="fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="https://plus.google.com/share?url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/9-printed-dress.html" title="Google+" target="_blank">
                                                                    <i class="fa-googleplus"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="http://www.pinterest.com/pin/create/button/?media=http://demo.posthemes.com/pos_fastbuy/layout2/226/printed-dress.jpg&amp;url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/9-printed-dress.html" title="Pinterest" target="_blank">
                                                                    <i class="fa-pinterest"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <input class="product-refresh ps-hidden-by-js" name="refresh" type="submit" value="Refresh">
                                                </form>
                                            </div>
                                            <div id="block-reassurance">
                                                <ul>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_verified_user_black_36dp_1x.png" alt="Security policy (edit with Customer reassurance module)">
                                                            <span class="h6">Cam kết hàng chính hãng, bảo hành 12 tháng</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_local_shipping_black_36dp_1x.png" alt="Delivery policy (edit with Customer reassurance module)">
                                                            <span class="h6">Miễn phí giao hàng ở TP. Cần Thơ</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_swap_horiz_black_36dp_1x.png" alt="Return policy (edit with Customer reassurance module)">
                                                            <span class="h6">1 đổi 1 trong 3 tháng</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#description">Mô tả sản phẩm</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#product-details">Thông số kỹ thuật</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#idTab5">Những nhận xét</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="tab-content">
                                            <div class="tab-pane fade in active" id="description">
                                                <div class="product-description">
                                                    <div class="row" style="margin: 10px;">
                                                        <%- data.product.descriptions %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="product-details" role="tabpanel">
                                                <section class="product-features">
                                                    <div class="col-md-12">
                                                        <div class="specifications-product">
                                                            <h1>Cấu hình cơ bản</h1>
                                                            <div class="tableparameter" style="display: block;
                                                                                            overflow: visible;">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="tab-pane fade in" id="idTab5">
                                                <script type="text/javascript">
                                                var productcomments_controller_url = '../module/productcomments/default.html';
                                                var confirm_report_message = 'Are you sure that you want to report this comment?';
                                                var secure_key = '8bcabe53026f7204cfa60d25c0f10db2';
                                                var productcomments_url_rewrite = '1';
                                                var productcomment_added = 'Your comment has been added!';
                                                var productcomment_added_moderation = 'Your comment has been submitted and will be available once approved by a moderator.';
                                                var productcomment_title = 'New comment';
                                                var productcomment_ok = 'OK';
                                                var moderation_active = 1;
                                                </script>
                                                <div id="product_comments_block_tab">
                                                    <div class="comment clearfix">
                                                        <div class="comment_author">
                                                            <div class="star_content clearfix">
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                            </div>
                                                            <div class="comment_author_infos">
                                                                <strong>Lê Anh Tuấn</strong>
                                                                <em>23:10 29/3/2018</em>
                                                            </div>
                                                        </div>
                                                        <div class="comment_details">
                                                            <h4 class="title_block">Sản phẩm tuyệt vời!</h4>
                                                            <p>Rất tuyệt vời</p>
                                                            <ul>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="comment clearfix">
                                                        <div class="comment_author">
                                                            <div class="star_content clearfix">
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                                <div class="star star_on"></div>
                                                            </div>
                                                            <div class="comment_author_infos">
                                                                <strong>Lê Anh Tuấn
                                                                    <label style="color: #2ba832;">
                                                                        <i class="material-icons" style="font-size: 20px;">check</i>Đã mua hàng tại Alomobile.tech
                                                                    </label>
                                                                </strong>
                                                                <em>23:10 29/3/2018</em>
                                                            </div>
                                                        </div>
                                                        <div class="comment_details">
                                                            <h4 class="title_block">Sản phẩm tuyệt vời!</h4>
                                                            <p>Rất tuyệt vời</p>
                                                            <ul>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <p class="align_center">
                                                        <a id="new_comment_tab_btn" class="open-comment-form btn btn-secondary">Write your review !</a>
                                                    </p>
                                                </div>
                                                <div class="container">
                                                    <!-- Trigger the modal with a button -->
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="myModal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <!-- Modal content-->
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <div id="new_comment_form">
                                                                        <form id="id_new_comment_form" action="#">
                                                                            <h2 class="title">Write your review</h2>
                                                                            <div class="product clearfix col-xs-12 col-sm-6">
                                                                                <img src="http://demo.posthemes.com/pos_fastbuy/layout2/226-medium_default/printed-dress.jpg" alt="Printed Dress" />
                                                                                <div class="product_desc">
                                                                                    <p class="product_name">
                                                                                        <strong>Printed Dress</strong>
                                                                                    </p>
                                                                                    <p>Printed evening dress with straight sleeves with black thin waist belt and ruffled linings.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="new_comment_form_content col-xs-12 col-sm-6">
                                                                                <h2>Write your review</h2>
                                                                                <div id="new_comment_form_error" class="error" style="display:none;padding:15px 25px">
                                                                                    <ul></ul>
                                                                                </div>
                                                                                <ul id="criterions_list">
                                                                                    <li>
                                                                                        <label>Quality</label>
                                                                                        <div class="star_content">
                                                                                            <input class="star" type="radio" name="criterion[1]" value="1" />
                                                                                            <input class="star" type="radio" name="criterion[1]" value="2" />
                                                                                            <input class="star" type="radio" name="criterion[1]" value="3" />
                                                                                            <input class="star" type="radio" name="criterion[1]" value="4" />
                                                                                            <input class="star" type="radio" name="criterion[1]" value="5" checked="checked" />
                                                                                        </div>
                                                                                        <div class="clearfix"></div>
                                                                                    </li>
                                                                                </ul>
                                                                                <label for="comment_title">Title for your review
                                                                                    <sup class="required">*</sup>
                                                                                </label>
                                                                                <input id="comment_title" name="title" type="text" value="" />
                                                                                <label for="content">Your review
                                                                                    <sup class="required">*</sup>
                                                                                </label>
                                                                                <textarea id="content" name="content"></textarea>
                                                                                <label>Your name
                                                                                    <sup class="required">*</sup>
                                                                                </label>
                                                                                <input id="commentCustomerName" name="customer_name" type="text" value="" />
                                                                                <div id="new_comment_form_footer">
                                                                                    <input id="id_product_comment_send" name="id_product" type="hidden" value='9' />
                                                                                    <p class="fl required">
                                                                                        <sup>*</sup> Required fields</p>
                                                                                    <p class="fr">
                                                                                        <button id="submitNewMessage" class="btn btn-secondary" name="submitMessage" type="submit">Send</button>
                                                                                        &nbsp; or&nbsp;
                                                                                        <button type="button" class="closefb btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                                                                            <span aria-hidden="true">Cancel</span>
                                                                                        </button>
                                                                                    </p>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                        <!-- /end new_comment_form_content -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal fade" id="result_comment" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-body">
                                                                    <h2>Your comment is submitted</h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End fancybox -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="categoryproducts">
                                <div class="pos_title">
                                    <h2>
                                        12 sản phẩm liên quan ở cùng danh mục
                                    </h2>
                                </div>
                                <div class="block-content">
                                    <div class="row pos_content">
                                        <div class="product_categoryslide owl-carousel">
                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="modal fade js-product-images-modal" id="product-modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <figure>
                                                <img class="js-modal-product-cover product-cover-modal" width="600" src="http://demo.posthemes.com/pos_fastbuy/layout2/226-large_default/printed-dress.jpg" alt="" title="" itemprop="image">
                                                <figcaption class="image-caption">
                                                    <div id="product-description-short" itemprop="description">
                                                        <p>Printed evening dress with straight sleeves with black thin waist belt and ruffled linings.</p>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                            <aside id="thumbnails" class="thumbnails js-thumbnails text-sm-center">
                                                <div class="js-modal-mask mask  nomargin ">
                                                    <ul class="product-images js-modal-product-images">
                                                        <li class="thumb-container">
                                                            <img data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/226-large_default/printed-dress.jpg" class="thumb js-modal-thumb" src="http://demo.posthemes.com/pos_fastbuy/layout2/226-home_default_4/printed-dress.jpg" alt="" title="" width="267" itemprop="image">
                                                        </li>
                                                        <li class="thumb-container">
                                                            <img data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/227-large_default/printed-dress.jpg" class="thumb js-modal-thumb" src="http://demo.posthemes.com/pos_fastbuy/layout2/227-home_default_4/printed-dress.jpg" alt="" title="" width="267" itemprop="image">
                                                        </li>
                                                        <li class="thumb-container">
                                                            <img data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/228-large_default/printed-dress.jpg" class="thumb js-modal-thumb" src="http://demo.posthemes.com/pos_fastbuy/layout2/228-home_default_4/printed-dress.jpg" alt="" title="" width="267" itemprop="image">
                                                        </li>
                                                        <li class="thumb-container">
                                                            <img data-image-large-src="http://demo.posthemes.com/pos_fastbuy/layout2/229-large_default/printed-dress.jpg" class="thumb js-modal-thumb" src="http://demo.posthemes.com/pos_fastbuy/layout2/229-home_default_4/printed-dress.jpg" alt="" title="" width="267" itemprop="image">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                            <script>
                            // productcomments
                            $(document).on('click', '#product_comments_block_extra ul.comments_advices a', function(e) {
                                $('*[class^="tab-pane"]').removeClass('active');
                                $('*[class^="tab-pane"]').removeClass('in');
                                $('div#idTab5').addClass('active');
                                $('div#idTab5').addClass('in');

                                $('ul.nav-tabs a[href^="#"]').removeClass('active');
                                $('a[href="#idTab5"]').addClass('active');
                            });
                            (function() {
                                $(window).on("load", function() {

                                    /* Page Scroll to id fn call */
                                    $("#product_comments_block_extra ul.comments_advices a.reviews ").mPageScroll2id({
                                        highlightSelector: "#product_comments_block_extra ul.comments_advices a.reviews ",
                                        offset: 100,
                                    });
                                });
                            })(jQuery);
                            </script>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top">
        <a href="javascript: void(0)" class="back-top-button"></a>
    </div>
    <div id="quickview-modal" class="modal fade quickview in" tabindex="-1" role="dialog" style="display: none;"></div>
</body>
<script type="text/javascript">

        var product = <%- JSON.stringify(data.product); %>
		
		function showSpecifications(product) {

			var specElement = `<ul class="specifications" style="display: block; position: relative; overflow: hidden; background: #fff; padding-top: 10px;">`;

			var specifications = product.specifications;

			switch (product.type.alias) {

				case 'may-tinh-bang':
				case 'dien-thoai':
					var screen = specifications.screen,
						os = specifications.os,
						backCamera = specifications.backCamera,
						frontCamera = specifications.frontCamera,
						cpu = specifications.processor.cpu,
						ram = specifications.storage.ram,
						storage = specifications.storage,
						sim = specifications.connections.sim,
						battery = specifications.battery;

					if (screen) {
						var tech = screen.displayTechnology,
							resolution = screen.resolution,
							width = screen.width,
							touch = screen.touch;

						var content = "";

						if (tech) {
							content += tech + ", ";
						}

						if (resolution) {
							content += resolution + ", ";
						}

						if (width) {
							content += width + ", ";
						}

						if (touch) {
							content += touch + ".";
						}

						specElement = `<ul class="specifications" style="display: block; position: relative; overflow: hidden; background: #fff; padding-top: 10px;">
									<li class="screen" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
											Màn hình:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${content}
										</div>
									</li>														
								</ul>`

					} else {
						specElement = `
									<li class="screen" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
											Màn hình:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (os) {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
											Hệ điều hành:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${os}
										</div>
									</li> `
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Hệ điều hành:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (backCamera) {
						if (backCamera.resolution) {
							specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera sau:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${backCamera.resolution}
										</div>
									</li> `
						} else {
							specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera sau:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
						}
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera sau:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (frontCamera) {
						if (frontCamera.resolution) {
							specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera trước:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${frontCamera.resolution}
										</div>
									</li> `
						} else {
							specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera trước:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
						}
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Camera trước:
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (cpu) {
						var content = ``;

						if (cpu.chipset) {
							content = cpu.chipset + ", ";
						} 

						if (cpu.speed) {
							content+= cpu.speed + ".";
						}

						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												CPU
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${content}
										</div>
									</li> `


					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												CPU
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (ram) {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												RAM
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${ram || ""}
										</div>
									</li> `
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												RAM
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (storage) {
						var content = ``;

						if (storage.internal) {
							content = "Bộ nhớ trong: " + storage.internal + " ,";
						} 

						if (storage.external) {
							content = "Bộ nhớ ngoài: " + storage.external + "."
						}

						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Bộ nhớ trong
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${content}
										</div>
									</li> `

					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Bộ nhớ trong
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (sim) {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												SIM
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${sim || ""}
										</div>
									</li> `
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												SIM
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}

					if (battery) {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Pin
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											${battery.capacity || ""}
										</div>
									</li> `
					} else {
						specElement += `
									<li class="os" style="display: table; background: #fff; width: 100%; border-top: 1px solid #eee; padding: 5px 0;">
										<span style="display: table-cell; width: 40%;vertical-align: top;padding: 5px 0;font-size: 14px;color: #666;">
												Pin
										</span>
										<div style="display: table-cell;width: auto;vertical-align: top;padding: 6px 5px;font-size: 14px;color: #333;">
											
										</div>
									</li> `
					}					
					
					break;
				
				case 'laptop': 
				break;
			
				default:
				specElement = `<p>Không có</p>`
					break;
			}

			specElement += `</ul>`
			specElement += `<button type="button" class="btn btn-primary btn-rounded  btn-outline" style="text-align: center; width: 100%; margin-top: 5px;" id="view-detail-spec">Xem cấu hình chi tiết</button>`

			$('.tableparameter').append(specElement);
		}

		if (!product.specifications) {
			var p = `<p>Không có</p>`
			$('.tableparameter').append(p);
		} else {
			showSpecifications(product);
        }
        
        $('.price').each((index, price) => {
            if ($(price).html().match(/^[0-9]{1,}$/g)) {
                $(price).html(numberWithCommas($(price).html() + " VNĐ"));
            }
        });

        $.get('/api/v1/product/get-products-by-category/', {
            idRootCategory: product.category.idRootCategory._id,
            idCategory: product.category.idCategory
        }, (data) => {
            var products = data.products;
            if (products && products.length > 0) {
                var items = ``;
                products.forEach(product => {
                    items+= `
                        <article class="js-product-miniature" data-id-product="${product._id}" itemscope itemtype="http://schema.org/Product">
                            <div class="img_block">
                                <a href="/${product.alias}-${product._id}" class="thumbnail product-thumbnail">
                                    <img class="owl-lazy" src="${product.images[0].url}" alt="${product.images[0].alt}"
                                        data-full-size-image-url="${product.images[0].url} ">
                                    <img class="img-responsive second-image animation1" src="${product.images[1].url}" alt="" itemprop="image" />
                                </a>
                                <ul class="product-flag">
                                    <li class="new">New</li>
                                </ul>
                            </div>
                            <div class="product_desc">
                                <div class="desc_info">
                                    <h4>
                                        <a href="/${product.alias}-${product._id}"
                                            title="${product.name}" itemprop="name" class="product_name">${product.name}
                                        </a>
                                    </h4>
                                    <div class="hook-reviews">
                                        <div itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating" class="comments_note">
                                            <div class="star_content clearfix">
                                                <div class="star star_on"></div>
                                                <div class="star star_on"></div>
                                                <div class="star star_on"></div>
                                                <div class="star star_on"></div>
                                                <div class="star star_on"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-price-and-shipping">
                                        <span itemprop="price" class="price ">${numberWithCommas(product.prices[0].price + " VNĐ")}</span>
                                        <span class="sr-only">Price</span>
                                    </div>
                                    <div class="variant-links">
                                        <a href="11-69-printed-summer-dress.html#/1-size-s/8-color-white" class="color" title="White" style="background-color: #ffffff">
                                            <span class="sr-only">White</span>
                                        </a>
                                        <a href="11-67-printed-summer-dress.html#/2-size-m/16-color-yellow" class="color" title="Yellow" style="background-color: #F1C40F">
                                            <span class="sr-only">Yellow</span>
                                        </a>
                                        <span class="js-count count"></span>
                                    </div>
                                </div>
                                <ul class="add-to-links">
                                    <li class="cart">
                                        <div class="product-add-to-cart">
                                            <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart" method="post" class="add-to-cart-or-refresh">
                                                <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                                <input type="hidden" name="id_product" value="11" class="product_page_product_id">
                                                <input type="hidden" name="qty" value="1">
                                                <button class="button ajax_add_to_cart_button add-to-cart btn-default" data-button-action="add-to-cart" type="submit">
                                                    Add to cart
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0)" class="quick-view quick-view-product" data-link-action="quickview" title="Quick view">Quick view</a>
                                    </li>
                                    <li>
                                        <a href="/${product.alias}-${product._id}" class="links-details" title="Details">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    `
                });

                $('.product_categoryslide').append(items);

                var owl = $(".product_categoryslide");
                    owl.owlCarousel({ 
                        autoPlay: !1, 
                        smartSpeed: 1000, 
                        autoplayHoverPause: !0, 
                        nav: !0, 
                        lazyLoad: true,
                        dots: !1, 
                        responsive: { 
                            0: { items: 1, }, 
                            480: { items: 2, }, 
                            768: { items: 3, nav: !1, }, 
                            992: { items: 4, }, 
                            1200: { items: 5, } 
                        } 
                    });
            }
        })
        

        jQuery(document).ready(($) => {

            
        })

</script>
<script type="text/javascript">

    function getPreviewProduct(id, cb) {
        $.get('/api/v1/product/get-preview', {
            id: id
        }, (data) => {
            return cb(data);
        });
    }

    function initPreviewProductsSlider() {
        var owl = $("#main > section > div.block-content > div > div");
        owl.owlCarousel({
            lazyLoad: true,
            autoPlay: false,
            smartSpeed: 1000,
            autoplayHoverPause: true,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 2,
                },
                480: {
                    items: 3,
                },
                768: {
                    items: 2,
                    nav: false,
                },
                992: {
                    items: 3,
                },
                1200: {
                    items: 3,
                }
            }
        });
    }

    $(document).ready(($) => {
        $('.owl-carousel').delegate('.quick-view-product', 'click', (e) => {
            var id = $(e.currentTarget.parentElement.parentElement.parentElement.parentElement).attr('data-id-product');
            if (id.match(/^[a-zA-z0-9]{24}$/g)) {
                getPreviewProduct(id, (result) => {

                    var product = result.product;
                    if (!product) { return }
                    
                    var quickViewModal = `
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5">
                                            <div class="images-container">
                                                <div class="product-cover">
                                                    <img class="js-qv-product-cover" src="${product.images[0].url}"
                                                        alt="${product.images[0].alt}" title="" style="width:100%;" itemprop="image">
                                                    <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                        <i class="material-icons zoom-in"></i>
                                                    </div>
                                                </div>
                                                <div class="js-qv-mask mask pos_content">
                                                    <div class="product-images js-qv-product-images owl-carousel owl-loaded owl-drag">
                                                        
                                        `
                                        product.images.forEach((image, index) => {
                                            if (index > 0) {
                                                quickViewModal+= `
                                                    <div class="thumb-container">
                                                        <img class="owl-lazy thumb js-thumb " data-image-medium-src="${image.url}"
                                                            data-image-large-src="${image.url}"
                                                            src="${image.url}"
                                                            alt="" title="" width="100" itemprop="image">
                                                    </div>
                                                `
                                            }
                                        });          

                                        quickViewModal+= `
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="arrows js-arrows" style="display: none;">
                                                <i class="material-icons arrow-up js-arrow-up"></i>
                                                <i class="material-icons arrow-down js-arrow-down"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7">
                                            <h1 class="h1 namne_details">${product.name}</h1>
                                            <div class="product-prices">
                                                <div class="product-price h5 " itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                                    <link itemprop="availability" href="https://schema.org/InStock">
                                                    <meta itemprop="priceCurrency" content="USD">
                                                    <div class="current-price">
                                                        <span itemprop="price" content="30.5">${numberWithCommas(product.prices[0].price) + " VNĐ"}</span>
                                                    </div>
                                                </div>
                                                <div class="tax-shipping-delivery-label">
                                                </div>
                                            </div>
                                            <div class="product-actions">
                                                <form action="http://demo.posthemes.com/pos_fastbuy/layout2/en/cart" method="post" id="add-to-cart-or-refresh">
                                                    <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                                    <input type="hidden" name="id_product" value="5" id="product_page_product_id">
                                                    <input type="hidden" name="id_customization" value="0" id="product_customization_id">
                                                    <div class="product-variants">
                                                        <div class="clearfix product-variants-item">
                                                            <span class="control-label">Màu sắc</span>
                                                            <ul id="group_3">`

                                        if (product.prices && product.prices.length > 0) {                       
                                            product.prices.forEach(price => {
                                                quickViewModal+= `
                                                    <li class="float-xs-left input-container">
                                                        <label>
                                                            <input class="input-color" data-price="${price.price}" type="radio" name="group[3]" value="11">
                                                            <span class="color" style="background-color: ${price.color.hex}">
                                                                <span class="sr-only">${price.color.name}</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                `
                                            });  
                                        }                   

                                        quickViewModal += `
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="product-add-to-cart">
                                                        <span class="control-label">Quantity</span>
                                                        <div class="product-quantity clearfix">
                                                            <div class="qty">
                                                                <div class="input-group bootstrap-touchspin">
                                                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                                                    <input type="text" name="qty" id="quantity_wanted" value="1" class="input-group form-control"
                                                                        min="1" aria-label="Quantity" style="display: block;">
                                                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                                                    <span class="input-group-btn-vertical">
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                            <i class="material-icons touchspin-up"></i>
                                                                        </button>
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down"
                                                                            type="button">
                                                                            <i class="material-icons touchspin-down"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="add">
                                                                <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit">
                                                                    <i class="material-icons shopping-cart">add</i>
                                                                    Add to cart
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <span id="product-availability">
                                                            <i class="material-icons product-available"></i>
                                                            In stock
                                                        </span>
                                                        <p class="product-minimal-quantity">
                                                        </p>
                                                    </div>
                                                    <input class="product-refresh" data-url-update="false" name="refresh" type="submit" value="Refresh" hidden="">
                                                </form>
                                            </div>
                                            <div id="block-reassurance">
                                                <ul>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_verified_user_black_36dp_1x.png" alt="Security policy (edit with Customer reassurance module)">
                                                            <span class="h6" style="font-weight: 0;">Cam kết hàng chính hãng, bảo hành 12 tháng</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_local_shipping_black_36dp_1x.png" alt="Delivery policy (edit with Customer reassurance module)">
                                                            <span class="h6" style="font-weight: 0;">Miễn phí giao hàng ở TP. Cần Thơ</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="block-reassurance-item">
                                                            <img src="http://demo.posthemes.com/pos_fastbuy/modules/blockreassurance/img/ic_swap_horiz_black_36dp_1x.png" alt="Return policy (edit with Customer reassurance module)">
                                                            <span class="h6" style="font-weight: 0;">1 đổi 1 trong 3 tháng</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="social-sharing">
                                        <span>Share</span>
                                        <ul>
                                            <li>
                                                <a href="http://www.facebook.com/sharer.php?u=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                                    title="Share" target="_blank">
                                                    <i class="fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/intent/tweet?text=Printed Summer Dress http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                                    title="Tweet" target="_blank">
                                                    <i class="fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://plus.google.com/share?url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                                    title="Google+" target="_blank">
                                                    <i class="fa-googleplus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.pinterest.com/pin/create/button/?media=http://demo.posthemes.com/pos_fastbuy/layout2/242/printed-summer-dress.jpg&amp;url=http://demo.posthemes.com/pos_fastbuy/layout2/en/electronics/5-printed-summer-dress.html"
                                                    title="Pinterest" target="_blank">
                                                    <i class="fa-pinterest"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>                                           
                    `
                    $('#quickview-modal').find('.modal-dialog').remove();

                    $('#quickview-modal').append(quickViewModal).attr('data-id-product', product._id);
                    initPreviewProductsSlider();                    
                });
                $("#quickview-modal").modal('show');
            }            
        });

        $('.input-color').click((e) => {
            $('#main > div.primary_block > div > div.col-md-7 > div.product-prices > div.product-price.h5.has-discount > div > span').text(numberWithCommas($(e.currentTarget).attr("data-price") + " VNĐ"));
        });

        $('#quickview-modal').delegate('.input-color', 'click', (e) => {
            $('#quickview-modal > div > div > div.modal-body > div > div.col-md-7.col-sm-7 > div.product-prices > div.product-price.h5 > div > span').text(numberWithCommas($(e.currentTarget).attr("data-price") + " VNĐ"))
        })
    })
</script>
</html>