<!doctype html>
<html lang="vi">

<head>
    <title></title>
    <meta name="description" content="Alomobile - Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    <%- include layouts/head %>
</head>

<body id="category" class="lang-en country-us currency-eur layout-left-column page-category tax-display-disabled category-id-20 category-computer-laptop category-id-parent-2 category-depth-level-2">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="row">
                    <div id="left-column" class="col-xs-12 col-sm-4 col-md-3">
                        <div class="block-categories hidden-sm-down">
                            <ul class="category-top-menu">
                                <li><a class="text-uppercase h6" href=""></a></li>
                            </ul>
                        </div>
                        <div id="search_filters_wrapper" class="hidden-sm-down">
                            <div id="search_filter_controls" class="hidden-md-up">
                                <span id="_mobile_search_filters_clear_all"></span>
                                <button class="btn btn-secondary ok">
                                    <i class="material-icons">&#xE876;</i> OK
                                </button>
                            </div>
                            <div id="search_filters">
                                <h4 class="text-uppercase h6 hidden-sm-down">Lọc sản phẩm</h4>
                                <div id="_desktop_search_filters_clear_all" class="hidden-sm-down clear-all-wrapper">
                                    <button data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop" class="btn btn-tertiary js-search-filters-clear-all">
                                        <i class="material-icons">&#xE14C;</i> Xoá tất cả
                                    </button>
                                </div>
                                <section class="facet clearfix">
                                    <h1 class="h6 facet-title hidden-sm-down">Giá cả</h1>
                                    <div class="title hidden-md-up" data-target="#facet_96104" data-toggle="collapse">
                                        <h1 class="h6 facet-title">Giá cả</h1>
                                        <span class="float-xs-right">
                                            <span class="navbar-toggler collapse-icons">
                                                <i class="material-icons add">&#xE313;</i>
                                                <i class="material-icons remove">&#xE316;</i>
                                            </span>
                                        </span>
                                    </div>
                                    <ul id="filter_price" class="collapse">
                                        <li>
                                            <label class="facet-label" for="filter_lt_1m">
                                                <span class="custom-radio">
                                                    <input
                                                    id="filter_lt_1m"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span class="ps-shown-by-js" ></span>
                                                </span>
                                                  Dưới 1 triệu<span class="magnitude">(2)</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_1">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_1"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-20-21"
                                                    type="radio"
                                                    name="filter Price"
                                                                                >
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop6891.html?q=Price-%E2%82%AC-20-21" class="_gray-darker search-link " rel="nofollow">
                                                        Từ 1 - 3 triệu
                                                      <span class="magnitude">(1)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_2">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_2"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-22-24"
                                                    type="radio"
                                                    name="filter Price"
                                                                                >
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop51aa.html?q=Price-%E2%82%AC-22-24" class="_gray-darker search-link " rel="nofollow">
                                                            Từ 3 - 7 triệu
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_3">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_3"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-25-28"
                                                    type="radio"
                                                    name="filter Price"
                                                                                >
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop84f4.html?q=Price-%E2%82%AC-25-28" class="_gray-darker search-link " rel="nofollow">
                                                        Từ 7 - 15 triệu
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_4">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_4"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-30-32"
                                                    type="radio"
                                                    name="filter Price"
                                                                                >
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptopaf36.html?q=Price-%E2%82%AC-30-32" class="_gray-darker search-link " rel="nofollow">
                                                        Trên 15 triệu
                                                      <span class="magnitude">(4)</span>
                                                  </a>
                                            </label>
                                        </li>
                                    </ul>
                                </section>
                                
                                <section class="facet clearfix">
                                    <h1 class="h6 facet-title hidden-sm-down">Bộ nhớ trong</h1>
                                    <div class="title hidden-md-up" data-target="#facet_96104" data-toggle="collapse">
                                        <h1 class="h6 facet-title">Bộ nhớ trong</h1>
                                        <span class="float-xs-right">
                                            <span class="navbar-toggler collapse-icons">
                                                <i class="material-icons add">&#xE313;</i>
                                                <i class="material-icons remove">&#xE316;</i>
                                            </span>
                                        </span>
                                    </div>
                                    <ul id="facet_96104" class="collapse">
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_0">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_0"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-15-17"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop93ef.html?q=Price-%E2%82%AC-15-17" class="_gray-darker search-link " rel="nofollow">
                                                        16 GB
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_1">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_1"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-20-21"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop6891.html?q=Price-%E2%82%AC-20-21" class="_gray-darker search-link " rel="nofollow">
                                                        32 GB
                                                      <span class="magnitude">(1)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_2">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_2"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-22-24"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop51aa.html?q=Price-%E2%82%AC-22-24" class="_gray-darker search-link " rel="nofollow">
                                                            64 GB
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_3">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_3"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-25-28"
                                                    type="radio"
                                                    name="filter Price"
                                                                                >
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop84f4.html?q=Price-%E2%82%AC-25-28" class="_gray-darker search-link " rel="nofollow">
                                                        128 GB
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_4">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_4"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-30-32"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptopaf36.html?q=Price-%E2%82%AC-30-32" class="_gray-darker search-link " rel="nofollow">
                                                        256 GB
                                                      <span class="magnitude">(4)</span>
                                                  </a>
                                            </label>
                                        </li>
                                    </ul>
                                </section>

                                <section class="facet clearfix">
                                    <h1 class="h6 facet-title hidden-sm-down">RAM</h1>
                                    <div class="title hidden-md-up" data-target="#facet_96104" data-toggle="collapse">
                                        <h1 class="h6 facet-title">RAM</h1>
                                        <span class="float-xs-right">
                                            <span class="navbar-toggler collapse-icons">
                                                <i class="material-icons add">&#xE313;</i>
                                                <i class="material-icons remove">&#xE316;</i>
                                            </span>
                                        </span>
                                    </div>
                                    <ul id="facet_96104" class="collapse">
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_0">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_0"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-15-17"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop93ef.html?q=Price-%E2%82%AC-15-17" class="_gray-darker search-link " rel="nofollow">
                                                        Dưới 2 GB
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_1">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_1"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-20-21"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop6891.html?q=Price-%E2%82%AC-20-21" class="_gray-darker search-link " rel="nofollow">
                                                        3 GB
                                                      <span class="magnitude">(1)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_2">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_2"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-22-24"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptop51aa.html?q=Price-%E2%82%AC-22-24" class="_gray-darker search-link " rel="nofollow">
                                                            4 GB
                                                      <span class="magnitude">(2)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_4">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_4"
                                                    data-search-url="http://demo.posthemes.com/pos_fastbuy/layout2/en/20-computer-laptop?q=Price-%E2%82%AC-30-32"
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptopaf36.html?q=Price-%E2%82%AC-30-32" class="_gray-darker search-link " rel="nofollow">
                                                        6 GB
                                                      <span class="magnitude">(4)</span>
                                                  </a>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="facet-label" for="facet_input_96104_4">
                                                <span class="custom-radio">
                                                    <input
                                                    id="facet_input_96104_4"
                                                    
                                                    type="radio"
                                                    name="filter Price">
                                                    <span  class="ps-shown-by-js" ></span>
                                                </span>
                                                <a href="20-computer-laptopaf36.html?q=Price-%E2%82%AC-30-32" class="_gray-darker search-link " rel="nofollow">
                                                        Trên 6 GB
                                                      <span class="magnitude">(4)</span>
                                                  </a>
                                            </label>
                                        </li>
                                    </ul>
                                </section>
                                
                            </div>
                        </div>
                        <div class="advertising">
                            <a href="http://www.prestashop.com/" title="PrestaShop"><img src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/ps_advertising/img/advertising-s2.jpg" alt="PrestaShop" title="PrestaShop"/></a>
                        </div>
                    </div>
                    <div id="content-wrapper" class="left-column col-xs-12 col-sm-8 col-md-9">
                        <section id="main">
                            <section id="products-list">
                                <div id="">
                                    <div id="js-product-list-top" class="products-selection">
                                        <div class="row">
                                            <div class="col-md-6 hidden-sm-down">
                                                <ul class="display hidden-xs">
                                                    <li id="grid"> <i class="material-icons show_grid">&#xE8F0;</i></li>
                                                    <li id="list"> <i class="material-icons show_list">&#xE8EF;</i></li>
                                                </ul>
                                                <p>Có <%- data.products.length %> sản phẩm ở danh mục này</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row sort-by-row">
                                                    <span class="col-sm-3 col-md-3 hidden-sm-down sort-by">Sắp xếp theo:</span>
                                                    <div class="col-sm-5 col-xs-5 col-md-9 products-sort-order dropdown">
                                                        <button class="btn-unstyle select-title" rel="nofollow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Sản phẩm mới <i class="material-icons float-xs-right">&#xE5C5;</i>
                                                        </button>
                                                        <div class="dropdown-menu" id="filter_product_options">
                                                            <a rel="nofollow" href="javascript: void(0);" class="select-list " data-filter-by="new">
                                                                Sản phẩm mới
                                                            </a>
                                                            <a rel="nofollow" href="javascript: void(0);" class="select-list " data-filter-by="name_des">
                                                                Theo tên, A - Z
                                                            </a>
                                                            <a rel="nofollow" href="javascript: void(0);" class="select-list " data-filter-by="name_inc">
                                                                Theo tên, Z to A
                                                            </a>
                                                            <a rel="nofollow" href="javascript: void(0);" class="select-list " data-filter-by="price_des">
                                                                Giá cả, từ thấp đến cao
                                                            </a>
                                                            <a rel="nofollow" href="javascript: void(0);" class="select-list " data-filter-by="price_inc">
                                                                Giá cả, từ cao đến thấp
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 col-xs-4 hidden-md-up filter-button">
                                                        <button id="search_filter_toggler" class="btn btn-secondary">
                                                            Filter
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="" class="hidden-sm-down">
                                    <section id="js-active-search-filters" class="hide">
                                        <h1 class="h6 hidden-xs-up">Active filters</h1>
                                    </section>
                                </div>
                                <div id="">
                                    <div id="js-product-list">
                                        <div class="products row product_content grid">

                                            <% if (data.products && data.products.length > 0) { %>
                                                    <% data.products.forEach(product => { %>

                                                        <% var details = product.details.find(element => { %>
                                                            <% return element.quantity > 0 %>
                                                        <% }); %>
                                                        
                                                        <div class="item-product col-xs-12 col-sm-6 col-md-6 col-lg-4" data-id-product="<%- product._id %>" data-created-at="<%- product.created_at %>">
                                                                <article class="js-product-miniature" itemscope itemtype="http://schema.org/Product">
                                                                    <div class="img_block">
                                                                        <a href="/<%- product.alias %>-<%- product._id %>" class="thumbnail product-thumbnail">
                                                                            <img
                                                                                src = "<%- product.images[0].url %>"
                                                                                alt = "<%- product.images[0].alt %>"
                                                                                data-full-size-image-url = "<%- product.images[0].url %>"
                                                                            >
                                                                            <img class="img-responsive second-image animation1" src="<%- product.images[1].url %>" alt = "<%- product.images[1].alt %>" itemprop="image">
                                                                            </a>
                                                                        <!-- <ul class="product-flag">
                                                                            <li class="discount-percentage">-8%</li>
                                                                            <li class="discount">Reduced price</li>
                                                                            <li class="new">New</li>
                                                                        </ul> -->
                                                                    </div>
                                                                    <div class="product_desc">
                                                                        <div class="desc_info">
                                                                            <h4><a href="/<%- product.alias %>-<%- product._id %>" title="Faded Short Sleeves T-shirt" itemprop="name" class="product_name"><%- product.name %></a></h4>
                                                                            <div class="hook-reviews">
                                                                                <div itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating" class="comments_note">
                                                                                    <div class="star_content clearfix">
                                                                                        <div class="star star_on"></div>
                                                                                        <div class="star star_on"></div>
                                                                                        <div class="star star_on"></div>
                                                                                        <div class="star star_on"></div>
                                                                                        <div class="star star_on"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-price-and-shipping">

                                                                                <% if (details) { %>
                                                                                    <span itemprop="price" class="price price_sale "><%- details.price %></span>
                                                                                <% } else { %>
                                                                                    <span itemprop="price" class="price price_sale "><%- product.details[0].price %></span>
                                                                                <% } %>
                                                                                
                                                                                <span class="sr-only">Regular price</span>
                                                                                
                                                                                <!-- <span class="regular-price"><%- product.details[0].price %></span>
                                                                                 <span class="discount-percentage">-8%</span> 
                                                                                <span class="sr-only">Price</span> -->
                                                                            </div>
                                                                            <div class="product-desc" itemprop="description">
                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                        <ul class="add-to-links">
                                                                            <li class="cart">
                                                                                <div class="product-add-to-cart">
                                                                                    <form class="add-to-cart-or-refresh">
                                                                                        <input type="hidden" name="id_product" value="<%- product._id %>" class="product_id">
                                                                                        <input type="hidden" name="name" class="product_name" value="<%- product.name %>">
                                                                                        <input type="hidden" name="img" class="product_img" value="<%- product.images[0].url %>"> 

                                                                                        <% if (details) { %>
                                                                                            <input type="hidden" name="color" class="product_color" value="<%- details.color.hex %>">
                                                                                            <input type="hidden" name="price" class="product_price" value="<%- details.price %>">
                                                                                            <button class="button ajax_add_to_cart_button add-to-cart btn-default" data-button-action="add-to-cart" type="submit">
                                                                                                    Thêm vào giỏ hàng
                                                                                                </button>
                                                                                        <% } else { %>
                                                                                            <button class="button ajax_add_to_cart_button add-to-cart btn-default disabled" data-button-action="add-to-cart" type="submit">
                                                                                                    Thêm vào giỏ hàng
                                                                                                </button>
                                                                                        <% } %>

                                                                                        
                                                                                    </form>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript: void(0);" class="quick-view quick-view-product"  title="Quick view">Quick view</a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="/<%- product.alias %>-<%- product._id %>" class="links-details" title="Details">Details</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </article>
                                                        </div>

                                                   <% }) %>
                                            <% } else { %>

                                            <% } %>

                                        </div>
                                        <nav class="pagination">
                                            <div class="col-md-4">
                                                <p></p>
                                                <!-- Showing 1-12 of 13 item(s) -->
                                            </div>
                                            <div class="col-md-6 offset-md-2 pr-0">
                                                <ul class="page-list clearfix text-sm-center">
                                                    <li>
                                                        <a rel="prev" href="javascript: void(0);" class="previous disabled ">
                                                            <i class="material-icons">&#xE314;</i>Trước
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a rel="next" href="javascript: void(0);" class="next ">
                                                            Sau<i class="material-icons">&#xE315;</i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <div id="js-product-list-bottom">
                                    <div id="js-product-list-bottom"></div>
                                </div>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div> 
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div id="quickview-modal" class="modal fade quickview in" tabindex="-1" role="dialog" style="display: none;"></div>   
    <div id="blockcart-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; padding-right: 15px;"></div>
</body>
<script type="text/javascript">   

    var category = "<%- data.idRootCategory %>";
   
    (function(idCategory, idRootCategory) {
        var breadcrumb = $('div.breadcrumb_container > div.container');
        $.get(`/api/v1/category/${idRootCategory}`, (data) => {
            if (data.category) {
                var b = ``;
                if (idCategory == idRootCategory) {
                    b = `                        
                        <nav data-depth="2" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
                                <span itemprop="name">Trang chủ</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/danh-muc/${data.category.alias}-${idRootCategory}">
                                <span itemprop="name">${data.category.name}</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                    </ol>
                    </nav>
                        `

                    document.title = `${data.category.name} | Alomobile`
                    $('#left-column > div.block-categories.hidden-sm-down > ul > li:nth-child(1) > a').html(`${data.category.name}`).attr('href', `/danh-muc/${data.category.alias}-${idRootCategory}`)
                

                } else {
                    b = `                        
                            <nav data-depth="3" class="breadcrumb hidden-sm-down">
                        <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/">
                                    <span itemprop="name">Trang chủ</span>
                                </a>
                                <meta itemprop="position" content="1">
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a itemprop="item" href="/danh-muc/${data.category.alias}-${idRootCategory}">
                                    <span itemprop="name">${data.category.name}</span>
                                </a>
                                <meta itemprop="position" content="2">
                            </li>`

                    var subCategories = data.category.subCategories || [];

                    if (subCategories.length > 0) {
                        var sub = subCategories.find(element => {
                            return element._id == idCategory
                        });

                        if (sub) {
                            b += `<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a itemprop="item" href="/danh-muc/${data.category.alias}-${idRootCategory}-${idCategory}">
                                        <span itemprop="name">${sub.name}</span>
                                    </a>
                                    <meta itemprop="position" content="3">
                                    </li>`
                        }

                        document.title = `${data.category.name} > ${sub.name} | Alomobile`
                        $('#left-column > div.block-categories.hidden-sm-down > ul > li:nth-child(1) > a').html(`${sub.name}`).attr('href', `/danh-muc/${data.category.alias}-${idRootCategory}-${idCategory}`)

                        //sub
                        var liBlock = `<li><ul class="category-sub-menu">`;
                        subCategories.forEach(s => {                        
                            if (s._id && s._id != idCategory ) {
                                liBlock+=`<li data-depth="0">
                                    <a href="/danh-muc/${data.category.alias}-${idRootCategory}-${s._id}">${s.name}</a>
                                </li>`
                            }
                        });

                        liBlock += `</ul></li>`
                        
                        $('#left-column > div.block-categories.hidden-sm-down > ul').append(liBlock);                  
                    }

                    b += `</ol>
                        </nav>
                            `
                }

                $(breadcrumb).append(b);
            }
        });
    })("<%- data.idCategory %>", "<%- data.idRootCategory %>");

    $(document).ready(($) => {
        $('#filter_product_options')

        $('#filter_product_options a').click((e) => {
            var filterBy = $(e.currentTarget).attr('data-filter-by');
            var filterName = $(e.currentTarget).text().trim();

            $('#filter_product_options').prev('button').html(`${filterName} <i class="material-icons float-xs-right">&#xE5C5;</i>`);           
                       
        });

        $('#js-product-list nav.pagination a').click((e) => {
            //find last product id
            var lastId = $('#js-product-list').find('div.item-product').last().attr('data-created-at');
            var action = 'next';
            if ($(e.currentTarget).hasClass('previous')) {
                action = 'previous';
            }

            $.get('/api/v1/product/get-products-by-category', {
                category: category,
                from: lastId,
                action: action
            }, (data) => {
                console.log(data.products);
            })
        });
    });
   
</script>
<script type="text/javascript" src="/static/js/product-in-category.js"></script>
</html>