<!doctype html>
<html lang="vi">
<head>
    <title>Delivery</title>
    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="">
    
    <%- include layouts/head %>
</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>        
        <!-- SECTION IS HERE -->
        
        <!-- END SECTION IS HERE  -->
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
</body>
</html>