<!doctype html>
<html lang="vi">

<head>
    <title>Alomobile - Trung tâm mua sắm thiết bị điện tử - viễn thông</title>
    <meta name="description" content="Trung tâm mua sắm các loại điện thoại, Tablet, Laptop và các phụ kiện chính hãng">
    <meta name="keywords" content="iphone, smartphone, tablet, may tinh bang, laptop, phu kien di dong, phu kien may tinh, samsung, apple, mua dien thoai, may tinh bang">
    <%- include layouts/head %>
</head>

<body id="index" class="lang-en country-us currency-usd layout-full-width page-index tax-display-disabled">
    <main>
        <header id="header">
            <div class="header-banner">
            </div>
            <%- include layouts/header-nav %>
                <%- include layouts/header-top %>
                    <%- include layouts/header-bottom %>
        </header>
        <div class="pos_bannerslide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="navleft-container hidden-md-down ">
                            <div class="pt_vegamenu">
                                <div class="pt_vmegamenu_title">
                                    <h2><i class="ion-navicon"></i>Tất cả danh mục</h2>
                                </div>
                                <!-- MENU -->
                                <div id="pt_vmegamenu" class="pt_vmegamenu pt_vegamenu_cate">
                                    <!-- A CATEGORY -->
                                    <% if (data.categories) { %>
                                        <% data.categories.forEach((category) => { %>
                                            <% var subCategories = category.subCategories; %>
                                                <% if (subCategories && subCategories.length != 0){ %>    
                                                    <div class="pt_menu">
                                                        <div class="parentMenu">
                                                            <a data-id-category = "<%- category._id %>" href="/danh-muc/<%- category.alias %>-<%- category._id %>" data-name-category="<%- category.name %>">
                                                            <span class="cate-thumb">
                                                                <img class="img-responsive lazyload" data-src="<%- category.icon %>" alt="">
                                                            </span>
                                                            <span><%- category.name %></span>
                                                        </a>
                                                        </div>
                                                        <div class="wrap-popup">
                                                            <div class="popup" style="display: none;">
                                                                <div class="arrow-left"></div>
                                                                <div class="box-popup">
                                                                    <div class="block1">
                                                                        <div class="column first col1" style="float: left">
                                                                            <div class="itemMenu">
                                                                                <a data-name-category="<%- category.name %>" data-id-category = "<%- category._id %>" class="itemMenuName" href="/danh-muc/<%- category.alias %>-<%- category._id %>" style="text-align: center;">
                                                                                    <span><%- category.name %></span>
                                                                                </a>
                                                                                <div class="itemSubMenu">
                                                                                    <div class="itemMenu">
                                                                                        <% subCategories.forEach((sub) => { %>
                                                                                            <% if (sub) { %>
                                                                                                <a data-name-category="<%- sub.name %>" data-id-category = "<%- sub._id %>" data-root-id-category="<%- category._id %>" class="itemMenuName" href="/danh-muc/<%- category.alias %>-<%- category._id %>-<%- sub._id %>" style="text-align: center;">
                                                                                                    <span><%- sub.name %></span>
                                                                                                </a>
                                                                                            <% } %>
                                                                                            <% }); %>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearBoth"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="pt_menu noSub">
                                                            <!-- level 0 -->
                                                            <div class="parentMenu">
                                                                <a href="/danh-muc/<%- category.alias %>-<%- category._id %>" data-id-category = "<%- category._id %>" data-name-category="<%- category.name %>">
                                                            <span class="cate-thumb"><img class="img-responsive lazyload" data-src="<%- category.icon %>" alt= ""/></span>
                                                            <span><%- category.name %></span>
                                                        </a>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <% }) %>
                                                                <% } %>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="slideshow_container">
                            <div class="pos-slideshow">
                                <div class="flexslider ma-nivoslider">
                                    <div class="pos-loading"></div>
                                    <div id="pos-slideshow-home" class="slides">
                                        <a href="#" title="Sample 1"><img style="display:none" src="/static/img/banner-slide-1.jpg"  data-thumb="/static/img/banner-slide-1.jpg"  alt="" title="#htmlcaption3"  /> </a>
                                        <a href="#" title="Sample 2"><img style="display:none" src="/static/img/banner-slide-2.jpg" data-thumb="/static/img/banner-slide-2.jpg"  alt="" title="#htmlcaption4"  /> </a>                                   
                                    </div>
                                    <div id="htmlcaption3" class="pos-slideshow-caption nivo-html-caption nivo-caption">
                                        <div class="timethai" style=" 
                                            position:absolute;
                                            top:0;
                                            left:0;
                                            z-index:8;
                                            background-color: rgba(49, 56, 72, 0.298);
                                            height:5px;
                                            -webkit-animation: myfirst 5000ms ease-in-out;
                                            -moz-animation: myfirst 5000ms ease-in-out;
                                            -ms-animation: myfirst 5000ms ease-in-out;
                                            animation: myfirst 5000ms ease-in-out;
                                        
                                        ">
                                        </div>
                                    </div>
                                    <div id="htmlcaption4" class="pos-slideshow-caption nivo-html-caption nivo-caption">
                                        <div class="timethai" style=" 
                                                position:absolute;
                                                top:0;
                                                left:0;
                                                z-index:8;
                                                background-color: rgba(49, 56, 72, 0.298);
                                                height:5px;
                                                -webkit-animation: myfirst 5000ms ease-in-out;
                                                -moz-animation: myfirst 5000ms ease-in-out;
                                                -ms-animation: myfirst 5000ms ease-in-out;
                                                animation: myfirst 5000ms ease-in-out;
                                            
                                            ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            //Function to animate slider captions 
                            function doAnimations(elems) {
                                //Cache the animationend event in a variable
                                var animEndEv = 'webkitAnimationEnd animationend';

                                elems.each(function() {
                                    var $this = $(this),
                                        $animationType = $this.data('animation');
                                        $this.addClass($animationType).one(animEndEv, function() {
                                        $this.removeClass($animationType);
                                    });
                                });
                            }
                            //Variables on page load 
                            var $myCarousel = $('.ma-nivoslider'),
                                $firstAnimatingElems = $myCarousel.find('.nivo-caption').find("[data-animation ^= 'animated']");
                            //Animate captions in first slide on page load 
                            doAnimations($firstAnimatingElems);

                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <aside id="notifications">
            <div class="container">
            </div>
        </aside>
        <div class="breadcrumb_container">
            <div class="container">
                <nav data-depth="1" class="breadcrumb hidden-sm-down">
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="/">
            <span itemprop="name">Trang chủ</span>
          </a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <section id="wrapper">
            <div class="container">
                <div class="pos-featured-products  product_block_container" data-items="4" data-speed="1000" data-autoplay="0" data-time="3000" data-arrow="1" data-pagination="0" data-move="1" data-pausehover="0" data-md="3" data-sm="2" data-xs="2" data-xxs="1">
                    <div class="pos_title">
                        <h2>
                Những sản phẩm đặc biệt
            </h2>
                    </div>
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col">
                            <div class="banner-box">
                                <a href="#"><img class="img-responsive lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/posfeaturedproducts/img/799bad5a3b514f096e69bbc4a7896cd9.jpg" alt="" title=""/></a>
                            </div>
                        </div>

                        <!-- SPECIAL PRODUCTS -->
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 col">
                            <div class="block-content">
                                <div class="pos_content">
                                    <div class="feature-item owl-carousel" id="special-product-block">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- /SPECIAL PRODUCTS -->

                    </div>
                </div>
                <div class="row">
                    <!-- PHONE CATEGORY -->
                    <div class="poslistcateproduct listPhoneCateProduct poslistcateproduct_0 product_container col-lg-6 col-md-12 col-sm-12 col-xs-12" data-items="2" data-speed="1000" data-autoplay="0" data-time="0" data-arrow="1" data-pagination="0" data-move="0" data-pausehover="0" data-md="2" data-sm="2" data-xs="2" data-xxs="1">
                        <div class="content-category">
                            <div class="pos_title">
                                <div class="row">
                                    <div class=" col-xs-12 col">
                                        <h2>
                                            <img class="lazyload" data-src="https://png.icons8.com/ios-glyphs/30/7f8c8d/iphone.png" alt=""/>
                                            <span>Điện thoại</span>                        
                                        </h2>
                                    </div>
                                    <div class=" col-xs-12 col">
                                    </div>
                                </div>
                            </div>
                            <div class="banner-box">
                                <a href="#"><img class="lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/poslistcateproduct/images/466e23bd75b95d3850bf25c505a5201f931974b0_4.jpg" alt="" /></a> </div>
                            <div class="block-content">
                                <div class="pos_content row">
                                    <!-- PHONE PRODUCTS -->
                                    <div class="listcateSlide owl-carousel" id="phone_product">
                                        
                                    </div>
                                    <!-- /PHONE PRODUCTS -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /PHONE CATEGORY -->

                    <!-- TABLET CATEGORY -->
                    <div class="poslistcateproduct listTabletCateProduct poslistcateproduct_1 product_container col-lg-6 col-md-12 col-sm-12 col-xs-12"     data-items="2" data-speed="1000" data-autoplay="0" data-time="0" data-arrow="1" data-pagination="0" data-move="0" data-pausehover="0" data-md="2" data-sm="2" data-xs="2" data-xxs="1">
                        <div class="content-category">
                            <div class="pos_title">
                                <div class="row">
                                    <div class=" col-xs-12 col">
                                        <h2>
                                            <img class="lazyload" data-src="https://png.icons8.com/windows/30/7f8c8d/android-tablet.png" alt=""/>
                                            <span>Máy tính bảng</span>
                        
                                        </h2>
                                    </div>
                                    <div class=" col-xs-12 col">
                                    </div>
                                </div>
                            </div>
                            <div class="banner-box">
                                <a href="#"><img class="lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/poslistcateproduct/images/f06b6028a4bd3e5af487e1a828f2b620ea1fe288_2.jpg" alt="" /></a> </div>
                            <div class="block-content">
                                <div class="pos_content row">
                                    <div class="listcateSlide owl-carousel" id="tablet_product">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /TABLET CATEGORY -->
                </div>
                <div class="row">
                    <!-- LAPTOP CATEGORY -->
                    <div class="poslistcateproduct listLaptopCateProduct poslistcateproduct_2 product_container col-lg-6 col-md-12 col-sm-12 col-xs-12" data-items="2" data-speed="1000" data-autoplay="0" data-time="0" data-arrow="1" data-pagination="0" data-move="0" data-pausehover="0" data-md="2" data-sm="2" data-xs="2" data-xxs="1">
                        <div class="content-category">
                            <div class="pos_title">
                                <div class="row">
                                    <div class=" col-xs-12 col">
                                        <h2>
                                            <img class="lazyload" data-src="https://png.icons8.com/windows/30/7f8c8d/laptop.png" alt=""/>
                                            <span>Máy tính xách tay</span>                        
                                        </h2>
                                    </div>
                                    <div class=" col-xs-12 col">
                                    </div>
                                </div>
                            </div>
                            <div class="banner-box">
                                <a href="#"><img class="lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/poslistcateproduct/images/466e23bd75b95d3850bf25c505a5201f931974b0_4.jpg" alt="" /></a> </div>
                            <div class="block-content">
                                <div class="pos_content row">

                                    <!-- LAPTOP PRODUCT -->
                                    <div class="listcateSlide owl-carousel" id="laptop_product">


                                    </div>
                                    <!-- /LAPTOP PRODUCT -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /LAPTOP CATEGORY -->

                    <!-- Accessories CATEGORY -->
                    <div class="poslistcateproduct listAccessoriesCateProduct poslistcateproduct_3 product_container col-lg-6 col-md-12 col-sm-12 col-xs-12" data-items="2" data-speed="1000" data-autoplay="0" data-time="0" data-arrow="1" data-pagination="0" data-move="0" data-pausehover="0" data-md="2" data-sm="2" data-xs="2" data-xxs="1">
                        <div class="content-category">
                            <div class="pos_title">
                                <div class="row">
                                    <div class=" col-xs-12 col">
                                        <h2>
                                            <img  class="lazyload" data-src="https://png.icons8.com/ios/30/7f8c8d/no-selfie-stick.png" alt=""/>
                                            <span>Phụ kiện</span>                            
                                        </h2>
                                    </div>
                                    <div class=" col-xs-12 col">
                                    </div>
                                </div>
                            </div>
                            <div class="banner-box">
                                <a href="#"><img class="lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/modules/poslistcateproduct/images/d340f7e382f4e26376b4d586a9238f72ead3091b_3.jpg" alt="" /></a> </div>
                            <div class="block-content">
                                <div class=" pos_content row">
                                    <div class="listcateSlide owl-carousel" id="accessoriesProduct">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Accessories CATEGORY -->

                </div>
                <div class="home-banner">
                    <div class="banner-box"><a href="#"><img class="lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/img/cms/6_2.jpg" alt="" /></a></div>
                </div>
                <div class="pos-special-products " data-items="2" data-speed="1000" data-autoplay="0" data-time="3000" data-arrow="1" data-pagination="0" data-move="0" data-pausehover="0" data-md="2" data-sm="1" data-xs="1" data-xxs="1">
                    <div class="pos_title">
                        <h2>
                            Các sản phẩm HOT
                        </h2>
                    </div>
                    <div class="">
                        <div class="pos_content">

                            <!-- HOT PRODUCTS -->
                            <div class="special-item owl-carousel" id="hot_product">

                                <% if (data.hotProducts) { %>
                                    <% data.hotProducts.forEach((product) => { %>
                                        <!-- ITEM -->
                                        <div class="item-product">
                                                <article class="js-product-miniature" data-id-product="3" data-id-product-attribute="13" itemscope itemtype="http://schema.org/Product">
                                                    <div class="img_block">
                                                        <a href="electronics/3-13-printed-dress.html#/1-size-s/13-color-orange" class="thumbnail product-thumbnail">
                                                            <img
                                                            class="lazyload" data-src = "http://demo.posthemes.com/pos_fastbuy/layout2/250-home_default/printed-dress.jpg"
                                                                alt = "Printed Dress"
                                                                data-full-size-image-url = "http://demo.posthemes.com/pos_fastbuy/layout2/250-large_default/printed-dress.jpg"
                                                            >
                                                            <img class="img-responsive second-image animation1 lazyload" 
                                                            data-src="http://demo.posthemes.com/pos_fastbuy/layout2/251-home_default_4/printed-dress.jpg" 
                                                                alt="" itemprop="image"  />                                    
                                                        </a>
                                                        <ul class="product-flag">
                                                            <li class="discount-percentage">-10%</li>
                                                            <li class=" discount">Reduced price</li>
                                                            <li class=" new">New</li>
                                                        </ul>
                                                        <ul class="add-to-links">
                                                            <li class="cart">
                                                                <div class="product-add-to-cart">
                                                                    <form class="add-to-cart-or-refresh">
                                                                        <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                                                        <input type="hidden" name="id_product" value="3" class="product_page_product_id">
                                                                        <input type="hidden" name="qty" value="1">
                                                                        <button class="button ajax_add_to_cart_button add-to-cart btn-default" data-button-action="add-to-cart" type="submit">
                                                                            Thêm vào giỏ hàng
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="javascript: void(0);" class="quick-view quick-view-product"  title="Quick view">Quick view</a>
                                                            </li>
                                                            <li>
                                                                <a href="electronics/3-13-printed-dress.html#/1-size-s/13-color-orange" class="links-details" title="Details">Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="desc_info">
                                                            <h4><a href="electronics/3-13-printed-dress.html#/1-size-s/13-color-orange" title="Printed Dress" itemprop="name" class="product_name">Printed Dress</a></h4>
                                                            <div class="hook-reviews">
                                                                <div itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating" class="comments_note">
                                                                    <div class="star_content clearfix">
                                                                        <div class="star "></div>
                                                                        <div class="star "></div>
                                                                        <div class="star "></div>
                                                                        <div class="star"></div>
                                                                        <div class="star "></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-price-and-shipping">
                                                                <span itemprop="price" class="price  price_sale ">$23.39</span>
                                                                <span class="sr-only">Regular price</span>
                                                                <span class="regular-price">$25.99</span>
                                                                <span class="discount-percentage">-10%</span>
                                                                <span class="sr-only">Price</span>
                                                            </div>
                                                            <div class="countdown">
                                                                <div class='time_count_down'>
                                                                    <span class="future_date_12_3 time_countdown" data-date-y='2019' data-date-m='12' data-date-d='12' data-date-h='00' data-date-mi='00' data-date-s='00'>  </span>
                                                                </div>
                                                                <span class="future_date_12_3 id_countdown"></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="product-desc" itemprop="description">
                                                                <p>100% cotton double printed dress. Black and white striped top and orange high waisted skater skirt bottom.</p>
                                                            </div>
                                                            <div class="variant-links">
                                                                <a href="electronics/3-13-printed-dress.html#/1-size-s/13-color-orange" class="color" title="Orange" style="background-color: #F39C11"><span class="sr-only">Orange</span></a>
                                                                <span class="js-count count"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="js-product-miniature" data-id-product="9" data-id-product-attribute="54" itemscope itemtype="http://schema.org/Product">
                                                    <div class="img_block">
                                                        <a href="electronics/9-54-printed-dress.html#/1-size-s/7-color-beige" class="thumbnail product-thumbnail">
                                                            <img
                                                            class="lazyload" data-src = "http://demo.posthemes.com/pos_fastbuy/layout2/226-home_default/printed-dress.jpg"
                                                                alt = "Printed Dress"
                                                                data-full-size-image-url = "http://demo.posthemes.com/pos_fastbuy/layout2/226-large_default/printed-dress.jpg"
                                                            >
                                                                                    <img class="img-responsive second-image animation1 lazyload" data-src="http://demo.posthemes.com/pos_fastbuy/layout2/227-home_default_4/printed-dress.jpg" 
                                                alt="" itemprop="image"  />
                                                
                                                        </a>
                                                        <ul class="product-flag">
                                                            <li class="discount-percentage">-8%</li>
                                                            <li class=" discount">Reduced price</li>
                                                            <li class=" new">New</li>
                                                        </ul>
                                                        <ul class="add-to-links">
                                                            <li class="cart">
                                                                <div class="product-add-to-cart">
                                                                    <form  class="add-to-cart-or-refresh">
                                                                        <input type="hidden" name="token" value="ab378079e5855a38465963bba8a75c1b">
                                                                        <input type="hidden" name="id_product" value="9" class="product_page_product_id">
                                                                        <input type="hidden" name="qty" value="1">
                                                                        <button class="button ajax_add_to_cart_button add-to-cart btn-default" data-button-action="add-to-cart" type="submit">
                                                                            Thêm vào giỏ hàng
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <a href="javascript: void(0);" class="quick-view quick-view-product"  title="Quick view">Quick view</a>
                                                            </li>
                                                            <li>
                                                                <a href="electronics/9-54-printed-dress.html#/1-size-s/7-color-beige" class="links-details" title="Details">Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product_desc">
                                                        <div class="desc_info">
                                                            <h4><a href="electronics/9-54-printed-dress.html#/1-size-s/7-color-beige" title="Printed Dress" itemprop="name" class="product_name">Printed Dress</a></h4>
                                                            <div class="hook-reviews">
                                                                <div class="comments_note" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                                                                    <div class="star_content clearfix">
                                                                        <div class="star star_on"></div>
                                                                        <div class="star star_on"></div>
                                                                        <div class="star star_on"></div>
                                                                        <div class="star star_on"></div>
                                                                        <div class="star star_on"></div>
                                                                        <meta itemprop="worstRating" content="0" />
                                                                        <meta itemprop="ratingValue" content="5" />
                                                                        <meta itemprop="bestRating" content="5" />
                                                                    </div>
                                                                    <span class="nb-comments"><span itemprop="reviewCount">1</span> Review(s)</span>
                                                                </div>
                                                            </div>
                                                            <div class="product-price-and-shipping">
                                                                <span itemprop="price" class="price  price_sale ">$46.91</span>
                                                                <span class="sr-only">Regular price</span>
                                                                <span class="regular-price">$50.99</span>
                                                                <span class="discount-percentage">-8%</span>
                                                                <span class="sr-only">Price</span>
                                                            </div>
                                                            <div class="countdown">
                                                                <div class='time_count_down'>
                                                                    <span class="future_date_12_9 time_countdown" data-date-y='2019' data-date-m='12' data-date-d='12' data-date-h='00' data-date-mi='00' data-date-s='00'>  </span>
                                                                </div>
                                                                <span class="future_date_12_9 id_countdown"></span>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="product-desc" itemprop="description">
                                                                <p>Printed evening dress with straight sleeves with black thin waist belt and ruffled linings.</p>
                                                            </div>
                                                            <div class="variant-links">
                                                                <a href="electronics/9-49-printed-dress.html#/2-size-m/7-color-beige" class="color" title="Beige" style="background-color: #f5f5dc"><span class="sr-only">Beige</span></a>
                                                                <a href="electronics/9-51-printed-dress.html#/1-size-s/24-color-pink" class="color" title="Pink" style="background-color: #FCCACD"><span class="sr-only">Pink</span></a>
                                                                <span class="js-count count"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!-- ITEM -->
                                    <% }); %>
                                <% } %>
                                
                            </div>
                            <!-- /HOT PRODUCTS -->

                        </div>
                    </div>
                </div>
                <div class="pos_logo product_block_container">
                    <div class="row pos_content">
                        <div class="logo-slider owl-carousel">
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/1.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/2.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/3.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/4.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/5.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/6.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                            <div>
                                <div class="item-banklogo">
                                    <a href="http://posthemes.com/">
                                <img class="replace-2x img-responsive lazyload" data-src ="http://demo.posthemes.com/pos_fastbuy/layout2/img/blocklogo/7.jpg" alt ="Logo" />
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pos_new_product  product_block_container" data-items="4" data-speed="1000" data-autoplay="0" data-time="3000" data-arrow="1" data-pagination="0" data-move="1" data-pausehover="0" data-md="4" data-sm="3" data-xs="2" data-xxs="1">
                    <div class="pos_title">
                        <h2>
                    Những sản phẩm mới
                </h2>
                    </div>
                    <div class="block-content">
                        <div class="pos_content row">

                            <!-- NEW PRODUCTS -->
                            <div class="newSlide owl-carousel" id="new_product">
                            </div>
                            <!-- /NEW PRODUCTS --> 
                        </div>
                    </div>
                </div> 
                <div class="customer_support">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <div class="info"><i class="material-icons">access_time</i>
                                    <div class="txt"><span class="txt1">Thứ 2 - 7 / 7:00 - 23:00</span> <span class="txt2">Thời gian làm việc</span></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <div class="info"><i class="material-icons">speaker_phone</i>
                                    <div class="txt"><span class="txt1">+84 169 6691673</span> <span class="txt2">Hỗ trợ miễn phí</span></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <div class="info"><i class="material-icons">mail_outline</i>
                                    <div class="txt"><span class="txt1">Support@alomobile.tech</span> <span class="txt2">Email hỗ trợ</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12">
                        <div id="main">
                            <div id="content" class="page-home">
                            </div>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include layouts/footer %>
    </main>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div class="back-top"><a href="#" class="back-top-button"></a></div>
    <div id="quickview-modal" class="modal fade quickview in" tabindex="-1" role="dialog" style="display: none;"></div>
    <div id="blockcart-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none; padding-right: 15px;"></div>
</body>
<script type="text/javascript" src="/static/js/index.js"></script>
</html>