<div class="header-bottom">
    <div class="megamenu">
        <div class="container">
            <!-- Block categories module -->
            <div class="ma-nav-mobile-container hidden-lg-up">
                <div class="pt_custommenu_mobile">
                    <div class="navbar">
                        <div id="navbar-inner" class="navbar-inner navbar-inactive" style="text-align: center">
                            <a class="btn-navbar" style="text-align: center">Danh mục</a>
                            <ul id="pt_custommenu_itemmobile" class="tree dhtml  mobilemenu nav-collapse collapse" style="text-align: center; ">   
                            
                                <% if (data.categories) { %>
                                        <% data.categories.forEach((category) => { %>
                                            <% var subCategories = category.subCategories; %>  
                                            <% if (subCategories && subCategories.length != 0) { %>
                                                <li><a href="/<%- category.alias %>" style="text-align: center"><%- category.name %></a>
                                                    <ul class="dhtml"> 
                                                        <% subCategories.forEach((sub) => { %>
                                                            <% if (sub.items && sub.items.length != 0 ){ %>
                                                                <% sub.items.forEach((item) => { %>   
                                                                                                            
                                                                    <li><a href="/<%- category.alias %>/<%- item.alias %>"><%- item.name %></a></li>
                                                                        
                                                                <% }); %>
                                                            <% } %>
                                                        <% }); %>
                                                    </ul>               
                                                </li>
                                            <% } else { %>
                                                <li><a href="/<%- category.alias %>" style="text-align: center"><%- category.name %></a></li>
                                            <% } %>                                            
                                        <% }); %>
                                <% } %>    
                            </ul>                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Block categories module -->
            <div class="nav-container hidden-md-down">
                <div class="nav-inner">
                    <div id="pt_custommenu" class="pt_custommenu">
                        <div id="pt_menu_home" class="pt_menu act">
                            <div class="parentMenu"><a class="fontcustom2" href="/"><span>Trang chủ</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/delivery"><span>Chính sách giao hàng</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/legal-notice"><span>Chính sách bảo hành</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/terms-and-conditions-of-use"><span>Các điều khoản và sử dụng</span></a></div>
                        </div>
                        <div class="pt_menu pt_menu_cms">
                            <div class="parentMenu"><a class="fontcustom2" href="/about-us"><span>Về chúng tôi</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            //<![CDATA[
            var CUSTOMMENU_POPUP_EFFECT = 1;
            var CUSTOMMENU_POPUP_TOP_OFFSET = 60;
            //]]>
            </script>
        </div>
    </div>
</div>